div.topmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.topmenu li {
    float: left;
}

div.topmenu a:link, div.topmenu a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #c1e6ff;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

div.topmenu a:hover, div.topmenu a:active {
    background-color: darkblue;
}

div.dsrboattypes p {
    background-color: navy;
    color: white;
}