H1
{
    BACKGROUND-POSITION: center 50%;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    PADDING-BOTTOM: 6px;
    COLOR: #000080;
    BORDER-TOP-STYLE: solid;
    PADDING-TOP: 6px;
    FONT-FAMILY: Arial, Verdana, Helvetica;
    BORDER-RIGHT-STYLE: solid;
    BORDER-LEFT-STYLE: solid;
    BACKGROUND-COLOR: #000000;
    TEXT-ALIGN: center;
    BORDER-BOTTOM-STYLE: solid
}
H2
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    MARGIN-BOTTOM: 5px;
    COLOR: #000000;
    LINE-HEIGHT: 100%;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
P
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
A:link
{
    COLOR: black;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: black;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: black;
    BACKGROUND-COLOR: azure;
    TEXT-DECORATION: none
}
SCRIPT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
BODY
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial, Verdana, Helvetica;
    BACKGROUND-COLOR: #c1e6ff
}
TD.body1
{
    BACKGROUND-COLOR: #9c0000
}
TD.body2
{
    BACKGROUND-POSITION: center 50%;
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-IMAGE: url(testdsr/water4.gif);
    BACKGROUND-REPEAT: repeat-x
}
TABLE.menu
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #daefff
}
TD.menu
{
    FONT: bold 11pt Arial, Verdana, Helvetica;
    TEXT-ALIGN: center
}
.overskrift
{
    FONT: bold 11pt Arial, Verdana, Helvetica;
    TEXT-ALIGN: center
}
A.menupunkt1
{
    BORDER-RIGHT: #daefff 1px solid;
    BORDER-TOP: #daefff 1px solid;
    DISPLAY: block;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #daefff 1px solid;
    WIDTH: 99%;
    COLOR: black;
    LINE-HEIGHT: 22px;
    BORDER-BOTTOM: #daefff 1px solid;
    FONT-FAMILY: Arial, Verdana, Helvetica;
    BACKGROUND-COLOR: transparent
}
A.menupunkt1:link
{
    BORDER-RIGHT: #daefff 1px solid;
    BORDER-TOP: #daefff 1px solid;
    BORDER-LEFT: #daefff 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #daefff 1px solid;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
A.menupunkt1:visited
{
    BORDER-RIGHT: #daefff 1px solid;
    BORDER-TOP: #daefff 1px solid;
    BORDER-LEFT: #daefff 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #daefff 1px solid;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
A.menupunkt1:active
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    BORDER-BOTTOM: black 1px;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
A.menupunkt1:hover
{
    BORDER-RIGHT: #daefff 1px solid;
    BORDER-TOP: #daefff 1px solid;
    BORDER-LEFT: #daefff 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #daefff 1px solid;
    BACKGROUND-COLOR: azure;
    TEXT-DECORATION: none
}
A.menupunkt2
{
    BORDER-RIGHT: #c0c0c0 1px;
    BORDER-TOP: #c0c0c0 1px;
    DISPLAY: block;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #c0c0c0 1px;
    WIDTH: 99%;
    COLOR: black;
    BORDER-BOTTOM: #c0c0c0 1px;
    FONT-FAMILY: Arial, Verdana, Helvetica;
    BACKGROUND-COLOR: transparent
}
A.menupunkt2:link
{
    BORDER-RIGHT: #daefff 1px;
    BORDER-TOP: #daefff 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #daefff 1px;
    COLOR: black;
    BORDER-BOTTOM: #daefff 1px solid;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
A.menupunkt2:visited
{
    BORDER-RIGHT: #daefff 1px;
    BORDER-TOP: #daefff 1px solid;
    BORDER-LEFT: #daefff 1px;
    COLOR: black;
    BORDER-BOTTOM: #daefff 1px solid;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
A.menupunkt2:active
{
    BORDER-RIGHT: black 1pt;
    BORDER-TOP: black 1pt solid;
    BORDER-LEFT: black 1pt;
    COLOR: black;
    BORDER-BOTTOM: black 1pt solid;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
A.menupunkt2:hover
{
    BORDER-RIGHT: #daefff 1px;
    BORDER-TOP: #daefff 1px solid;
    BORDER-LEFT: #daefff 1px;
    COLOR: black;
    BORDER-BOTTOM: #daefff 1px solid;
    BACKGROUND-COLOR: azure;
    TEXT-DECORATION: none
}
TABLE.rostat
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid
}
TH.tablehead
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: navy;
    TEXT-ALIGN: center
}
A.menupunkt3
{
    DISPLAY: block;
    WIDTH: 99%;
    LINE-HEIGHT: 21px
}
A.menupunkt3:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.menupunkt3:visited
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.menupunkt3:active
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000080;
    TEXT-DECORATION: none
}
A.menupunkt3:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000080;
    TEXT-DECORATION: none
}
TR.fremh
{
    BACKGROUND: #ff4500
}
TD.fremh
{
    BACKGROUND: #ff4500
}
TR.firstrow
{
    BACKGROUND-IMAGE: none;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: lightskyblue
}
TR.secondrow
{
	BACKGROUND-IMAGE: none;
	BACKGROUND-REPEAT: repeat;
	BACKGROUND-COLOR: #cfefff;

}
TD.rowtext
{
    TEXT-ALIGN: left
}
TD.rownumber
{
    TEXT-ALIGN: right
}
TD.rowdate
{
    TEXT-ALIGN: right
}
TABLE
{
    FONT-SIZE: 9pt
}
TD.DetailInfo
{
    BORDER-RIGHT: black 1pt solid;
    BORDER-TOP: black 1pt solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1pt solid;
    COLOR: black;
    BORDER-BOTTOM: black 1pt solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: azure
}
.selectedrow {
	background-color: #FF9933;
}
