<script type="text/ng-template" id="memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>

<h2>Eksisterende hold</h2>
 
  <ul>
    <li ng-repeat="tm in teams" ng-click="setTeam(tm)"  ng-class="{selected: currentteam == tm}" >
      {{tm.name}} {{tm.description}}:  {{tm.instructor_name}} ({{tm.instructor}})
      <strong  ng-click="deleteTeam(tm)">SLET HOLD</strong>
    </li>
  </ul>

  <h2>Tilføj nyt hold</h2>
  
  <ng-form name="newTeam">    
    <input placeholder="holdnavn" autocomplete="off" "teamname" name="teamname" type="text" ng-model="newteam.name" required />
    <input placeholder="hold beskrivelse" autocomplete="off" "teamdesc" name="teamdesc" type="text" ng-model="newteam.description" />        
    <input placeholder="instruktør" autocomplete="off" id="coxinstructor" name="coxinstructor" type="text" ng-model="newteam.instructor"
           typeahead-min-length="2" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue) | filter: coxinstructor(rower)"
                typeahead-template-url="memberTemplate.html" required />
    <br>
    <button class="green" ng-click="addTeam()">opret styrmandshold</button>
  </ng-form>


  <h2>Styrmandsaspiranter</h2>

  <div>
    <ng-form name="teamMembers">    
      <table>
        <thead>
          <th><button class="header" ng-click="sortAspirantBy('name')">Name</button></th>
          <th><button class="header" ng-click="sortAspirantBy('team')">Hold</button></th>
          <th>Telefon</th>
          <th>Email</th>
          <th><button class="header" ng-click="sortAspirantBy('preferred_time')">Foretr. tid</button></th>
          <th><button class="header" ng-click="sortAspirantBy('preferred_intensity')">Foretr int</button></th>
          <th><button class="header" ng-click="sortAspirantBy('activities')">Aktiviteter</button></th>
          <th>Godkendelser</th>
      </thead>
      <tbody>
        <tr ng-repeat="aspirant in aspirants" ng-class-odd="'oddstat'">
          <td>{{aspirant.name}}</td>
          <td>
            <select name="teamchooser" id="teamselect" ng-model="aspirant.team"
                    ng-options="team.name as team.name for team in teams| orderBy: 'team'" ng-change="updateTeamForAspirant(aspirant,team)" required>
            </select>
          </td>
          <td>{{aspirant.phone}}</td>
          <td>{{aspirant.email}}</td>
          <td>{{aspirant.preferred_time}}</td>
          <td>{{aspirant.preferred_intensity}}</td>
          <td>{{aspirant.activities}}</td>
          <td>
            <ul>
              <li ng-repeat="rq in requirements">{{rq.name}}</li>
              </ul>
              
          </td>
      </tbody>
    </table>
  </ng-form>
</div>
  
<h2>Godkendelser</h2>


  <pre>
ASP{{aspirants}}
</pre>
<br>
<pre>{{newteam|json}}</pre>
<pre>Rq:{{requirements|json}}</pre>




<pre>
	Afmærkning af medlemmets deltagelse på et hold (gerne et holdnummer, der går igen i næste modul)
	Mulighed for at ”trække et medlem tilbage” på listen fra et hold
	Mulighed for at sortere og/eller finde via de seks første feltoplysninger
</pre>
