<script type="text/ng-template" id="memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>

<ng-form name="coxAspirant">


  <h2>Opskrivning på styrmandshold</h2>
  
  <div>
  <label for="cox.deltager">Jeg er</label>
  <input placeholder="styrmandsaspirant" autocomplete="off" id="coxaspirant" name="coxaspirant" type="text" ng-model="signup.aspirant"
         typeahead-min-length="3" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue) | filter: notCox(rower)"
         typeahead-template-url="memberTemplate.html" required />
  </div>

  Jeg vil have have
  <select name="intensitychooser" id="signupintensity" ng-model="signup.intensity"
          ng-options="intensity for intensity in intensities" required>
  </select>
intensitet.
  <br>
  Jeg foretrækker instruktion til 
  <select name="intensitychooser" id="signupintensity" ng-model="signup.season"
          ng-options="season for season in seasons" required>
  </select>

  <br>
  Jeg træner på:
  <ul>
    <li ng-repeat="activity in activities">
      <input type="checkbox" checklist-model="signup.act" checklist-value="activity"> {{activity}}
    </li>
  <ul>
  
  <br>
  Mit telefonnummer er:
  <input autocomplete="off" ng-model="signup.phone" maxlength="15" class="ui-select-bootstrap" type="text" name="input" required ></input>

    <br>
Og desuden:
    <textarea placeholder="fri tekst, fx hvem du gerne vil på hold med"
              class="signuptext" autocomplete="off" id="signupcmt" name="cmt" type="text" ng-model="signup.comment" required>
    </textarea>

<br>
  
  <button class="klar" ng-click="signup()">Registrer</button>


</ng-form>
<br>
<!--pre>{{currentteam}}</pre-->
<pre>asp: {{signup.aspirant}}</pre>
<pre>sup: {{signup}}</pre>
