/* Generic */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: #555;
    background: #F1F2F7;
    font-weight: 400;
}

button {
    border-radius: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    width: auto;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tools ul {
    list-style-type: none;
    padding: 0;
    margin-left: 2em;
    color: blue    max-width: 29%;
    position :fixed;
}

.tools a {
    color: red;
    font-weight: bold;
}

pre.ng-binding {
    /* display: none; */
}
*:focus {
    outline: 0;
}

button {
    -webkit-appearance: none;
    background: none;
    border-radius: 5px;
    border: 0;
    padding: 4pt 10pt;
    margin-top: 5pt;
    border: 1px solid #ccc;
}

button:hover {
    /*    color: #23AEE2;*/
    /*    border: 1px solid #23AEE2;*/
}
button i {
    margin-right: 5pt;
}
button.red {   
    border: 1px solid #FF6C60;
    color: #FF6C60;
}
button.green {   
    border: 1px solid #3ECBBF;
    background: #028000;
    color: #FFFFFF;
    font-size: 16pt;
}
button.header, tr.header {   
    border: 1px solid #000000;
    color: #FFFFFF;
    background: #75c1be;
}
button.klar {   
    border: 1px solid #3ECBBF;
    color: #000000;
    background:#F1FFEF;
    padding: 1pt 3pt;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}


button.yellow {
    color: #f0ce4e;
    border: 1px solid #f0ce4e;
}

th {
    padding: 0.5em;
}

td.usage {
    max-width:14pt;
}

button.big,button.action,input.big {
    background: #D6FFB6; !important;
    border: 2px solid #000000;
    color: #000000;
    margin-top:0px;
}

button.minor {
    color: #000000;
    font-size: 8pt;
    background: #FFFAC5; !important;
    border: 1px solid #000000;
    padding 4px;
    margin-left: 4px;
    margin-top:0px;
}


button.action {
    color: #000000;
    padding: 0pt 8pt;
}

input.big {
    color: #000000;
}


button#createtrip_button[disabled] {
    color: gray;
    border: 1px solid blue;
}

/* Custom */
.menuholder {
    margin: 0;
}
.menu li.logo {
    padding: 0;
    padding-top: 3pt;
    padding-left: 4pt;
}
.logo img {
    height: 30pt;
}
.menu {
    list-style: none;
    background: #0088C0;
    padding: 0 10pt;
    margin: 0;
    width: 70%
}
.menu li {
    display: inline-block;
    padding: 4pt 4pt;
    margin: 0;
    cursor: pointer;
    vertical-align: top;
}
.menu li a {
    color: white;
    text-decoration: none;
}
.menu li:hover a {
    color: #d4d4c8;
}
.quarter {
    color: green;
    font-size: 16pt;
    margin-right: 4pt;
}

.menu li i {
    font-size: 12pt;
    margin-right: 4pt;
}
.menu li:hover i {
    color: #ede511;
}

.main {
    margin: 0;   
    padding: 4pt 6pt;
}

.prompt {
    display:inline-block;
}
button.statcat, button.adminbut {
    background: #EEC88E;
    margin: 3pt;
}


.statlist,
.coxlist,
.rower,
.genericcategories,
.stats,
.baselayout,

.genericmenu h2 {
    background: #23aee2;
    padding: 10pt;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    border-radius: 5px 5px 0 0;
}
.genericmenu ul {
    background: white;
}
.genericmenu ul li {
    cursor: pointer;
}

.genericmenu ul li:hover {
    background: #57C8F2;
}

.genericmenu {
    width: auto;
}

.rowerstat {
    float:left;
    margin-bottom: 2em;
}


.listmenu caption{
    background: #23aee2;
    padding: 10pt;
    font-size: 10pt;
    font-weight: 400;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.listmenu table caption {
    background: #23aee2;
    padding: 10pt;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}

table caption {
    background: #23aee2;
    color: white;
    font-size: 12pt;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.correction {
    border-style: solid;
    border-color: #ff0000;
    border-radius: 5px 5px 5px 5px;
    display:inline-block;
}

.rightbox {
    float:right;
    border-style: solid;
    border-color: #ff0000;
    border-radius: 5px 5px 5px 5px;
    width:auto;
    //    display: inline-block;
    padding: 5px;
    right : 0px;
    margin-top: 3em;
    top: 0px;
    max-width: 32%;
    position :fixed;
}

.blok, .destinations {
    display: inline-block;
    float: left;
}
.rowchart {
    display: inline-block;
    width : 100%;
}

.newboattype {
    margin-top: 2em;
}

.listmenu,.boattypesmenu ul {
    background: white;
}

li.selected,button.selected {
    background: #50E663 !important;
}


.coxlist {
    background: #50E663 !important;
    border-radius: 5px;
    overflow: visible;
    float:left;
    margin-bottom: 2em;
}

.coxlist thead th {
    background: #3ECBBF;
    color: white;
    padding: 9pt 10pt 9pt 10pt;
    font-weight: 400;
    border-right: 1px solid white;
    user-select:none;
    -webkit-user-select:none;
}

.coxlist thead th,
.coxlist tbody tr.genericheader th {
    background: #3ECBBF;
    color: white;
    padding: 9pt 10pt 9pt 10pt;
    font-weight: 400;
    border-right: 1px solid white;
    user-select:none;
    -webkit-user-select:none;
}

.statlist,.coxlist thead th {
    background: #3ECBBF;
    color: white;
    padding: 9pt 10pt 9pt 10pt;
    font-weight: 400;
    border-right: 1px solid white;
    user-select:none;
    -webkit-user-select:none;
}

.boatlist thead th:first-child {
    border-radius: 5px 0 0 0;
}


.boatlist thead th:last-child {
    border-radius: 0 5px 0 0 0;
    background: #3ECBBF;
}

.boatlist thead th:last-child {
    border-radius: 0 5px 0 0 !important;
}

.coxlist td {
    padding: 0 0 0 0;
    border-right: 1px solid #F1F2F7;
    border-bottom: 1px solid #F1F2F7;
}

.rnum {
    text-align: right!important;
    padding-right: 6px;
}
.togg {
    text-align: center;
    padding: 2px;
}

.coxrq {
    background: #efff00;
    padding: 0.4em;
    margin-top: 0px;
}


.passed {
    background: #00ff00;
}

.teamchoose {
    background: #00ffaa;
}

.selected td {
    padding: 0 0 0 0;
    border-right: 1px solid #F1F2F7;
    border-bottom: 1px solid #F1F2F7;
    background: #50E663;
}

.deletion  {
    background: #F5B8B8;
}

.boatlist tr:hover {
    background: #6ad7ce;
}

.statlist,.coxlist td {
    padding: 6pt 10pt 6pt 10pt;
    border-right: 1px solid #F1F2F7;
    border-bottom: 1px solid #F1F2F7;
}

.checkout-form h2 {
    background: #3ECBBF;
    padding: 10pt;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    border-bottom: 1px solid white;
    border-radius: 1.5em 1.5em 0 0;
}
.checkout-form form {
    padding: 1pt;
    background: white;
}
.checkout-form label {
    font-weight: 400;
    color: #555;
}

.oddstat {
    background: #FFAA88;
}

.error {
    color: red;
}

.message {
    color: red;
}



div.report {
    margin-top: 1.5em;
}

div.guestpenguin {
    margin: 0em 1em 2em 0em !important;
}


.numin  {
    max-width: 3em;
    text-align: right!important;
    
}

input[type=number]::-webkit-inner-spin-button {  
    opacity: 1;
}


select  {
    border-radius: 1.5empx;
    border: 1px solid #ccc;
    padding: 3pt;
    margin-bottom: 0pt;
    background-color: #FFB992;
    border-radius: 5px;
}

.leftpane {
    float:left;
    width:70%;
}

.toppane {
    width: 100%;
    clear:both;
}
.alert {
    color: #f00;
}

.datealert {
    background: #f00;
}

.toppopup .uib-datepicker-popup {
    top: 0px!important;
}

.debug {
    width:100%;
}

.checkinactions {
    display: flex;
}

button[disabled], html input[disabled] {
    cursor: default;
    background: #808080 !important;
    pointer-events: none;
}

.rowerdiff {
    margin-left: 3em;
}

.aisle {
    max-width: 5em;
}

.seatcount {
    max-width: 5em;	
}

.ok,.degree {
    text-align:center;
}

.crewcount {
    background: #E3FFE8;
}

.trip-search-field {
    display: inline;
    min-height: 34px;
    padding: 6px;
}

textarea {
    resize: vertical;
}

.uib-time input {
    width: 2em;
}

.uib-timepicker tr td {
    padding : 0px;
}


.form-control {
    padding: 0px;
}

.tbody {
    background : #FFD;
}

.chart-bar {
    background : #DFD;
}

select.ng-invalid, input.ng-invalid {
    background: #FCC;
}

datetimepicker.ng-empty ng-form div input {
    background: #FCC;
}

.ng-pristine {
    background: white;
}
.error {
    color: red;
    background:white;
}
.widget-clock .time {
    font-size: 2.0em;
    margin: 0;
    color: yellow;
}

.hours {
    margin-left: 4em;
    font-size: 1.0em;
}

.uib-datepicker tr td {
    background: #DAD3D3;
    padding: 0px;
}

.uib-datepicker button {
    margin: 0px;
    padding: 0px;
}
.uib-daypicker button {
    margin: 0px;
}

datetimepicker.trip-search-field ng-form div input {
    background: white;
}

.destinationlist {
    background: yellow;
    width: 30em;
    position:fixed;
    border: 2px solid blue;
}

.topsel {
    xbackground: green;
    background:#BFFFBF;
    border-radius: 0.8em;
    color: black !important;
    border: 1px solid yellow;
}

.topsel a {
    color: black !important;
}

.topsel i {
    color: black;
}

.listbox {
    background-color: #ddddff;
    display:inline-block;
    border-radius: 0.4em;
    padding: 1em;
}

.listbox th {
    padding-left: 1em;
    padding-right: 1em;
    align:center;
}

textarea.signuptext {
    width:40%;
    vertical-align: top;
    align:center;
}


.nottoday {
	  background: #bbbbaa;    
}

.acts {
    display: inline;
}
