vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_cachedlinkinfo:VX|S|topglobd.gif S|toptxtr.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|28 Dec 2001 14:15:59 +0100
vti_filesize:IR|642
vti_cacheddtm:TX|28 Dec 2001 12:16:00 -0000
vti_backlinkinfo:VX|testdsr/dsrtopmenu.html
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|09 Dec 2001 14:06:22 +0100
vti_extenderversion:SR|4.0.2.4022
vti_timelastmodified:TR|28 Dec 2001 12:16:00 -0000
vti_cachedsvcrellinks:VX|FSUS|_Themes/topo/topglobd.gif FSUS|_Themes/topo/toptxtr.gif
