<div class="boattypesmenu">
    <h2>Vælg bådetype</h2>
    <ul>
        <li ng-repeat="boattype in boattypes">
            <div ng-click="select(boattype.boats)">{{boattype.name}}</div>
        </li>
    </ul>   
</div>

<table class="boatlist">
    <thead>
        <tr>
            <th>Båd</th><th>Status</th><th>Information</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="boat in selected">
            <td>{{boat.name}}</td>
            <td>{{boat.status}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
