<div class="boattypesmenu">
    <h2>Vælg bådetype</h2>
    <ul>
        <li ng-repeat="boattype in boattypes">
            <div ng-click="select(boattype.boats)">{{boattype.name}}</div>
        </li>
    </ul>   
</div>

<table class="boatlist">
    <thead>
        <tr>
            <th>Båd</th><th>Status</th><th>Information</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="boat in selected">
            <td>{{boat.name}}</td>
            <td>{{boat.status}}</td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="register-form">
    <form novalidate>
        <div class="form-group">
            <label for="checkout_destination">Destination</label>
            <select id="checkout_destination" type="text" ng-model="checkout.destination" ng-options="item as item.name for item in destinations">
                <option value="">Vælg destination her</option>
            </select>
        </div>
        <div class="form-group">
            <label for="checkout_starttime">Ud</label>
            <input type="text" id="checkout_starttime" name="input" ng-model="checkout.starttime" required />
        </div>
        <div class="form-group">
            <label for="checkout_expectedtime">Forventet ind</label>
            <input type="text" id="checkout_expectedtime" name="input" ng-model="checkout.expectedtime" required />
        </div>
        <div class="form-group">
            <label for="checkout_endtime">Ind</label>
            <input type="text" id="checkout_endtime" name="input" ng-model="checkout.endtime" required />
        </div>
        <div class="form-group">
            <label for="checkout_triptype">Tur type</label>
            <select id="checkout_triptype" type="text" ng-model="checkout.triptype" ng-options="item as item.name for item in triptypes">
            </select>
        </div>
        <div class="form-group">
            <label for="checkout_comments">Bemærkninger</label>
            <input id="checkout_comments" type="text" ng-model="checkout.comments" />
        </div>
        <div class="form-group">
            <fieldset>
                <legend>Styrmand</legend>
                <input id="checkout_rower0_id" type="text" ng-model="checkout.rowers[0].id" />
                <input id="checkout_rower0_name" type="text" ng-model="checkout.rowers[0].name" />
            </fieldset>
            <fieldset ng-repeat="n in [] | range:1:3">
                <legend>Roer {{n}}</legend>
                <input id="checkout_rower{{n}}_id" type="text" ng-model="checkout.rowers[n].id" />
                <input id="checkout_rower{{n}}_name" type="text" ng-model="checkout.rowers[n].name" />
            </fieldset>
            <button ng-click="checkout(checkout)">Udskriv båd</button>
            <button ng-click="createrower(checkout)">Opret roer</button>
            <button ng-click="reportdamage(checkout)">Meld skade</button>
            <button ng-click="back(checkout)">Tilbage</button>
        </div>
    </form>
    <pre>form = {{checkout | json}}</pre>
</div>

