<h2>Seneste 4 kvartalsopgørelser</h2>
<ul>
    <li ng-repeat="q in quarters"> <a class="quarter" href="/backend/team/quarterly.php?quarter={{q}}">{{q}}. kvartal</a>  </li>
</ul>

<h2>Eksisterende hold</h2>
 
  <ul>
    <li ng-repeat="tm in teams" ng-click="setTeam(tm)"  ng-class="{selected: currentteam == tm}" >
      {{tm.name}} {{tm.teamkey}} {{tm.description}}: {{tm.dayofweek}} {{tm.timeofday}} : {{tm.teacher}}
       <i class="fa fa-trash" ng-click="deleteTeam(tm)"  confirm="slet hold {{tm.name}}"></i>
    </li>
  </ul>

  <h2>Tilføj nyt hold</h2>
  
  <ng-form name="newTeam">

    <input placeholder="holdnavn" autocomplete="off" "teamname" name="teamname" type="text" ng-model="newteam.name" required />
    <input placeholder="hold beskrivelse" autocomplete="off" "teamdesc" name="teamdesc" type="text" ng-model="newteam.description" />
    <select ng-model="newteam.dayofweek" ng-options="dow for dow in weekdays" required ></select>
    <input placeholder="holdtid tt:mm" autocomplete="off" class="timeshort"
           "teamtime" name="teamtime" type="text" ng-model="newteam.timeofday" ng-pattern="todpattern" required />
    <input placeholder="underviser" autocomplete="off" "teacher" name="teamteacher" type="text" ng-model="newteam.teacher" required />
    <input placeholder="holdkode" autocomplete="off" "teamkey" name="tkey" type="text" ng-model="newteam.key" class="holdkode" />
    <br>

  <button ng-click="addTeam()" ng-disabled="newTeam.$invalid" class="submit">opret gymnastikhold</button>
</ng-form>

<br>
<!--pre>{{teams}}</pre-->
