<div class="genericcategories">
  <div class="genericmenu">
  <h2>Vælg statistik</h2>
    <ul>
      <li ng-repeat="statcategory in ['any','rowboat', 'kayak', 'kaniner']"  ng-click="dorowers(statcategory)" >{{statcategory}}</li>
    </ul>   
    <!--h3>både</h3> <ul ng-init="cats=['alle','robåd', 'kayak']"> <li ng-repeat="statcategory in cats" ng-click="doboats(statcategory)">{{statcategory}}</li>  </ul -->   
</div>

<button class="genericmenu" ng-click="tableParams.sorting('distance','desc')" align="left" class="btn btn-default ">default sortering</button>
</div>
<!--<p><strong>Sorting:</strong> {{tableParams.sorting()|json}}<p><strong>Filter:</strong> {{tableParams.filter()}}<p><strong>cat:</strong> {{tableParams.rowcategory|json}}-->

<div class="stats">
<table ng-table="tableParams" class="statlist" show-filter="true">
  <thead>
    <tr>
      <th class="text-center sortable"
	ng-class="{'sort-asc': tableParams.isSortBy('rank', 'asc'),'sort-desc': tableParams.isSortBy('rank', 'desc')}"
	ng-click="tableParams.sorting('rank', tableParams.isSortBy('rank', 'asc') ? 'desc' : 'asc')">nr</th>
      <th ng-click="tableParams.sorting('id', tableParams.isSortBy('id', 'asc') ? 'desc' : 'asc')">Medlemsnummer</th>
      <th ng-click="tableParams.sorting('firstname', tableParams.isSortBy('firstname', 'asc') ? 'desc' : 'asc')">Roer</th>
      <th  ng-class="{'sort-asc': tableParams.isSortBy('distance', 'asc'),'sort-desc': tableParams.isSortBy('distance', 'desc')}" ng-click="tableParams.sorting('distance', tableParams.isSortBy('distance', 'asc') ? 'desc' : 'asc')">Distance</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="stat in $data" ng-class-odd="'oddstat'"> 
      <td sortable="'rank'" data-title="'Nr'">{{stat.rank}} </td>
      <td data-title="'Medlemsnummer'" sortable="'memberid'"><a href="#/rower/{{stat.id}}">{{stat.id}}</a> </td>
      <td>{{stat.firstname}} {{stat.lastname}}</td>
      <td>{{(stat.distance/1000).toFixed(1)}}</td></td>
    </tr>
  </tbody>
</table>
</div>
<!--pre> {{boat_category_id}} </pre-->
