<div class="statcategories" ng-include="'templates/stats/_statcategories.html'"></div>

<table class="statlist">
    <thead>
        <tr>
            <th>nr</th><th>Medlemsnummer</th> <th>Roer</th><th>Distance</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stat in stats" ng-class-odd="'oddstat'"> 
            <td>{{stat.rank}}</td><td><a href="#/rower/{{stat.id}}">{{stat.id}}</a></td> <td>{{stat.firstname}} {{stat.lastname}}</td> <td>{{(stat.distance/1000).toFixed(1)}}</td></td>
        </tr>
    </tbody>
</table>

<!--pre> {{boat_category_id}} </pre-->
