<div class="menuholder">
  <button ng-click="do='boat'">Både</button>
  <button ng-click="do='user'">Roere</button>
  <button ng-click="do='trip'">Ture</button>
  <button ng-click="do='correction'">Fejlrettelser</button>
</div>

<div ng-show="do=='boat'">
  <div class="blok">
    <table class="boatlist" >
      <caption>Bådtyper</caption>
      <thead>
        <tr>
	  <th>Bådtype</th><th>Antal sæder</th><th>Robåd/kajak</th><th>Rettighedskrav</th>
        </tr>	
      </thead>
      <tbody>
        <tr ng-repeat="bt in DB('boattypes')">
	  <td >{{bt.name}}</td>
	  <td >{{bt.seatcount}}</td>
	  <td ><select  ng-model="bt.Category" ng-options="bk.id as bk.name for bk in boatkayakcategories"></select></td>
	  <td><button class="action" ng-click="doboatrights(bt.rights,bt)">{{bt.rights|rightreqs}}</button></td>
        </tr>
      </tbody>
    </table>

    <form>
      <table class="boatlist" >
        <caption>Ny Bådtype</caption>
        <thead>
	  <tr>
	    <th>Bådtype</th><th>Antal sæder</th><th>Robåd/kajak</th><th>Rettighedskrav</th>
	  </tr>	
        </thead>
        <tbody>
	  <tr>
	    <td><input type="text" ng-model="newcategory.name"></input></td>
	    <td><input type="number" ng-model="newcategory.numseats"></input></td>
	    <td ><select  ng-model="newcategory.Category" ng-options="bk.id as bk.name for bk in boatkayakcategories"></select></td>
	    <td ><button class="action" ng-model="newcategory.rights">{{newcategory.rights|rightreqs}}</button></td>
	  </tr>
	  <tr><td>
	      <input class="big" ng-show="newcategory.name&&newcategory.numseats&&newcategory.Category" type="submit" ng-click="createBoattype()" value="Opret ny bådtype" />
	</td></tr>	
        </tbody>
      </table>
    </form>
  </div>

  <div ng-show="currentboattype" class="rightbox">
    <table>
      <caption>Administrer rettigheder for bådtypen {{currentboattype.name}}</caption>
    <thead>
      <tr><th>Rettighed</th><th>kræves af</th><th></th></tr>	
    </thead>
    <tbody>
      <tr ng-repeat="(rt,subject) in requiredrights">
	<td>{{rt}}</td>	  
	<td> <select ng-model="subject" ng-options="rt for rt in rightsubjects">{{subject}}</select></td>
        <td><button class="action" ng-click="removeright('boat',rt)">Fjern ret</button></td>
      </tr>
      <tr>
      <td><select  ng-model="newright.right" ng-options="cat.name as cat.name for cat in boatcategories"></select></td>
	<td>
	  <select ng-model="newright.subject" ng-options="rt for rt in rightsubjects">{{subject}}</select>
	</td>	  
      <td><button ng-show="newright.subject && newright.right" class="action" ng-click="removeright('boat',rt)">Tilføj ret</button></td>
      </tr>
    </tbody>
    </table>
  </div>

  <br>  
  <table class="boatlist" >
    <caption>Både</caption>
    <thead>
      <tr>
	<th>Båd</th><th>kategori</th><th>lokalitet</th><th></th>
      </tr>	
    </thead>
  <tbody>
    <tr ng-repeat="boat in allboats">
      <td>{{boat.name}}</td>
      <td><select  ng-model="boat.category" ng-options="cat.name as cat.name for cat in boatcategories"></select></td>
      <td><select  ng-model="boat.location" ng-options="loc.name as loc.name for loc in locations">
	  </select>
      </td>
        <td><button class="action">Slet båd</button></td>
    </tr>
  </tbody>
  </table>

  <div>
    <form name="newboat" novalidate>
  <table>
    <caption>Ny båd</caption>
    <tbody>	  
      <tr><th>Navn</th><th>Kategori</th><th>Lokation</th></tr>
      <tr>
	<td>
	  <input type="text" ng-model="newboat.name"></input>
	</td>	
      <td><select  ng-model="newboat.category" ng-options="cat.name as cat.name for cat in boatcategories">
	  </select>
      </td>
      <td><select  ng-model="newboat.location" ng-options="loc.name as loc.name for loc in locations">
	  </select>
      </td>
      </tr>
      <tr><td>
	  <input class="big" type="submit" ng-show="newboat.category&&newboat.location&&newboat.name" ng-click="createBoat()" value="Opret ny båd" />
      </td></tr>
    </tbody>
  </table>

    </form>
  </div>  
</div>

<div ng-show="do=='trip'">
  <div class="blok leftblock">
    <table class="boatlist" >
      <caption>Turtyper</caption>
      <thead>
        <tr>
          <th>Turtype</th><th>Beskrivelse</th><th>Rettighedskrav</th>
        </tr>	
      </thead>
      <tbody>
        <tr ng-repeat="tt in DB('triptypes')">
	  <td >{{tt.name}}</td>
	  <td >{{tt.description}}</td>
	  <td><button class="action" ng-click="dotriprights(tt.rights,tt)">{{tt.rights|rightreqs}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="currenttriptype" class="rightbox">
    <table>
      <caption>Administrer rettigheder for turtypen {{currenttriptype.name}}</caption>
    <thead>
      <tr><th>Rettighed</th><th>kræves af</th><th> </th></tr>	
    </thead>
    <tbody>
      <tr ng-repeat="(rt,subject) in requiredtriprights">
	<td>{{rt}}</td>	  
	<td> <select ng-model="subject" ng-options="rt for rt in rightsubjects">{{subject}}</select></td>
        <td><button class="action" ng-click="removeright('trip',rt)">Fjern ret</button></td>
      </tr>
      <tr>
      <td><select  ng-model="trip.newright.right" ng-options="cat.name as cat.name for cat in boatcategories"></select></td>
	<td>
	  <select ng-model="trip.newright.subject" ng-options="rt for rt in rightsubjects">{{subject}}</select>
	</td>	  
      <td><button ng-show="trip.newright.subject && trip.newright.right" class="action" ng-click="removeright('trip',rt)">Tilføj ret</button></td>
      </tr>
    </tbody>
    </table>
  </div>
<br>
  
  <table class="boatlist" >
    <caption>Destinationer</caption>
    <thead>
      <tr>
        <th>Destination</th><th>Distance</th><th>Varighed</th><th>Varighed for instruktion</th>
      </tr>	
    </thead>
    <tbody>
      <tr ng-repeat="ds in DB('destinations').DSR">
	<td >{{ds.name}}</td>
	<td><input type="number" step="0.5" ng-model="ds.distance" transformkm></td>
	<td><input type="number" ng-model="ds.duration"></td>
	<td><input type="number" ng-model="ds.duration_instruction"></input></td>
      </tr>
    </tbody>
  </table>
  
  <table class="boatlist" >
    <caption>Destinationer fra Nordhavn</caption>
    <thead>
      <tr>
        <th>Destination</th><th>Distance</th><th>Varighed</th><th>Varighed for instruktion</th>
      </tr>	
    </thead>
    <tbody>
      <tr ng-repeat="ds in DB('destinations').Forpost">
	<td >{{ds.name}}</td>
	  <td><input type="number" step="0.5" ng-model="ds.distance" transformkm></td>
	  <td><input type="number" ng-model="ds.duration"></td>
	  <td><input type="number" ng-model="ds.duration_instruction"></input></td>
      </tr>
    </tbody>
  </table>
</div>    

<div ng-show="do=='user'">
  <script type="text/ng-template" id="taTemplate.html">
    <a>
      <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
      <i>({{match.model.id}})</i>
    </a>
  </script>
  <div>
    <h2 class="prompt">Roer:</h2>
    <ng-form name="rowerFieldForm">
      <input autocomplete="off" id="findrower" ng-model="currentrower" name="name" type="text" typeahead-min-length="3" typeahead-on-select="alert($item)" ng-model="currentrower" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)" uibTypeahead-template-url="taTemplate.html" required />
    </ng-form>
    <div>
      {{currentrower.name}} ({{currentrower.id}})
      <ul>
	<li ng-repeat="(rt,dt) in currentrower.rights"> {{rt}}</li>
      </ul>
    </div>
    <label for="rower.newright">Tildel ny rettighed til {{currentrower.name}}</label>
        <select  ng-model="rower.newright" ng-options="rower.description for rower in DB('memberrighttypes')"></select>
        
  </div>
</div>

<div ng-show="do=='correction'">
  <table class="boatlist" >
    <caption>Turrettelser</caption>
    <thead>
      <tr> <th>Indberetter</th><th>Gældende</th><th>ændret</th><th>ja/nej</th></tr>
      <tr ng-repeat="et in ziperrors">
	<td>{{et.correction.Reporter}}</td>	  
	<td>{{et.current|json}} </td>
        <td ng-class="{deletion: et.correction.DeleteTrip}">{{et.correction|json}} </td>
        <td>
          <button class="green" ng-click="approvecorrection(true)">Godkend</button>
          <button class="action " ng-click="approvecorrection(false)">Afvis</button>
        </td>
      </tr>

      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>    
</div>  



<pre>ziperrors {{ziperrors}}</pre>
<pre>currentboattype {{currentboattype}}</pre>
<pre>rr {{requiredrights}}</pre>
<pre>dest {{DB('destinations').DSR}}</pre>
<!--pre>bc: boatkayakcategories {{boatkayakcategories|json}}</pre-->
<pre>bc: {{boatcategories|json}}</pre>
<pre>locations {{locations|json}}</pre>
<pre>all boats {{allboats|json}}</pre>
