<div class="oauth">
  <!--oauth
    site="/backend/auth.php"
    client-id="d6d2b510d18471d2e22aa202216e86c42beac80f9a6ac2da505dcb79c7b2fd99"
    redirect-uri="/frontend/app/real.html"
    scope="public">
  </oauth-->
</div>
<div class="menuholder">
  <button class="adminbut" ng-click="do='boat'">Både</button>
  <button class="adminbut" ng-click="do='user'">Roere</button>
  <button class="adminbut" ng-click="do='trip'">Ture</button>
  <button class="adminbut" ng-click="do='correction'">Fejlrettelser</button>
password: <input type="password" ng-model="config.headers.password"></input>
</div>



<div ng-show="do=='boat'">
  <div class="blok">
    <table class="boatlist" >
      <caption>Bådtyper</caption>
      <thead>
        <tr>
	  <th>Bådtype</th><th>Antal sæder</th><th>Robåd/kajak</th><th>Rettighedskrav</th>
        </tr>	
      </thead>
      <tbody>
        <tr ng-repeat="bt in boatcategories">
	  <td >{{bt.name}}</td>
	  <td >{{bt.seatcount}}</td>
	  <td ><select  ng-change="setboatkayak(bt)" ng-model="bt.category" ng-options="bk.id as bk.name for bk in boatkayakcategories"></select></td>
	  <td><button class="action" ng-click="doboatrights(bt.rights,bt)">{{bt.rights|rightreqs}}</button></td>
        </tr>
      </tbody>
    </table>

    <form name="boattypeform">
      <table class="boatlist" >
        <caption>Ny Bådtype</caption>
        <thead>
	  <tr>
	    <th>Bådtype</th><th>Antal sæder</th><th>Robåd/kajak</th><th>Rettighedskrav</th>
	  </tr>	
        </thead>
        <tbody>
	  <tr>
	    <td><input type="text" ng-model="newboattype.name"></input></td>
	    <td><input type="number" ng-model="newboattype.numseats"></input></td>
	    <td ><select  ng-model="newboattype.category" ng-options="bk.id as bk.name for bk in boatkayakcategories"></select></td>
	    <td ><button class="action" ng-model="newboattype.rights" ng-click="currentboattype=newboattype"> {{newboattype.rights|rightreqs}}</button></td>
	  </tr>
	  <tr><td>
	      <button class="big" ng-show="newboattype.name&&newboattype.numseats&&newboattype.category" ng-click="create_boattype(newboattype)">Opret ny bådtype </button>
	</td></tr>	
        </tbody>
      </table>
    </form>
  </div>

  <div ng-show="currentboattype" class="rightbox">
    <table>
      <caption>Administrer rettigheder for bådtypen {{currentboattype.name}}</caption>
    <thead>
      <tr><th>Rettighed</th><th>kræves af</th><th></th></tr>	
    </thead>
    <tbody>
      <tr ng-repeat="(rt,subject) in requiredboatrights">
	<td>{{rt|righttodk}}</td>	  
	<td> <select ng-model="subject" ng-options="rt  as rt|subjecttodk for rt in rightsubjects">{{subject}}</select></td>
        <td><button class="action" ng-click="remove_boattype_requirement(rt,$index)">Fjern krav</button></td>
      </tr>
      <tr>
        <td><select  ng-model="boattype.newright.right" ng-options="mrt.member_right as mrt.member_right|righttodk for mrt in memberrighttypes"></select></td>
	<td>
	  <select ng-model="boattype.newright.subject" ng-options="rt as rt|subjecttodk for rt in rightsubjects"></select>
	</td>	  
        <td><button ng-show="boattype.newright.subject && boattype.newright.right" class="action" ng-click="add_boattype_requirement(boattype.newright)">Tilføj krav</button></td>
      </tr>
    </tbody>
    </table>
  </div>

  <br>  
  <table class="boatlist" >
    <caption>Både</caption>
    <thead>
      <tr>
	<th>Båd</th><th>kategori</th><th>lokalitet</th><th>Niveau</th><th>Mærke</th><th>Særligt</th><th></th>
      </tr>	
    </thead>
  <tbody>
    <tr ng-repeat="boat in allboats">
      <td>{{boat.name}}</td>
      <td><select  ng-change="set_cat_for_boat(boat)" ng-model="boat.category" ng-options="cat.name as cat.name for cat in boatcategories"></select></td>
      <td><select  ng-change="set_loc_for_boat(boat)" ng-model="boat.location" ng-options="loc.name as loc.name for loc in locations">
	  </select>
      </td>
      <td><select  ng-model="boat.level" ng-options="levelid*1 as level for (levelid,level) in levels" ng-change="update_level(boat)"> </select> </td>
      <td><select  ng-model="boat.brand" ng-options="brand.name as brand.name for brand in brands" ng-change="update_brand(boat)"> </select> </td>
      <td><input ng-model-options="{updateOn:'blur'}" autocomplete="off" id="boat.boatusage" name="boat.boatusage" type="text" ng-model="boat.boatusage" ng-change="update_usage(boat)"></td>

        <td><button ng-click="retire_boat(boat,$index)" class="action" confirm="Er du helt sikker på at du vil fjerne {{boat.name}}?">Slet/pensioner båd</button></td>
    </tr>
  </tbody>
  </table>

  <div>
    <form name="createnewboat" novalidate>
  <table>
    <caption>Ny båd</caption>
    <tbody>	  
      <tr><th>Navn</th><th>Kategori</th><th>Lokation</th></tr>
      <tr>
	<td>
	  <input type="text" ng-model="newboat.name"></input>
	</td>	
      <td><select  ng-model="newboat.category" ng-options="cat.name as cat.name for cat in boatcategories">
	  </select>
      </td>
      <td><select  ng-model="newboat.location" ng-options="loc.name as loc.name for loc in locations">
	  </select>
      </td>
      </tr>
      <tr><td>
	  <button ng-click="create_boat(newboat)" ng-model="newboat.create" class="big" ng-show="newboat.category&&newboat.location&&newboat.name">Opret ny båd</button>
      </td></tr>
    </tbody>
  </table>

    </form>
  </div>


  <div>
  <table>
    <caption>Anvendelser</caption>
    <tbody>	  
      <tr><th>Anvendelse</th><th>Beskrivelse</th></tr>
      <tr ng-repeat="usage in usages">
	<td>
	  <input ng-model-options="{updateOn:'blur'}" type="text" ng-model="usage.name" ng_change="update_usage_name(usage)"></input>
	</td>
	<td>
	  <input ng-model-options="{updateOn:'blur'}" type="text" ng-model="usage.description" ng_change="update_usage_description(usage)"></input>
	</td>
      </tr>
      <tr>
        <td>
	  <input type="text" ng-model="newusage.name"></input>
        </td>
        <td>
          <input type="text" ng-model="newusage.description"></input>
        </td>        
        <td>
	  <button ng-click="create_usage(newusage)" ng-model="newusage.create" class="big" ng-show="newusage.name">Opret ny anvendelse</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<div ng-show="do=='trip'">
  <div class="blok leftblock">
    <table class="boatlist" >
      <caption>Turtyper</caption>
      <thead>
        <tr>
          <th>Turtype</th><th>Beskrivelse</th><th>Rettighedskrav</th>
        </tr>	
      </thead>
      <tbody>
        <tr ng-repeat="tt in DB('triptypes')" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
	  <td >{{tt.name}}</td>
	  <td >{{tt.description}}</td>
	  <td><button class="action" ng-click="dotriprights(tt.rights,tt)">{{tt.rights|rightreqs}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="currenttriptype" class="rightbox">
    <table>
      <caption>Administrer rettigheder for turtypen {{currenttriptype.name}}</caption>
    <thead>
      <tr><th>Rettighed</th><th>kræves af</th><th> </th></tr>	
    </thead>
    <tbody>
      <tr ng-repeat="(rt,subject) in requiredtriprights" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
	<td>{{rt| righttodk }}</td>	  
	<td> <select ng-model="subject" ng-options="rt as rt|subjecttodk for rt in rightsubjects">{{subject}}</select></td>
        <td><button class="action" ng-click="remove_triptype_requirement(rt)">Fjern krav</button></td>
      </tr>
      <tr>
        <td><select  ng-model="trip.newright.right" ng-options="mrt.member_right as mrt.member_right | righttodk for mrt in memberrighttypes"></select></td>
	<td>
	  <select ng-model="trip.newright.subject" ng-options="rt as rt|subjecttodk for rt in rightsubjects">{{subject}}</select>
	</td>	  
      <td><button ng-show="trip.newright.subject && trip.newright.right" class="action" ng-click="add_triptype_requirement(trip.newright)">Tilføj krav</button></td>
      </tr>
    </tbody>
    </table>
  </div>
<br>
  
  <table class="boatlist" >
    <caption>Destinationer</caption>
    <thead>
      <tr>
        <th>Destination</th><th>Distance</th><th>Varighed</th><th>Varighed for instruktion</th>
      </tr>	
    </thead>
    <tbody>
      <tr ng-repeat="ds in DB('destinations').DSR" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
	<td >{{ds.name}}</td>
	<td><input ng-change="set_distance(ds)" type="number" step="0.5" ng-model="ds.distance" transformkm></td>
	<td><input ng-change="set_duration(ds)" type="number" step="0.25" ng-model="ds.duration"></td>
	<td><input ng-change="set_duration(ds)" type="number" step="0.25" ng-model="ds.duration_instruction"></input></td>
      </tr>
    </tbody>
  </table>
  
  <table class="boatlist" >
    <caption>Destinationer fra Nordhavn</caption>
    <thead>
      <tr>
        <th>Destination</th><th>Distance</th><th>Varighed</th><th>Varighed for instruktion</th>
      </tr>	
    </thead>
    <tbody>
      <tr ng-repeat="ds in DB('destinations').Nordhavn" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
	<td >{{ds.name}}</td>
	  <td><input ng-change="set_distance(ds)" type="number" step="0.5" ng-model="ds.distance" transformkm></td>
	  <td><input ng-change="set_duration(ds)" type="number" step="0.25" ng-model="ds.duration"></td>
	  <td><input ng-change="set_duration(ds)" type="number" step="0.25" ng-model="ds.duration_instruction"></input></td>
      </tr>
    </tbody>
  </table>
</div>    

<div ng-show="do=='user'">
  <script type="text/ng-template" id="taTemplate.html">
    <a>
      <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
      <i>({{match.model.id}})</i>
    </a>
  </script>
  <div>
    <h2 class="prompt">Roer:</h2>
    <ng-form name="rowerFieldForm">
      <input autocomplete="off" id="findrower" ng-model="currentrower" name="name" type="text" typeahead-min-length="3" typeahead-on-select="alert($item)" ng-model="currentrower" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)" uibTypeahead-template-url="taTemplate.html" required />
    </ng-form>
    <div>

      <table class="boatlist" ng-show="currentrower.id">
        <caption>Rettigheder for {{currentrower.name}} ({{currentrower.id}})</caption>
        <thead>
          <tr> <th>Rettighed</th><th></th> </tr>	
        </thead>
        <tbody>
	  <tr ng-repeat="(rt,dt) in currentrower.rights" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
            <td>{{rt |righttodk}}</td><td><button class="big" ng-click="remove_rower_right(currentrower,rt)">inddrag rettighed</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="currentrower.id">
    <label  for="rower.newright">Tildel ny rettighed til {{currentrower.name}}</label><br>
    <select  ng-change="add_rower_right(rower.newright,currentrower)" ng-model="rower.newright" ng-options="rower.description for rower in DB('memberrighttypes')"></select>
    </div>
  </div>
</div>

<div ng-show="do=='correction'">
  <table class="boatlist" >
    <caption>Turrettelser</caption>
    <thead>
      <tr> <th>Indberetter</th><th>Gældende</th><th>ændret</th><th>ja/nej</th></tr>
      <tr ng-repeat="et in ziperrors">
	<td>{{et.correction.Reporter}}</td>	  
	<td>{{et.current|json}} </td>
        <td ng-class="{deletion: et.correction.DeleteTrip}">{{et.correction|json}} </td>
        <td>
          <button class="green" ng-click="approve_correction(et,$index)">Godkend</button>
          <button class="action " ng-click="reject_correction(et,$index)">Afvis</button>
        </td>
      </tr>

      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>    
</div>  


<pre>config {{config|json}}</pre>
<pre>usages {{usages|json}}</pre>
<pre>brands {{brands|json}}</pre>
<pre>requiredtriprights{{requiredtriprights|json}}</pre>
<pre>rightsubjects {{rightsubjects|json}}</pre>
<pre>newboat {{newboat}}</pre>
<pre>newboattype {{newboattype}}</pre>
<pre>boattypeform {{boattypeform}}</pre>
<pre>currentboattype {{currentboattype}}</pre>
<pre>requiredboatrights {{requiredboatrights}}</pre>
<pre>dest {{DB('destinations').DSR}}</pre>
<!--pre>bc: boatkayakcategories {{boatkayakcategories|json}}</pre-->
<pre>bc: {{boatcategories|json}}</pre>
<pre>locations {{locations|json}}</pre>
<pre>all boats {{allboats|json}}</pre>
