<script type="text/ng-template" id="damageTemplate.html">
  <a>
  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  <i>({{match.model.category}})</i>
  </a>
</script>

<script type="text/ng-template" id="reporterTemplate.html">
  <a>
  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  <i>({{match.model.id}})</i>
  </a>
</script>

<ng-form name="reportDamage">
  <label for="damages.anmelder">skademelder/klarmelder</label>
  <input  autocomplete="off" id="anmelder" name="anmelder" type="text" ng-model="damages.reporter" typeahead-min-length="3" typeahead="rower as rower.name for rower in getRowerByName($viewValue)" typeahead-template-url="reporterTemplate.html" required />
  <label ng-bind="damagesnewstatus"></label>

<br>

<label for="select_boat">B&aring;d</label>
  <input autocomplete="off" id="select_boat" name="name" type="text" ng-model="damagedboat" typeahead-min-length="1" typeahead="boat as boat.name for boat in getMatchingBoats($viewValue)" typeahead-template-url="damageTemplate.html" required>

  
  <select name="damage" ng-model="damagedegree">
    <option value="1">1 let</option>
    <option value="2">2 middel</option>
    <option value="3">3 sv&aelig;r</option>
  </select>
  <label for="damages.damage">Skade</label>
  <input autocomplete="off" id="damages.damage" name="skade" type="text" ng-model="damagedescription"  required >

  
  <button id="newdamagereport_button" ng-click="reportDamageForBoat()">Anmeld ny skade</button>
</ng-form>


<table class="genericlist">
  <thead>
    <tr><th>Båd</th><th>Skadeanmelder</th><th>Dato</th><th>Grad</th><th>Beskrivelse</th><th>Klarmeld</th></tr>
  </thead>
  <tr ng-repeat="bd in allboatdamages | filter: matchBoat(damagedboat)">
    <td>{{bd.boat}}</td><td>{{bd.ResponsibleMember}}</td><td>{{bd.created}}</td><td>{{bd.level}}</td><td>{{bd.description}}</td>
    <td ng-click="reportFixDamage(bd)">klarmeld</td>
  </tr>
</table>
