
<script type="text/ng-template" id="reporterTemplate.html">
  <a>
  <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
  <i>({{match.model.id}})</i>
  </a>
</script>

<ng-form name="reportDamage">
  <label for="damages.anmelder">skademelder/klarmelder</label>
  <input  autocomplete="off" id="anmelder" name="anmelder" type="text" ng-model="newdamage.reporter" typeahead-min-length="3" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)" uibTypeahead-template-url="reporterTemplate.html" required />
  <label ng-bind="damagesnewstatus"></label>

<br>

<script type="text/ng-template" id="boatTemplate.html">
  <a>
  <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
  {{match.model.name}} <i>({{match.model.category}})</i>
  </a>
</script>
<div class="report">
  <label for="select_boat">Båd</label>
  <input autocomplete="off" id="select_boat" name="name" type="text" ng-model="newdamage.boat" typeahead-min-length="1" uib-typeahead="boat as boat.name for boat in getMatchingBoats($viewValue)" typeahead-template-url="boatTemplate.html" required>
  
  
  <select name="damage" ng-model="newdamage.degree">
    <option value="1">1 let</option>
    <option value="2">2 middel</option>
    <option value="3">3 svær</option>
  </select>
  <label for="damages.damage">Skade</label>
  <textarea class="damagetext" autocomplete="off" id="damages.damage" name="skade" type="text" ng-model="newdamage.description" required></textarea>
  <button class="klar" ng-disabled="!(newdamage.reporter && newdamage.boat && newdamage.description &&newdamage.degree)" id="newdamagereport_button" ng-click="reportDamageForBoat(newdamage)">Meld ny skade</button>
  </div>
</ng-form>

<br>
<table class="genericlist">
  <thead>
    <tr><th>Båd</th><th>Skadeanmelder</th><th>Dato</th><th>Grad</th><th>Beskrivelse</th><th>Klarmeld</th></tr>
  </thead>
  <tr ng-class-odd="'oddboat'" ng-class-even="'evenboat'" ng-repeat="bd in allboatdamages | filter: matchBoat(newdamage.boat)">
    <td>{{bd.boat}}</td>
    <td>{{bd.reporter}}</td>
    <td class="degree" >{{bd.created}}</td><td>{{bd.degree|damagedegreedk}}</td>
    <td>{{bd.description}}</td>
    <td ng-click="reportFixDamage(bd,newdamage.reporter,allboatdamages,$index)"><button class="klar">klarmeld</button></td>
  </tr>
</table>

<pre>newdamage = {{newdamage | json}}</pre>
<pre>allboatdamages = {{allboatdamages | json}}</pre>
