<h2>Seneste 4 kvartalsopgørelser</h2>
<ul>
    <li ng-repeat="q in quarters"> <a class="quarter" href="/backend/team/quarterly.php?quarter={{q}}">{{q}}. kvartal</a>  </li>
</ul>

<h2>Eksisterende hold</h2>
 
  <ul>
    <li ng-repeat="tm in teams" ng-click="setTeam(tm)"  ng-class="{selected: currentteam == tm}" >
      {{tm.name}} {{tm.teamkey}} ({{tm.description}}): {{tm.dayofweek}} {{tm.timeofday}} : {{tm.teacher}}
      <strong  ng-click="deleteTeam(tm)">SLET HOLD</strong>
    </li>
  </ul>

  <h2>Tilføj nyt hold</h2>
  
  <ng-form name="newTeam">

    <input placeholder="holdnavn" autocomplete="off" "teamname" name="teamname" type="text" ng-model="newteam.name" required />
    <input placeholder="hold beskrivelse" autocomplete="off" "teamdesc" name="teamdesc" type="text" ng-model="newteam.description" />
    <select ng-model="newteam.dayofweek" ng-options="dow for dow in weekdays"></select>
    <input placeholder="holdtid tt:mm" autocomplete="off" "teamtime" name="teamtime" type="text" ng-model="newteam.timeofday" ng-pattern="todpattern" />
    <input placeholder="underviser" autocomplete="off" "teamdesc" name="teamteacher" type="text" ng-model="newteam.teacher" required />
    <input placeholder="holdkode" autocomplete="off" "teamkey" name="tkey" type="text" ng-model="newteam.key" />
    <br>

  <button ng-click="addTeam()">opret gymnestikhold</button>
</ng-form>

<br>
<!--pre>{{teams}}</pre-->
