<h2>Gymnastikprotokol</h2>

<h2>Registrering</h2>

<ul>
  <li> Vælg et hold. Man kan kun vælge hold for den aktuelle ugedag </li>
  <li> Vælg en deltager. Man kan søge på både navn og medlemsnummer (ligesom i den nye roprotokol) </li>
  <li>Vælg <strong>registrer</strong></li>  
</ul>

Når et hold er valgt, vises de medlemmer, der allereder er tilmeldt den samme dag.

<h2>Administration</h2>

<ul>

  <li>Man kan hente de seneste 4 kvartaler som en CVS-fil, der kan åbnes som et regneark.
    Så fx i Februer 2017 er 1. kvartal det aktuelle, uafsluttede kvartal, men 4. kvartal er det seneste kvartal (4. kvartal i 2016) 
  </li>

  <li>Man kan slette hold (skraldspandsikon). Når man sletter et hold, bliver registreingerne ikke slettet  </li>
  <li>Man kan oprette nye hold. Man skal angive navn, ugedag og tid på dagen  </li>
</ul>

<h2>Adgang</h2>

<ul>
  <li>Man kan bruge gymnastikregistreringen fra computeren på 1. sal</li>
  <li>Den kan også bruges udefra af alle, der har internetadgang til roprotokollen</li>
  <li>Kun gymnastikadminstratorer kan oprette og slette hold. De skal logge ind udefra med et password. P.t. er Johan oprettet som Gymnastikadminstrator  </li>

  <li>Computeren på 1. sal er ikke på internettet, men på samme lokalnet som roprotokollen, så man kan nu også bruge roprotokollen fra 1. sal. Man kunne også bruge gymnastikprotokollen fra bådhallen, hvis man ville.
  </li>
  
</ul>

