<h2>Om DSR aftaler</h2>

<p>
Der er begivenheder, som er roture, fester, indendørs træning, osv.
Og der er fora, som er nyhedsgrupper, som roere kan abonnere på.
</p>


<h2>Adgang</h2>

<p>
Roere (medlemmer af DSR) kan få tilsendt et password til den
email-adresse de er registreret med i DSR's medlemssystem. Brugernavnet,
som man logger ind med, er medlemsnummeret.
</p>
<p>
Samme login og password bruges til gymnastikprotokollen og til at give
adgang til roprotokollen udefra.
</p>

<h2>Rettigheder</h2>

<p>
Rettigheder styres som rettigheder i roprotokollen.
</p>
<p>
Det eneste der p.t. kræver en særlig roprotokol-rettighed er at oprette
og slette fora. Derudover har ejere af begivenehder og fora rettigheder
til disse.
</p>

<p>
Roere, der opretter en begivenhed, er derefter ejere af
begivenheden, men kan gøre andre roere til medejere. Ejere kan acceptere anmodninger om
deltagelser, fjerne deltagere, osv.
</p>

Alle roere kan oprette begivenheder og skrive beskeder til fora

<h2>Begivenheder</h2>

<p>
Alle roere kan oprette en begivenhed (fx en rotur). En begivenhed har altid et
starttidspunkt. En begivenhed kan også have et sluttidspunkt.
</p>

<p>
En begivenhed kan have fri tilmelding eller kræve godkendelse af ejeren.
</p>

<p>
En begivenhed skal have et navn.
</p>

<p>
En begivenhed kan knyttes til et forum, så invitationen også sendes til forumet.  
Derudover kan man, når man opretter en begivenhed, tilføje individuelle medlemmer, der skal inviteres.
</p>

<p>
Man kan angive bådtype, destination og forventet distance til begivenheder.  
</p>

<p>
Når en begivenhed er oprettet kan den ses i rokalenderen. Ejere af
begivenheder (som udgangspunkt roer, der har oprettet den) kan tilmelde roere til
begivenheden med forskellige roller (deltager, venteliste, ansøger,
osv), fjerne roere fra begivenheden, godkende ansøgninger til lukkede
begivenheder, optage roere fra venteliste, osv.
</p>


<p>
Deltagere, der er styrmænd angives med en hat i listen af deltagere,
så ejeren kan sikre at der er styrmænd nok på turen (hvis begivenheden
er en rotur)
</p>

<p>
Den, der opretter en begivenhed, er ikke nødvendigvis deltager i den (med
på turen). Ejere af begivenheder kan direkte tilføje roere til
begivenheden.  
</p>


<h2>Fora</h2>
<p>
Roere, der har tilladelse til det i roprotokollen, kan oprette nye fora. Et forum kan have åben tilmelding eller krævt godkendelse af nye medlemmer.

Et forum kan være offentlig så alle kan se det og læse beskederne id et. Eller det kan være privat, så kun medlemmerne af forummet har adgang til det.
</p>

<p>
Alle roere kan abonnere på alle fora.
</p>

<p>
Ejeren af et forum (den roer, der har oprettet det) kan også selv tilføje roere til forumet.
</p>
Alle roere kan tilføje filer til et forum. 
Filer har en udløbsdato, hvorefter de ikke vil blive vist (men de bliver ikke slettet).
Man kan godt angive en udløbsdato 100 år ude i fremtiden. Men for 
fx træningsprogrammer vil det være naturlig at sætte den til enden på sæsonen.

Det er muligt at filterer filer.
<h2>Rokalenderen</h2>

er bare en kronologisk liste af begivenheder.

Men alle roere kan synkronisere deres rokalender med deres mobiltelefon, Google kalender, osv.

<h2>Dele oplysninger</h2>
<p>
Roere kan give tilladelse til at andre kan følge med i deres
DSR-liv. Under "Min side" kan man lade andre (også ikke-medlemmer) se
ens seneste 10 roture.
</p>
<p>
Man kan også få sendt en email hver gang man går i land (turen checkes
ind). Så kan ens familie og kære vide, at man er sikkert på land og have
en ide om, hvornår man kommer hjem.
</p>

<p>
Alle roere kan downloade en liste over alle deres egne roture i CSV format
</p>

