<form name="newforumform" ng-if="current_user.is_fora_admin" class="newforum">
  <table>
    <caption>Nyt forum</caption>
    <thead>
    </thead>
    <tbody class="tbody">
      <tr>
	<td>
          <input type="text" placeholder="navn på forum" class="forum" size="20" maxlength="20" autocomplete="off" ng-model="newforum.name" required>
	</td>
      </tr>
      <tr>
	<td><input type="checkbox" ng-model="newforum.open" value="true"> Åben tilmelding</td>
      <tr>
	<td><input type="checkbox" ng-model="newforum.is_public"> Synligt for alle</td>
      </tr>
      <tr>
	<td colspan="2">
          <input type="text" class="description" placeholder="beskrivelse af forum" class="forum" autocomplete="off" ng-model="newforum.description">
	</td>
      </tr>
      <tr>
	<td>
          <button class="green" ng-disabled="!newforumform.$valid" ng-click="forumcreate()">Opret nyt forum</button>
	</td>
      </tr>
    </tbody>
  </table>
</form>

<table>
  <caption>Eksisterende fora mm</caption>
  <tbody class="tbody">
      <td>
        <i class="fa fa-search"></i><input ng-model="forumfilter" type="text"><i class="fa fa-eraser"  ng-click="forumfilter=null"></i>
      </td>
    <tr>
      <th></th>       <th></th>     <th>åbent</th>      <th>synligt</th>
    </tr>
    <tr name="forum" id="forum"  ng-repeat="forum in fora | filter:forummatch(forumfilter)">
      <td>
        {{forum.forum}}
      </td>
      
      <td >
        <button ng-show="forum.is_public && forum.role=='owner'" ng-click="toggle_forum_visibility(forum)" class="chooser">gør privat</button>
        <button ng-show="!forum.is_public && forum.role=='owner'" ng-click="toggle_forum_visibility(forum)" class="chooser">gør synligt for alle</button>
      </td>

      <td><i ng-if="forum.is_open" class="fa fa-check"></i> </td>
      <td><i ng-if="forum.is_public" class="fa fa-check"></i></td>
    </tr>
  </tbody>         
</table>

<form name="upform">
  <fieldset>
    <table>
      <tr>
        <caption>Tilføj en fil til forum</caption>
        <td>Fil</td>
        <td><input type="file" ngf-validate="{size: {max: '5MB', min: '10B'}}"
                   ngf-max-files="5" ng-change="file_selected()"
                   ngf-select="" ng-model="forumfile.file" name="forumfile" ngf-accept="'*/*'">
          <i ng-show="upform.forumfile.$error.required">* kræves</i>
          <h1 ng-show="upform.$error.maxSize">Filen er for stor</h1>
        </td>
      </tr>
      <tr>
        <td>forum:</td>
        <td>
          <select name="uploadforum" id="uploadforum" 
                     ng-options="forum as forum.forum for forum in fora" ng-model="forumfile.forum" required>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Navn på fil:
        </td>
        <td>
          <input type="text" name="fileName" ng-model="forumfile.filename" size="39" required
                 title="filnavn: bogstaver, tal, #,-,_"
                 pattern="[.a-zA-Z0-9_æøåÆØÅ#\-@]{1,100}">
          </td>
      </tr>
      <tr>
        <td>
          udløber:
        </td>
        <td> <datetimepicker               
               uib-tooltip="Udløbsdato"
               popup="d MMM yyyy"
               current-text="i dag"
               close-text="vælg"
               clear-text="rens"
               date-format="yyyy-MM-dd"
               hidden-time="true"
               show-spinners="false"
               date-options="dateOptions"
               show-meridian="false"
               ng-model="forumfile.expire"
               >
          </datetimepicker>
        </td>
      </tr>
      <tr><td>
        <button ng-disabled="!upform.$valid" ng-click="uploadFile(forumfile)" class="submit">Indsend fil</button>
        <span class="progress" ng-show="forumfile.progress >= 0">
          <div style="width:{{forumfile.progress}}%" ng-bind="forumfile.progress + '%'" class="ng-binding"></div>
        </span>
        <span ng-show="forumfile.result">Så er den på plads</span>
        </td>
      </tr>
    </table>
  </fieldset>
</form>
<pre>
</pre>
