
<!--ng-if="current_user.is_fora_admin"-->
<form name="newforumform"  class="newforum">
  <table>
    <caption>Nyt forum</caption>
    <thead>
    </thead>
    <tbody class="tbody">
      <tr>
	<td>
          <input type="text" placeholder="navn på forum" class="forum" size="20" maxlength="20" autocomplete="off" ng-model="newforum.forum" required>
	</td>
      </tr>
      <tr>
	<td><input type="checkbox" ng-model="newforum.is_open" value="true"> Åben tilmelding</td>
      <tr>
	<td><input type="checkbox" ng-model="newforum.is_public"> Synligt for alle</td>
      </tr>
      <tr>
	<td><input type="checkbox" ng-model="newforum.owner_subscribe">Jeg vil selv abbonnere på det</td>
      </tr>
      <tr>
	<td colspan="2">
          <input type="text" class="description" placeholder="beskrivelse af forum" class="forum" autocomplete="off" ng-model="newforum.description">
	</td>
      </tr>
      <tr>
	<td>
          <button class="green" ng-disabled="!newforumform.$valid" ng-click="forumcreate()">Opret nyt forum</button>
	</td>
      </tr>
    </tbody>
  </table>
</form>

<table>
  <caption>Eksisterende fora mm</caption>
  <tbody class="tbody">
    <tr>
      <td>
        <i class="fa fa-search"></i><input ng-model="forumfilter" type="text"><i class="fa fa-eraser"  ng-click="forumfilter=null"></i>
      </td>
    </tr>
    <tr>
      <th></th>       <th></th>     <th>åbent</th>      <th>synligt</th>
    </tr>
    <tr  name="forumrow" id="forumrow"  ng-repeat="forum in fora | filter:forummatch(forumfilter)">
      <td ng-class-odd="'odd'">
        {{forum.forum}}
      </td>
      
      <td>
        <button ng-show="forum.owner==current_user.member_id" ng-click="forumdelete(forum)"  confirm="Vil du slette forum: {{forum.forum}}?" class="deletealert"><i class="fa fa-trash"></i></button>
        <button ng-show="forum.is_public && (forum.role=='admin' || forum.owner==current_user.member_id)" ng-click="toggle_forum_visibility(forum)" class="chooser">gør privat</button>
        <button ng-show="!forum.is_public && (forum.role=='admin'|| forum.owner==current_user.member_id)" ng-click="toggle_forum_visibility(forum)" class="chooser">gør synligt for alle</button>
      </td>

        <td><i ng-if="forum.is_open" class="fa fa-check"></i></td>
        <td><i ng-if="forum.is_public" class="fa fa-check"></i></td>
    </tr>
  </tbody>         
</table>
