
<div class="rowerstat">
  <div class="stats">
    <table ng-table="tableParams" class="statlist" show-filter="true">
      <caption>Statistik for roere</caption>
      <thead>
        <tr>
          <th class="text-center sortable"
              ng-class="{'sort-asc': tableParams.isSortBy('rank', 'asc'),'sort-desc': tableParams.isSortBy('rank', 'desc')}"
              ng-click="tableParams.sorting('rank', tableParams.isSortBy('rank', 'asc') ? 'desc' : 'asc')">nr <i class="fa fa-sort"></i>
          </th>
          <th class="text-center sortable"
              ng-class="{'sort-asc': tableParams.isSortBy('year_rank', 'asc'),'sort-desc': tableParams.isSortBy('year_rank', 'desc')}"
              ng-click="tableParams.sorting('year_rank', tableParams.isSortBy('year_rank', 'asc') ? 'desc' : 'asc')">årsnr <i class="fa fa-sort"></i>
          </th>
	  <th>navn</th>
          <th ng-click="tableParams.sorting('firstname', tableParams.isSortBy('firstname', 'asc') ? 'desc' : 'asc')">Roer <i class="fa fa-sort"></th>
          <th  ng-class="{'sort-asc': tableParams.isSortBy('summer', 'asc'),'sort-desc': tableParams.isSortBy('summer', 'desc')}"
               ng-click="tableParams.sorting('summer', tableParams.isSortBy('summer', 'desc') ? 'asc' : 'desc')">Km sommer <i class="fa fa-sort"></th>
          <th  ng-class="{'sort-asc': tableParams.isSortBy('distance', 'asc'),'sort-desc': tableParams.isSortBy('distance', 'desc')}"
               ng-click="tableParams.sorting('distance', tableParams.isSortBy('distance', 'desc') ? 'asc' : 'desc')">Km år <i class="fa fa-sort"></th>
          <!--th  ng-class="{'sort-asc': tableParams.isSortBy('summer', 'asc'),'sort-desc': tableParams.isSortBy('summer', 'desc')}"
              ng-click="tableParams.sorting('summer', tableParams.isSortBy('summer', 'desc') ? 'asc' : 'desc')"><i class="fa fa-thermometer-full" aria-hidden="true"></i> <i class="fa fa-sort"></th-->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stat in $data track by $index" ng-class-odd="'oddstat'" >
          <td sortable="'rank'" data-title="'Nr'">{{stat.rank}} </td>
          <td sortable="'year_rank'" data-title="'års Nr'">{{stat.year_rank}} </td>
          <td class="rnum" data-title="'Medlemsnummer'" sortable="'memberid'" filter="{'memberid':'text'}">{{stat.id}}</td>
          <td data-title="'Navn'" sortable="'name'" filter="{'firstname':'text'}">
            <a href="{{burl}}#!rowers?rower={{stat.id}}">{{stat.name}}</a>
          </td>
          <td data-title="'Sommer'" sortable="'summer'" class="rnum">{{stat.summer|mtokm}}</td>
          <td data-title="'Distance'" sortable="'distance'" class="rnum">{{stat.distance|mtokm}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<h1>Sammenroning i denne måned</h1>
<table>
  <tr ng-repeat="(tt,tc) in triptypecolors">
    <td bgcolor={{tc}}>{{tt}}</td>
  </tr>
</table>

<div id="clubgraph">
</div>




