<div  class="leftlist">
<table class="tablelayout" >
<caption>{{current_forum.forum}} begivenheder</caption>
  <thead>
    <tr>
      <th>Navn</th>
      <th>start</th>
      <th>distance</th>
      <th>til</th>
      <th>både</th>
      <th>åben</th>
   </tr> 
  </thead>
  <tbody>
    <tr ng-repeat="ev in events | filter: event_forum_match()| filter: event_boat_type_match()" ng-click="setCurrentEvent(ev)"  ng-class="{selected: currentevent == ev}"
        class="event" ng-class-odd="'odd'" ng-class-even="'even'">
      <td ng-class="{iamin: is_event_member(ev)}"><span class="tooltiptext">Jeg deltager</span>{{ev.name}}</td>
      <td>{{ev.start_time | date:"d. MMM yyyy"}}</td>
      <td class="rnum">{{ev.distance|mtokm}} km</td>
      <td>{{ev.destination}}</td>      
      <td>{{ev.boats}}</td>
      <td ng-show="ev.open">åben</td>
      <td ng-hide="ev.open">lukket</td>
      <td ng-if="ev.owner==current_user.member_id">
        <pre class=user><i uib-tooltip="du styrer denne begivenhed" class="fa fa-user"></i></pre>
      </td>
    </tr>
  </tbody>
</table>
</div>


<div ng-show="currentevent" class="eventdetails anchor" id="currenteventbox" name="currenteventbox">
  <table>
    <caption> Begivenhed {{currentevent.name}} </caption>
    <tbody class="tbody">
      <tr><th>starter</th><td>{{currentevent.start_time|date :"d-MMM-yyyy HH:mm"}}</td></tr>
      <tr ng-if="currentevent.end_time"><th>slutter</th><td>{{currentevent.end_time|date :"d-MMM-yyyy HH:mm"}}</td></tr>
      <tr ng-if="currentevent.max_participants"><th>max deltagere</th><td>{{currentevent.max_participants}}</td></tr>
      <tr ng-if="currentevent.boat_category"><th>Vi ror i</th><td>{{currentevent.boat_category}}</td></tr>
      <tr class="tripdescription" ng-if="currentevent.comment"><th>Beskrivelse</th><td>{{currentevent.comment}}</td></tr>
      <tr class="owner" ng-hide="currentevent.open"><th>Ejer</th><td>{{currentevent.owner_name}}</td></tr>            
      <tr><th>Hvor:</th><td>{{currentevent.location}}</td></tr>
      <tr ng-show="currentevent.distance"><th>distance</th><td>{{currentevent.distance|mtokm}} km</td></tr>
    </tbody>         
  </table>

  <button ng-hide="currentevent.open || current_user.member_id=='baadhal' || is_event_member(currentevent)" class="green" ng-click="eventjoin('supplicant')">
    Jeg vil med. Anmod om deltagelse 
  </button>
  <button ng-show="currentevent.open && !is_event_member(currentevent) && current_user.member_id!='baadhal'" class="green"  ng-click="eventjoin('member')">
    Jeg vil med. Tilmeld mig {{current_user.member_id}}
  </button>
  <button class="green" ng-show="is_event_member(currentevent)" ng-click="eventleave()">
    Frameld mig
  </button>
  <br>
  <div ng-if="currentevent.owner==current_user.member_id" class="forowner">

    <select ng-model="currentevent.status" ng-change="set_event_status(currentevent)">
      <option value="on">Aktiv</option>
      <option value="canceled">Aflyst</option>
    </select>

    <select ng-model="currentevent.open" ng-change="set_event_openness(currentevent)">
      <option ng-value="1">Åben</option>
      <option ng-value="0">Lukket</option>
    </select>

    <h3>Tilføj rorere til din begivenhed</h3>
    <input placeholder="tilføj medlem" autocomplete="off" id="neweventmemberinput" name="neweventmembermember" type="text"
           ng-model="neweventmember.member"
           typeahead-min-length="2" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)"
           typeahead-template-url="memberTemplate.html" required />
    
    <select name="role" id="role" ng-model="neweventmember.role" ng-options="role.name as role.description for role in eventroles" ng-init="neweventmember.role='member'">
    </select>
    
    <i ng-show="neweventmember.member" ng-click="event_add_member()" class="fa fa-plus"></i>    
    
  </div>
  <table>
    <caption>
      Deltagere
    </caption>
    <thead>
      <tr><th>Navn</th><th>rolle</th></tr>
    </thead>
    <tbody class="tbody">
      <tr ng-repeat="em in currentevent.participants">
        <td ng-click="show_member(em.id)">{{em.name}}
          <i uib-tooltip="styrmand" ng-if="em.is_cox>0" class="fa fa-graduation-cap"></i>
          <b uib-tooltip="langtursstyrmand" ng-if="em.is_long_cox>0"> L</b>
        </td>
        <td class="role">{{em.role}}</td>
        <td ng-show='currentevent.owner==current_user.member_id'>
          <i ng-click="accept_event_participant(em)" ng-show="em.role=='supplicant'" uib-tooltip="godkend roer" class="fa fa-plus"></i>
          <i ng-click="accept_event_participant(em)" ng-show="em.role=='wait'" uib-tooltip="optag roer fra ventelisten"
             class="fa fa-plus"></i>
          <i ng-hide="em.member_id==current_user.member_id" ng-click="event_remove_participant(em)"
             uib-tooltip="fjern roer fra begivenhed" class="remove fa fa-minus"></i
        </td>
      </tr>      
    </tbody>         
  </table>

  <table ng-if="currentevent.boats=='Inriggere'">
    <caption>
      <p>
      {{crews.on_water}} kommer på vandet ({{crews.left_out}} kommer ikke med)
      </p>
      <p ng-if="crews.left_out>0">
        <small>
        Men måske kan i bruge <span ng-if="crews.rowers>3">Heimdal eller </span> en coastalbåd.
        </small>
      </p>
    </caption>
    <thead>
      <tr><th>Toere</th><th>Firere</th></tr>
    </thead>
    <tbody class="tbody">
      <tr ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="bc in crews.configurations">
        <td>{{bc.i2}} </td>
        <td>{{bc.i4}} </td>
      </tr>      
    </tbody>         
  </table>
</div>
