<table>

  <tr>
    <th>Forum </th><td>
    <select name="forum" id="forum" ng-model="subscription.forum" ng-options="forum.name for forum in userfora | filter: {role:null}"> </select>
     </td>
    <td> <button class="green" ng-click="subscribe()">Abonner</button></td>

</tr>
</table>


<h2>Mine abonnementer</h2>

<ul>
  <li class="subscription" ng-repeat="userforum in userfora| filter: {role:''}">{{userforum.name}}
    <i ng-click="unsubscribe(userforum)" confirm="Vil du stoppe abbonnementet på {{userforum.name}}?" class="fa fa-trash"></i></l>
</ul>

</table>
<pre>
  {{userfora|json}}
</pre>
