<script type="text/ng-template" id="memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>

<h1 class="error" ng-hide="dbready || dbgrace">Henter data<br>vær tålmodig</h1>
<table>
  <tr>
    <th>Forum </th><td>
      <select name="forum" id="forum" ng-model="subscription.forum"
              ng-options="forum.forum for forum in fora | filter: {role:null}">
      </select>
      {{subscription.forum.open}}
    </td>
    <td ng-show="subscription.forum.is_open"> <button class="green" ng-click="subscribe()">Abonner</button></td>    
    <td ng-hide="subscription.forum.is_open"> <button ng-show="subscription.forum" class="green" ng-click="subscribe()">Anmod on deltagelse</button></td>
  </tr>
</table>


<h2>Mine abonnementer</h2>

<table class="subscriptions">
  
  <tr class="subscription" ng-repeat="userforum in userfora| filter: {role:''}"  class="event"
      ng-class-odd="'oddstat'" ng-class-even="'even'"
      ng-class="{selected: current_forum == userforum}"
      >
    <td ng-click="setCurrentForum(userforum)" uib-tooltip="vis filer for {{userforum.forum}}">
      {{userforum.forum}}
    </td>
    <td>
      <i ng-show="userforum.role=='supplicant'" uib-tooltip="afventer godkendelse" class="fa fa-bell"></i>
    </td>
    <td>
      <i uib-tooltip="opsig abonnement"
         ng-click="unsubscribe(userforum)" confirm="Vil du stoppe abbonnementet på {{userforum.forum}}?" class="fa fa-trash">
      </i>
    </td>
  </tr>
</table>


<h2>{{current_forum.forum}} medlemmer:</h2>
<div ng-show="current_forum.owner==current_user.member_id">
  <h3>Tilføj rorere til dit forum</h3>
  <input placeholder="tilføj medlem" autocomplete="off" id="newforummember" name="newforummember" type="text"
         ng-model="newforummember.member"
         typeahead-min-length="2" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)"
         typeahead-template-url="memberTemplate.html" required />
  
  <i ng-show="newforummember.member" ng-click="forum_add_member()" class="fa fa-plus"></i>
</div>

<table>
  <thead>
    <tr>
      <th>Medlem</th>
    </tr>
  </thead>
  <tr ng-repeat="forummember in forummembers"  class="forummember" ng-class-odd="'oddstat'" ng-class-even="'even'">
    <td>
      {{forummember.name}}
    </td>

    <td ng-show="current_forum.owner==current_user.member_id">
      <i ng-click="accept_forum_supplicant(userforum)" ng-show="userforum.role=='supplicant'" uib-tooltip="godkend roer" class="fa fa-plus"></i>
      <i ng-click="unsubscribe(forummember)" uib-tooltip="fjern roer" class="remove fa fa-minus"></i>


    </td>
    
  </tr>
</table>


<h2>{{current_forum.forum}} filer:</h2>


<table>
  <thead>
    <tr>
      <th>Fil</th>
    </tr>
  </thead>
  <tr ng-repeat="file in forum_files" ng-show="file.forum==current_forum.forum" class="event" ng-class-odd="'oddstat'" ng-class-even="'even'">
    <td>
      <a ng-href="/backend/event/file.php?forum={{file.forum|urlencode}}&file={{file.filename|urlencode}}">
      {{file.filename}}</a>
    </td>
  </tr>
</table>


<pre>
  fora {{fora|json}}
  userfora {{userfora|json}}
  fm {{forummembers|json}}
</pre>
