<script type="text/ng-template" id="memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>

<h1 class="error" ng-hide="dbready || dbgrace">Henter data<br>vær tålmodig</h1>
<table>
  <thead>
    <caption>Abonner på forum: </caption>
  </thead>
  <tr>
    <td>
      <select name="forum" id="forum" ng-model="subscription.forum"
              ng-options="forum.forum for forum in fora | filter: {role:null}">
      </select>
      {{subscription.forum.open}}
    </td>
  </tr>
  <tr>
    <td ng-show="subscription.forum.is_open"> <button class="green" ng-click="subscribe()">Abonner</button></td>    
    <td ng-hide="subscription.forum.is_open">
      <button ng-show="subscription.forum" class="green" ng-click="subscribe()">Anmod on deltagelse</button>
    </td>
  </tr>
</table>


<table class="subscriptions">
  <thead>
    <caption>Mine abonnementer</caption>
  </thead>

  <tr>
    <td>
      <i class="fa fa-search"></i><input ng-model="forumfilter" type="text"><i class="fa fa-eraser"  ng-click="forumfilter=null"></i>
    </td>
  </tr>
  <tr class="subscription" ng-repeat="userforum in userfora | filter: {role:''} | filter:forummatch(forumfilter)"  class="event"
      ng-class-odd="'odd'" ng-class-even="'even'"
      ng-class="{selected: current_forum == userforum}"
      >
<!--    uib-tooltip="vis filer for {{userforum.forum}}"-->
    <td ng-click="setCurrentForum(userforum)">
      {{userforum.forum}}
    </td>
    <td>
      <i ng-show="userforum.role=='supplicant'" uib-tooltip="afventer godkendelse" class="fa fa-hand-paper-o"></i>
    </td>
    <td>
      <i uib-tooltip="opsig abonnement"
         ng-click="unsubscribe(userforum)" confirm="Vil du stoppe abbonnementet på {{userforum.forum}}?" class="fa fa-trash">
      </i>
    </td>
  </tr>
</table>


<div ng-show="current_forum.owner==current_user.member_id">
  <h3>Tilføj rorere til dit forum:  {{current_forum.forum}}</h3>
  <input placeholder="tilføj medlem" autocomplete="off" id="newforummember" name="newforummember" type="text"
         ng-model="newforummember.member"
         typeahead-min-length="2" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)"
         typeahead-template-url="memberTemplate.html" required />
  
  <i ng-show="newforummember.member" ng-click="forum_add_member()" class="fa fa-plus"></i>
</div>

<table>
  <thead>
    <caption>{{current_forum.forum}}medlemmer</caption>
  </thead>
  <tr ng-repeat="forummember in forummembers"  class="forummember" ng-class-odd="'odd'" ng-class-even="'even'">
    <td>
      {{forummember.name}}
    </td>
    <td>
      <button ng-show="current_forum.owner==current_user.member_id || current_forum.role=='admin'" ng-click="toggle_forummember_role(forummember)" class="chooser">{{forummember.role}}</button>
      <button ng-show="current_forum.owner!=current_user.member_id && current_forum.role!='admin'">{{forummember.role}}</button>
    </td>
    <td ng-show="current_forum.owner==current_user.member_id || current_forum.role=='admin'">
      <i ng-click="accept_forum_supplicant(forummember)" ng-show="forummember.role=='supplicant'" uib-tooltip="godkend roer" class="fa fa-plus"></i>
      <i ng-hide="forummember.member_id==current_user.member_id"  ng-click="unsubscribe(forummember)" uib-tooltip="fjern roer" class="remove fa fa-minus">
      </i> 
    </td>    
  </tr>
</table>



<table class="subscriptions">
  <thead>
    <caption>{{current_forum.forum}} filer:</caption>
  </thead>
  <tr>
    <td>
      <i class="fa fa-search"></i>
      <input ng-model="filefilter" type="text">
      <i class="fa fa-eraser"  ng-click="filefilter=null"></i>
    </td>
  </tr>
  <tr><th>folder</th><th>navn</th><th>MByte</th></tr>
  <tr ng-repeat="file in forum_files | filter:filematch(filefilter)"
      ng-show="file.forum==current_forum.forum"
      class="event" ng-class-odd="'odd'" ng-class-even="'even'">
     <td ng-click="set_file_filter(file.folder)">
       {{file.folder}}
     </td>

    <td>
      <a ng-href="/backend/event/file.php?forum={{file.forum|urlencode}}&file={{file.filename|urlencode}}"> {{file.filename}}</a>
    </td>
     <td class="numin">
       {{(file.file_length/1024/1024).toFixed(1)}}
    </td>

  </tr>
</table>


<form name="upform">
  <fieldset>
    <table>
      <tr>
        <caption>Tilføj en fil til forum</caption>
        <td>Fil</td>
        <td><input type="file" ngf-validate="{size: {max: '5MB', min: '10B'}}"
                   ngf-max-files="5" ng-change="file_selected()"
                   ngf-select="" ng-model="forumfile.file" name="forumfile" ngf-accept="'*/*'">
          <i ng-show="upform.forumfile.$error.required">* kræves</i>
          <h1 ng-show="upform.$error.maxSize">Filen er for stor</h1>
        </td>
      </tr>
      <tr>
        <td>forum:</td>
        <td>
          <select name="uploadforum" id="uploadforum" 
                  ng-options="forum as forum.forum for forum in fora" ng-model="forumfile.forum" required>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Navn på fil:
        </td>
        <td>
          <input type="text" safefilename name="fileName" ng-model="forumfile.filename" size="39" required
                 title="filnavn: bogstaver, tal, #,-,_"
                 pattern="[.a-zA-Z0-9_æøåÆØÅ#=:\+\-@]{1,100}">
          </td>
      </tr>
      <tr>
        <td>
          folder:
        </td>
        <td>
          <ui-select
            reset-search-input="false"           
            ng-model="forumfile.filefolder" 
            pattern="[.a-zA-Z0-9_æøåÆØÅ# \-@/]{1,100}"
            taggingLabel=false
            >

	    <ui-select-match placeholder="bogstaver, tal, #,-,_ kan ikke begynde med /">
              {{forumfile.filefolder||"angiv folder"}}
            </ui-select-match>
	    <ui-select-choices repeat="ff in getfolders($select.search) | filter: $select.search ">
              {{ff}}
	    </ui-select-choices>
          </ui-select>
        </td>
      </tr>
      <tr>
        <td>
          udløber:
        </td>
        <td>
          <input type="checkbox" ng-model="forumfile.notexpire" value="true"> Aldrig
          <datetimepicker               
               uib-tooltip="Udløbsdato"
               popup="d MMM yyyy"
               current-text="i dag"
               close-text="vælg"
               clear-text="rens"
               date-format="yyyy-MM-dd"
               hidden-time="true"
               show-spinners="false"
               date-options="dateOptions"
               show-meridian="false"
               ng-model="forumfile.expire"
               >
          </datetimepicker>
        </td>
      </tr>
      <tr><td>
        <button ng-disabled=" !upform.$valid ||  !forumfile.file || ( !forumfile.expire && !forumfile.notexpire)" ng-click="uploadFile(forumfile)" class="submit">Indsend fil</button>
        <span class="progress" ng-show="forumfile.progress >= 0">
          <div style="width:{{forumfile.progress}}%" ng-bind="forumfile.progress + '%'" class="ng-binding"></div>
        </span>
        <span ng-show="forumfile.result">Så er den på plads</span>
        </td>
      </tr>
    </table>
    <div ng-hide="forumfile.expire || forumfile.notexpire" class="alert">Angiv en udløbsdato</div>
  </fieldset>

</form>

<!--pre>
  foruma {{fora|json}}
  userfora {{userfora|json}}
</pre-->
