<div ng-hide="ccurrentuser.user.member_id">
  <button class="green" ng-click="userlogin()">Log ind</button>
  {{loginstatus}}
</div>

<h1 ng-show="current_user.member_id">Velkommen {{current_user.name}} ({{current_user.member_id}})</h1>
<form name="eventLogin" ng-hide="ccurrentuser.user.member_id">
  <h2>Hvis du ikke har fået et password</h2>
  
  <div>
    <label for="event.deltager">Mit medlemsnummer er</label>
    <input autocomplete="off" id="member" name="member" type="text" ng-model="login.member"  required />
  </div>  
  <br>
  <button class="login" ng-click="getpw()" class="green">Send mit password</button>
</form>
  
<form name="newpw" ng-show="ccurrentuser.user.member_id && ccurrentuser.user.member_id!='baadhal'">  
  <h2>Skift password, mindst 8 tegn</h2>
  <input data-ng-model='login.pw' autocomplete="off" pattern=".{8}.*" type="password" name='password' placeholder='password'>
  gentag: <input data-ng-model='login.pw2' autocomplete="off" type="password" name='password2' placeholder='password'>    
  <button ng-show="login.pw==login.pw2" class="login" ng-click="setpw()" class="green">Skift password</button>   
</form>

<div ng-show="ccurrentuser.user.member_id && ccurrentuser.user.member_id!='baadhal'">
  <button ng-click="logout()" class="red">log ud</button>
  {{loginstatus}}
</div>
