<script type="text/ng-template" id="templates/memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>
<form>
  <input placeholder="vælg medlem" autocomplete="off" id="memberinput" name="membermember" type="text"
         ng-model="privatemessage.member"
         typeahead-editable="false"
         typeahead-select-on-blur="true"
         typeahead-min-length="2" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)" typeahead-select-on-exact="true"
         typeahead-template-url="templates/memberTemplate.html" required />
</form>

<h3 ng-show="privatemessage.member.phone"><i class="fa fa-phone"></i>&nbsp; <a href="tel:{{privatemessage.member.phone}}">{{privatemessage.member.phone}}</a></h3>
<h3 ng-hide="privatemessage.member.phone || !privatemessage.member">har ikke oplyst sit telefonnummer</h3>
<h3 ng-show="privatemessage.member.email_shared"><i class="fa fa-envelope"></i>&nbsp; <a href="mail:{{privatemessage.member.email_shared}}">{{privatemessage.member.email_shared}}</a></h3>
<!--button ng-if="privatemessage.member && (current_user.is_kontingent||current_user.is_bestyrelse||current_user.is_roprotokol_admin)"><a href="/backend/event/admin/medlemsbevis.php?member={{privatemessage.member.id}}">Hent rettighedsbevis</a></button-->
<button ng-if="privatemessage.member"><a href="/backend/event/medlemsbevis.php?member={{privatemessage.member.id}}">Hent rettighedsbevis</a></button>


<form ng-show="privatemessage.member && privatemessage.member.status=='ok'" name="privatemessageform">
  <input class="forumselect " type="text" placeholder="emne" id="messagesubject" ng-model="privatemessage.subject" required>
  <br>
  <textarea class="forumselect msgbody" placeholder="besked" id="privatemessage_body" type="text" ng-model="privatemessage.body" required>
  </textarea>
  <br>
  <button class="green forumselect" ng-disabled="!privatemessageform.$valid" ng-click="privatemessagesend()">Send privat besked til {{privatemessage.member.name}}
  </button>
</form>
