<h1 class="error" ng-hide="dbready || dbgrace">Henter data<br>vær tålmodig</h1>
<h2>Send en besked</h2>
<ng-form name="messageform">
  <select class="forumselect" name="forum" id="forum" ng-model="message.forum" ng-options="forum.forum for forum in fora" required>
    <option value="" disabled selected="selected">vælg forum</option>
  </select>
  <br>
  <input class="forumselect " type="text" placeholder="emne" id="messagesubject" ng-model="message.subject" required>
  <br>
<textarea class="forumselect msgbody" placeholder="besked" id="message_body" type="text" ng-model="message.body" required></textarea><br>
<button class="bodycopy" ng-show="message.old_body" ng-click="message.body=message.old_body">Indsæt tekst</button>
<button class="green forumselect" ng-disabled="!messageform.$valid" ng-click="messagesend()">Send besked</button>
</ng-form>
<h2>Mine Beskeder</h2>


<div ng-include="'templates/messagelist.html'"></div>
