
<h2> <a href="{{public_path}}?member={{current_user.member_id}}"> Indstillinger for {{current_user.name}} ({{current_user.member_id}})</a></h2>

<h4 ng-show="current_user.has_remote_access" >Du har lov til <a class="link" href="https://roprotokol.danskestudentersroklub.dk/frontend/app/index.html">at bruge roprotokollen udefra <i class="fa fa-link"></i></a></h4>

<h3>Din offentlige side</h3>


Din offentlige DSR side, som kan ses af alle er:
<br>
<a href="{{site_path}}/public/user.php?member={{current_user.member_id}}"  target="_blank">
  {{site_path}}/public/user.php?member={{current_user.member_id}}
</a>


<h3>
  Din helt personlige iCal kalender er <a href="{{site_path}}/cal/{{current_user.member_id}}/{{current_user.token}}/roaftaler.ics">
    {{site_path}}/cal/{{current_user.member_id}}/{{current_user.token}}/roaftaler.ics
  </a><br>
</h3>
<div  class="helpbox">
Brug fx ICSdroid til Android telefoner, tilføj til Google calendar ...
<h4>Google Kalender</h4>
<ul>
  <li> Login ind på din Google Kalender</li>
  <li> Vælg "andre Kalendere" ("Other Calendars")</li>
  <li> Vælg "tilføj via Webadresse" ("Add by URL")</li>
  <li> Kopier URL-en overfor ind ok tryk Enter</li>
</ul>

<h4>iPhone, Mac</h4>
Tryk på linket, tilføj begivenheder til din Apple kalender.
</div>

<h3><a href="/backend/event/mine_roture.csv?output=csv">Alle dine roture og aktiviteter til download her <i class="fa fa-download"></i></a></h3>


<h2>Vælg hvad andre kan se på din offentlige side:</h2>
<form name="publicsetting">
  <table>
    <tr><th>Offentlig profil</th>
      <td><input type="checkbox" id="public" ng-model="member_setting.is_public" ng-true-value="1" ng-false-value="0" ></td></tr>

    <tr ng-show="member_setting.is_public">
      <th>Vis min rostatus</th>
      <td> <input type="checkbox" id="status" ng-model="member_setting.show_status" ng-true-value="1" ng-false-value="0" ></td></tr>

    <tr ng-show="member_setting.is_public">
      <th>Vis mine aktiviteter i DSR</th>
      <td> <input type="checkbox" id="status" ng-model="member_setting.show_activities" ng-true-value="1" ng-false-value="0" ></td></tr>

    <tr>

    <tr>
      <th>Hver gang jeg går i land send en email til:<br>(mig, min kæreste, el. lign.) </th>
      <td> <input type="email" id="notification_email" ng-model="member_setting.notification_email"></td>
      <td> <i class="fa fa-remove" ng-click="emailflush()"></i></td>
    </tr>

    <tr>
      <th>Telefonnummer som kan ses af andre DSR-medlemmer og som vises i bådhallen</th>
      <td> <input pattern="(\+\d+ ?)?\d+$" type="tel" id="phone" ng-model="member_setting.phone"></td>
    </tr>
    <tr>
      <th>Email som kan ses af andre DSR-medlemmer og som vises i bådhallen</th>
      <td> <input  type="email" id="email_shared" ng-model="member_setting.email_shared"></td>
    </tr>
    <tr>
      <td>
        <button ng-disabled="publicsetting.$pristine || publicsetting.$invalid" class="green"  ng-click="member_setting_update()">Opdater</button>
        <!--pre>
            {{publicsetting|json}}
            </pre-->
      </td>
    </tr>
  </table>
</form>


<h2>Ro information </h2>

Vis
<label class="switch">  <input type="checkbox" ng-model="show.mytrips" ng-change="toggle_personal('mytrips')">mine ture</label>,
<label class="switch">  <input type="checkbox" ng-model="show.mytripsaggregated" ng-change="toggle_personal('mytripsaggregated')">sæsonoversigt</label>
<label class="switch">  <input type="checkbox" ng-model="show.mystatsdestinations" ng-change="toggle_personal('mystats','destinations')">destinationer</label>
<label class="switch">  <input type="checkbox" ng-model="show.mystatsmates" ng-change="toggle_personal('mystats','mates')">rokammerater</label>
<label class="switch">  <input type="checkbox" ng-model="show.mychart" ng-change="toggle_chart()">aktivitetsgraf</label>

<script type="text/ng-template" id="memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>
<form>
  Jeg har roet med
  <input placeholder="vælg medlem" autocomplete="off" id="othermemberinput" name="othermember" type="text"
         ng-model="othermember" typeahead-on-select="update_mate(othermember.id)"
         typeahead-select-on-exact="true"
         ng-model-options="{updateOn:'blur default',debounce: { 'default': 20, 'blur': 0 } }"
         typeahead-min-length="2" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)"
         typeahead-template-url="memberTemplate.html" />
</form>

<div ng-if="mystatsmates">
  <table class="genericlist statbox">
    <caption>Mine Rokammerater</caption>
    <thead>
      <tr><th>rokammerater</th><th>km roet</th></tr>
    </thead>
    <tbody class="tbody">
      <tr ng-repeat="mate in mystatsmates">
        <td>{{mate.mate}}</td>
        <td class="rnum">{{mate.dist|mtokm}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-show="show.rights">
  <table class="genericlist">
    <caption>My rights</i></caption>
    <thead>
      <tr>
        <th>Rettighed</th>
        <th>Detaljer</th>
        <th>Tildelt</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rr in userrights">
        <td>{{rr.member_right|righttodk}}</td>
        <td>{{rr.arg}}</td>
        <td>{{rr.acquired | txttotime | date:'d/M yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="turoversigt" ng-show="mytrips">
  <table class="genericlist">
    <caption>Mine roture</i></caption>
<thead>
  <tr><th>Båd</th><th>Type</th><th>Destination</th><th>Oprettet</th><th>Turlængde</th><th>kommentar</th></tr>
</thead>
<tbody class="tbody">
  <tr ng-repeat="trip in mytrips" >
    <td>{{trip.boat}}</td>
    <td>{{trip.triptype}}</td>
    <td>{{trip.destination}}</td>
    <td class="datetime">{{trip.outtime|date: "d-MMM-yyyy HH:mm"}}</td>
    <td class="rnum" >{{trip.distance|mtokm}}</td>
    <td class="comment">{{trip.comment}}</td>
  </tr>
</tbody>
</table>
</div>

<div ng-show="mytripsaggregated" class="triptypeview">
  <table class="genericlist">
    <caption>Sæsonoversigt fordelt på turtyper</caption>
    <thead>
      <tr><th>Turtype</th><th>Antal ture</th><th>Rodistance</th><th>Gennemsnit</th></tr>
    </thead>
    <tbody class="tbody">
      <tr ng-repeat="ta in mytripsaggregated">
        <td>{{ta.triptype}}</td>
        <td class="rnum">{{ta.trip_count}}</td>
        <td class="rnum">{{ta.distance|mtokm}}</td>
        <td class="rnum">{{ta.average |mtokm}}</td>
      </tr>
    </tbody>
      </table>
</div>

<div ng-show="mystatsdestinations">
  <table class="genericlist statbox">
    <caption>Mine destinationer</caption>
    <thead>
      <tr><th>Sted</th><th>gange</th></tr>
    </thead>
    <tbody class="tbody">
        <tr  ng-repeat="rowerdest in mystatsdestinations">
          <td>{{rowerdest.destination}}</td>
          <td class="rnum">{{rowerdest.numtrips}}</td>
        </tr>
    </tbody>
  </table>
</div>

<div ng-if="mo" class="seasonschart">
  <h2>Sæsonoversigt</h2>
  <canvas id="roweractivity" class="chart chart-bar"
          chart-data="mo.data" chart-labels="mo.labels" chart-series="mo.series" chart-legend="true">
  </canvas>
  </div>
</div>


<div ng-show="othermember">
  <table  class="genericlist">
    <caption>Roture med {{othermember.name}} <i>({{othermember.id}})</i></caption>
    <thead>
      <tr ><th>Båd</th><th>Type</th><th>Destination</th><th>Oprettet</th><th>Turlængde</th><th>Roere</th></tr>
    </thead>
    <tbody class="tbody">
      <tr ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="trip in mate_trips" >
        <td>{{trip.boat}}</td>
        <td>{{trip.triptype}}</td>
        <td>{{trip.destination}}</td>
        <td class="datetime">{{trip.outtime|date: "d-MMM-yyyy HH:mm"}}</td>
        <td class="rnum" >{{trip.distance|mtokm}}</td>
        <td> <ul><li ng-repeat="rower in trip.rowers">{{rower.name}} </li></ul></td>
      </tr>
    </tbody>
  </table>
</div>
