
<h2> <a href="{{public_path}}?member={{current_user.member_id}}"> Indstillinger for {{current_user.name}} ({{current_user.member_id}})</a></h2>

<h4 ng-show="current_user.has_remote_access" >Du har lov til <a class="link" href="https://roprotokol.danskestudentersroklub.dk/frontend/app/index.html">at bruge roprotokollen udefra <i class="fa fa-link"></i></a></h4>

<h3>Din offentlige side</h3>


Din offentlige DSR side, som kan ses af alle er:
<br>
<a href="{{site_path}}/public/user.php?member={{current_user.member_id}}"  target="_blank">
  {{site_path}}/public/user.php?member={{current_user.member_id}}
</a>


<h3>
  Din helt personlige iCal kalender er <a href="{{site_path}}/cal/{{current_user.member_id}}/{{current_user.token}}/roaftaler.ics">
    {{site_path}}/cal/{{current_user.member_id}}/{{current_user.token}}/roaftaler.ics
  </a><br>
</h3>
<div  class="helpbox">
Brug fx ICSdroid til Android telefoner, tilføj til Google calendar ...
<h4>Google Kalender</h4>
<ul>
  <li> Login ind på din Google Kalender</li>
  <li> Vælg "andre Kalendere" ("Other Calendars")</li>
  <li> Vælg "tilføj via Webadresse" ("Add by URL")</li>
  <li> Kopier URL-en overfor ind ok tryk Enter</li>
</ul>

<h4>iPhone, Mac</h4>
Tryk på linket, tilføj begivenheder til din Apple kalender.
</div>

<h3><a href="/backend/event/mine_roture.csv?output=csv">Alle dine roture og aktiviteter til download her <i class="fa fa-download"></i></a></h3>


<h2>Vælg hvad andre kan se på din offentlige side:</h2>
<form name="publicsetting">
  <table>    
    <tr><th>Offentlig profil</th>
      <td><input type="checkbox" id="public" ng-model="member_setting.is_public" ng-true-value="1" ng-false-value="0" ></td></tr>
    
    <tr ng-show="member_setting.is_public">
      <th>Vis min rostatus</th>
      <td> <input type="checkbox" id="status" ng-model="member_setting.show_status" ng-true-value="1" ng-false-value="0" ></td></tr>

    <tr ng-show="member_setting.is_public">
      <th>Vis mine aktiviteter i DSR</th>
      <td> <input type="checkbox" id="status" ng-model="member_setting.show_activities" ng-true-value="1" ng-false-value="0" ></td></tr>
    
    <tr>

    <tr>
      <th>Hver gang jeg går i land send en email til:<br>(mig, min kæreste, el. lign.) </th>
      <td> <input type="email" id="notification_email" ng-model="member_setting.notification_email"></td>
      <td> <i class="fa fa-remove" ng-click="emailflush()"></i></td>
    </tr>

    <tr>
      <th>Telefonnummer som kan ses af andre DSR-medlemmer og som vises i bådhallen</th>
      <td> <input pattern="(\+\d+ ?)?\d+$" type="tel" id="phone" ng-model="member_setting.phone"></td>
    </tr>
    <tr>
      <th>Email som kan ses af andre DSR-medlemmer og som vises i bådhallen</th>
      <td> <input  type="email" id="email_shared" ng-model="member_setting.email_shared"></td>
    </tr>
    <tr>      
      <td>
        <button ng-disabled="publicsetting.$pristine || publicsetting.$invalid" class="green"  ng-click="member_setting_update()">Opdater</button>
        <!--pre>
            {{publicsetting|json}}
            </pre-->
      </td>
    </tr>
  </table>
</form>

