<script type="text/ng-template" id="memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>

<h1 class="error" ng-hide="dbready || dbgrace">Henter data<br>vær tålmodig</h1>
<div  class="leftlist">
<table class="baselayout" >
  <thead>
    <tr>
      <th>Navn</th>
      <th>start</th>
      <th>distance</th>
      <th>Åben</th>
   </tr> 
  </thead>
  <tbody>
    <tr ng-repeat="ev in events" ng-click="setCurrentEvent(ev)"  ng-class="{selected: currentevent == ev}"
        class="event" ng-class-odd="'oddstat'">
      <td>{{ev.name}}</td>
      <td>{{ev.start_time | date:"d. MMM yyyy"}}</td>
      <td>{{ev.distance|mtokm}} km</td>
      <td ng-show="ev.open">åben</td>
      <td ng-hide="ev.open">lukket</td>
      <td ng-if="ev.owner==current_user.member_id && !ev.open">
        <pre><i class="fa fa-user"></i></pre>
      </td>
    </tr>
  </tbody>
</table>
</div>


<div ng-show="currentevent" class="eventdetails anchor" id="currenteventbox" name="currenteventbox">

  <table>
    <caption> Begivenhed {{currentevent.name}} </caption>
    <tbody class="tbody">
      <tr><th>starter</th><td>{{currentevent.start_time|date :"d-MMM-yyyy HH:mm"}}</td></tr>
      <tr ng-if="currentevent.end_time"><th>slutter</th><td>{{currentevent.end_time|date :"d-MMM-yyyy HH:mm"}}</td></tr>
      <tr ng-if="currentevent.max_participants"><th>max deltagere</th><td>{{currentevent.max_participants}}</td></tr>
      <tr ng-if="currentevent.boat_category"><th>Vi ror i</th><td>{{currentevent.boat_category}}</td></tr>
      <tr class="tripdescription" ng-if="currentevent.comment"><th>Beskrivelse</th><td>{{currentevent.comment}}</td></tr>            
      <tr><th>hvor:</th><td>{{currentevent.location}}</td></tr>
      <tr ng-show="currentevent.distance"><th>distance</th><td>{{currentevent.distance|mtokm}} km</td></tr>
    </tbody>         
  </table>

  <button ng-hide="currentevent.open || is_event_member()" class="green" ng-click="eventjoin('supplicant')">
    Jeg vil med. Anmod om deltagelse
  </button>
  <button ng-show="currentevent.open && ! is_event_member()" class="green"  ng-click="eventjoin('member')">
    Jeg vil med. Tilmeld mig
  </button>
  <button class="green" ng-show="is_event_member()" ng-click="eventleave()">
    Frameld mig
  </button><br>
  <div ng-show="currentevent.owner==current_user.member_id">
  <h3>Tilføj rorere til din begivenhed</h3>
  <input placeholder="tilføj medlem" autocomplete="off" id="neweventmember" name="neweventmember.member" type="text"
         ng-model="neweventmember.member"
         typeahead-min-length="2" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)"
         typeahead-template-url="memberTemplate.html" required />
  
  <i ng-show="neweventmember.member" ng-click="event_add_member()" class="fa fa-plus"></i>
</div>
  <table>
    <caption>
      Deltagere
    </caption>
    <thead>
      <tr><th>Navn</th><th>rolle</th></tr>
    </thead>
    <tbody class="tbody">
      <tr ng-repeat="em in currentevent.participants">
        <td>{{em.name}}   <i uib-tooltip="styrmand" ng-if="em.is_cox" class="fa fa-graduation-cap"></i></td>
        <td class="role">{{em.role}}</td>
        <td ng-show='currentevent.owner==current_user.member_id && em.role=="supplicant"'>
          <button class="submit"  ng-click="include_member(em)"> medtag</button>
        </td>
      </tr>      
    </tbody>         
  </table>
</div>

<pre>
  CE: {{currentevent|json}}
</pre>
