<script type="text/ng-template" id="memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>

<h1 class="error" ng-hide="dbready || dbgrace">Henter data<br>vær tålmodig</h1>

<select name="boatcategory" id="boatcat" ng-model="current_boat_type" ng-options="boatcat.name for boatcat in boatcategories">
<option value="">alle bådtyper</option>
</select>

<select name="forum" id="forum" ng-model="current_forum"
        ng-options="forum.forum for forum in fora">
  <option value="">alle fora</option>
</select>

<div ng-include="'templates/eventlist.html'"></div>
