<script type="text/ng-template" id="memberTemplate.html">
<a>
   <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.worker_id}})</i> {{match.model.requirement}}t
</a>
</script>

<h1>Tidsregistrering</h1>
<div>
  <table class="tlist">
    <caption>Dagens udførte arbejde</caption>
    <thead>
      <tr>
        <th>navn</th>
        <th>tid</th>
        <th>beskrivelse</th>
        <th>båd</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="wk in work_today" ng-if="wk.start_time && wk.end_time">
        <td>{{wk.name}}</td>
        <td>{{wk.start_time | date: "HH:mm"}}-{{wk.end_time | date: "HH:mm "}}
          <span ng-if="wk.end_time">{{wk.end_time | date: "HH:mm"}} = {{wk.hours | number:1 }} h</span>
        </td>
        <td>{{wk.work}}</td>
        <td>{{wk.boat}}</td>
      </tr>
    </tbody>
  </table>

  <table class="tlist">
    <caption>På arbejde</caption>
    <thead>
      <tr>
        <th>Navn</th>
        <th>krav</th>
        <th>påbegyndt</th>
        <th>beskrivelse</th>
        <th>båd</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="wk in work_today"> <!-- ng-if="wk.start_time && !wk.end_time"-->
        <td>{{wk.name}} ({{wk.worker_id}}) </td>
        <td>{{wk.requirement | number:1}}</td>
        <td>{{wk.start_time}} to {{wk.end_time}}
          <input type="time" ng-model="wk.start_time" ng-model-options="timezone=cet"  >&mdash;
          <input type="time" ng-model="wk.end_time" ng-model-options="timezone=cet"> = <span ng-if="wk.end_time">{{(wk.end_time-wk.start_time)/3600 | number:1 }} timer</span></td>
        <td><input class="description" ng-model="wk.work" type="text"></td>
        <td><select ng-model="wk.boat" ng-options="bt.name as bt.name for bt in maintenance_boats"></select></td>
        <td><button ng-disabled="!wk.work" 
                    ng-click="end_work(wk)" uib-tooltip="registrer timer">færdig <i class="fa fa-thumbs-up"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>check ind</h2>
<form>
<input placeholder="vælg medlem" autocomplete="off" id="memberinput" name="xyxyxmber" type="text"
           ng-model="work.worker"
           typeahead-min-length="2" typeahead-select-on-exact="true" uib-typeahead="rower as rower.name for rower in getWorkersByName($viewValue,workers) | filter: {start_time: 'x'}"
           typeahead-template-url="memberTemplate.html" typeahead-on-select="select_worker()" required />
</form>

<h2>info</h2>

Se alt dit arbejde under fanebladet: min side på din egen computer.

<div ng-if="true">
  <h1>Administration</h1>
  <button ng-hide="workers.length" ng-click="generate_work()">Generer arbejdstimer</button>
  <button ng-show="workers.length" ng-click="delete_work()">Slet alle arbejdstimer</button>
  <h2>Rediger deltager<h2>
      <form>
        <input placeholder="vælg medlem" autocomplete="off" id="workeradmininput" name="asxyxmber" type="text"
               ng-model="workadmin.worker"
               typeahead-min-length="2" typeahead-select-on-exact="true"
               uib-typeahead="rower as rower.name for rower in getWorkersByName($viewValue,workers)"
               typeahead-template-url="memberTemplate.html" typeahead-on-select="edit_worker()" required />
        <input type="number" class="rnum" size="5" step="0.1" maxlength="5" autocomplete="off" ng-model="workadmin.worker.requirement"
               ng-change="workadmin.changed=true">
        <button ng-show="workadmin.changed && workadmin.worker.requirement" ng-click="update_work_req()">Opdater timer</button>
      </form>
</div>
