<script type="text/ng-template" id="memberTemplate.html">
<a>
   <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.worker_id}})</i> {{match.model.requirement}}t
</a>
</script>
<h1>Tidsregistrering</h1>
<div>
  <table class="tlist">
    <caption>Dagens udførte arbejde</caption>
    <thead>
      <tr>
        <th>navn</th>
        <th>tid</th>
        <th>beskrivelse</th>
        <th>båd</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="wk in work_today" ng-if="wk.start_time && wk.hours">
        <td>{{wk.name}}</td>
        <td>{{wk.start_time | dsrtimeformat}} &mdash;
          <span ng-if="wk.end_time">{{wk.end_time | dsrtimeformat}} = {{wk.hours | number:1 }} h</span>
        </td>
        <td>{{wk.work}}</td>
        <td>{{wk.boat}}</td>
        <td><i class="fa fa-trash" ng-click="rm_work(wk)"></i></td>
      </tr>
    </tbody>
  </table>

  <table class="tlist">
    <caption>På arbejde</caption>
    <thead>
      <tr>
        <th>Navn</th>
        <th>krav</th>
        <th>påbegyndt</th>
        <th>beskrivelse</th>
        <th>båd</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="wk in work_today" ng-if="!wk.hours">
        <td>{{wk.name}} ({{wk.worker_id}})</td>
        <td>{{wk.requirement | number:1}}</td>
        <td>
          <dsrinterval usestartdate="current_user.is_winter_admin" ng-model="wk">
            {{(wk.end_time-wk.start_time)/3600000 | number:1 }} timer</td>
        <td><input class="description" ng-model="wk.work" type="text"></td>
        <td>
          <SELECT ng-model="wk.boat"><OPTION ng-repeat="bt in maintenance_boats">{{bt.name}}</OPTION>
          <OPTION>Bådhal</OPTION>
          <OPTION>Klargøring</OPTION>
          </SELECT>
        </td>
        <td><button ng-disabled="!wk.work"
                    ng-click="end_work(wk)" uib-tooltip="registrer timer">færdig <i class="fa fa-thumbs-up"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="current_user.member_id=='7843' || current_user.member_id=='baadhal' || current_user.is_winter_admin">
  <h2 >check ind</h2>
  <form>
    <input placeholder="vælg medlem" autocomplete="off" id="memberinput" name="xyxyxmber" type="text"
           ng-model="work.worker"
           typeahead-min-length="2" typeahead-select-on-exact="true" uib-typeahead="rower as rower.name for rower in getWorkersByName($viewValue,workers) | filter: {start_time: 'x'}"
           typeahead-template-url="memberTemplate.html" typeahead-on-select="select_worker()" required />
  </form>
</div>

<h2>info</h2>

Se alt dit arbejde under fanebladet: min side på din egen computer.
<h2>Roeropslag</h2>

<input placeholder="vælg medlem" autocomplete="off" id="memberinput" name="xzzxyxmber" type="text"
           ng-model="work.selectedworker"
           typeahead-min-length="2" typeahead-select-on-exact="true" uib-typeahead="rower as rower.name for rower in getWorkersByName($viewValue,workers)"
           typeahead-template-url="memberTemplate.html" typeahead-on-select="show_worker()" required />
<div ng-if="mystatswork && work.selectedworker" class="worklist">
  <table class="genericlist">
    <caption> Udført arbejde af {{work.selectedworker.name}}:  {{mystatswork|sumWork|number:1}} timer af {{work.selectedworker.requirement}}</caption>
    <thead>
      <tr>
        <th>tidsrum</th>
        <th>timer</th>
        <th>arbejde</th>
        <th>arbejdet på</th>
      </tr>
    </thead>
    <tbody ng-if="!current_user.is_winter_admin">
      <tr ng-repeat="work in mystatswork">
        <td>{{work.start_time | dsrtimeformat:true}}&mdash;{{work.end_time | dsrtimeformat}} </td>
        <td  class="rnum">{{work.hours}}</td>
        <td >{{work.task}} {{work.work}}</td>
        <td>{{work.boat}}</td>
      </tr>
    </tbody>
    <tbody ng-if="current_user.is_winter_admin">
      <tr ng-repeat="work in mystatswork">
        <td><dsrinterval usestartdate=true ng-model="work" ng-change="work.dirty=true"></td>
        <td class="rnum"><input type="number" ng-model="work.hours" ng-change="work.dirty=true"></td>
        <td>{{work.task}} <input ng-model="work.work" ng-change="work.dirty=true"></td>
        <td><input ng-model="work.boat" ng-change="work.dirty=4747"></td>
        <td><button ng-show="work.dirty" ng-click="update_work(work)">opdater</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-if="current_user.is_winter_admin">
  <h1>Administration</h1>
  <!--button ng-hide="workers.length" ng-click="generate_work()">Generer arbejdstimer</button>
  <button ng-show="workers.length" ng-click="delete_work()">Slet alle arbejdstimer</button-->
  <h2>Rediger deltager<h2>
      <form>
        <input placeholder="vælg medlem" autocomplete="off" id="workeradmininput" name="asxyxmber" type="text"
               ng-model="workadmin.worker"
               typeahead-min-length="2" typeahead-select-on-exact="true"
               uib-typeahead="rower as rower.name for rower in getWorkersByName($viewValue,workers)"
               typeahead-template-url="memberTemplate.html" typeahead-on-select="edit_worker()" required />
        <input type="number" class="rnum" size="5" step="0.1" maxlength="5" autocomplete="off" ng-model="workadmin.worker.requirement"
               ng-change="workadmin.changed=true">
        <button ng-show="workadmin.changed && workadmin.worker.requirement!=null" ng-click="update_work_req()">Opdater timer</button>
      </form>
      <h2>Rapporter</h2>
      <ul>
        <li><button ng-click="get_report('all')">Timer på vintervedligehold</button><a href="/backend/event/stats/workstats.php?q=all">download</a></li>
        <li><button ng-click="get_report('day')">Timer pr dag vintervedligehold</button><a href="/backend/event/stats/workstats.php?q=day">download</a></li>
        <li><button ng-click="get_report('boat')">Timer pr båd vintervedligehold</button><a href="/backend/event/stats/workstats.php?q=boat">download</a></li>
        <li><button ng-click="get_report('resterende')">Timer roer</button><a href="/backend/event/stats/workstats.php?q=resterende">download</a></li>
        <li><button ng-click="get_report('overview')">Oversigt</button><a href="/backend/event/stats/workstats.php?q=overview">download</a></li>
      </ul>
      <div ng-if="workreport">
        <table class="tlist">
          <caption>{{workreport.name}}</caption>
          <thead>
            <tr>
              <th ng-repeat="caption in workreport.captions">{{caption.name}}</th>
            </tr>
            <tbody>
              <tr ng-repeat="row in workreport.body" ng-class-odd="'odd'" ng-class-even="'even'">
                <td ng-repeat="fl in row"  ng-class="{rnum:workreport.captions[$index].type=='d',hours:workreport.captions[$index].name=='timer'}"> {{fl}}</td>
              </tr>
            </tbody>
    </thead>
        </table>
      </div>
</div>
