<script type="text/ng-template" id="memberTemplate.html">
<a>
   <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.worker_id}})</i> {{match.model.requirement}}t
</a>
</script>
<script type="text/ng-template" id="allmemberTemplate.html">
<a>
   <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
</a>
</script>
<h1>Tidsregistrering</h1>
<div>
  <table class="tlist">
    <caption>Dagens udførte arbejde: {{workedtoday.length}} har arbejdet</caption>
    <thead>
      <tr>
        <th>navn</th>
        <th>tid</th>
        <th>beskrivelse</th>
        <th>båd</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="wk in workedtoday=(work_today| filter: {'hours':''})">
        <td>{{wk.name}}</td>
        <td>{{wk.start_time | dsrtimeformat}} &mdash;
          <span ng-if="wk.end_time">{{wk.end_time | dsrtimeformat}} = {{wk.hours | number:1 }} h</span>
        </td>
        <td>{{wk.work}}</td>
        <td>{{wk.boat}}</td>
        <td><i class="fa fa-trash" ng-click="rm_work(work_today,wk)"></i></td>
      </tr>
    </tbody>
  </table>

  <table class="tlist">
    <caption>På arbejde, {{wtd.length}} i dag</caption>
    <thead>
      <tr>
        <th>Navn</th>
        <th>krav</th>
        <th>påbegyndt</th>
        <th>beskrivelse</th>
        <th>båd</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="wk in wtd=(work_today | filter: {'hours':null})">
        <td>{{wk.name}} ({{wk.worker_id}})</td>
        <td>{{wk.requirement | number:1}}</td>
        <td>
          <dsrinterval usestartdate="current_user.is_winter_admin" editstarttime="current_user.is_winter_admin" ng-model="wk"/>
          {{(wk.end_time-wk.start_time)/3600000 | number:1 }} timer</td>
        <td><input class="description" ng-model="wk.work" type="text"></td>
        <td>
          <SELECT ng-model="wk.boat"><OPTION ng-repeat="bt in maintenance_boats">{{bt.name}}</OPTION>
          <OPTION>Bådhal</OPTION>
          <OPTION>Klargøring</OPTION>
          </SELECT>
        </td>
        <td><button ng-disabled="!wk.work"
                    ng-click="end_work(wk)" uib-tooltip="registrer timer">færdig <i class="fa fa-thumbs-up"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="current_user.member_id=='7843' || current_user.member_id=='baadhal' || current_user.is_winter_admin">
  <h2 >check ind</h2>
  <form>
    <input placeholder="vælg medlem" autocomplete="off" id="checkinmemberinput" name="xyxyaxmber" type="text"
           ng-model="work.worker"
           typeahead-min-length="2" typeahead-select-on-exact="true" uib-typeahead="rower as rower.name for rower in getWorkersByName($viewValue,workers) | filter: oneperday"
           typeahead-template-url="memberTemplate.html" typeahead-on-select="select_worker()" required />
  </form>
</div>

<h2>info</h2>

Se alt dit arbejde under fanebladet: min side på din egen computer.
<h2>Opslag</h2>

<input placeholder="vælg medlem" autocomplete="off" id="lookupmemberinput" name="xzzzxyxmber" type="text"
           ng-model="work.selectedworker"
           typeahead-min-length="2" typeahead-select-on-exact="true" uib-typeahead="rower as rower.name for rower in getWorkersByName($viewValue,workers)"
       typeahead-template-url="memberTemplate.html" typeahead-on-select="show_worker()" required />

<datetimepicker
  date-format="d-MMM-yyyy"
  close-text="Vælg"
  clear-text="Rens"
  current-text="i dag"
  placeholder="arbejdsdato"
  show-spinners="false"
  date-options="dateOptions"
  hidden-time="true"
  show-meridian="false"
  data-ng-model="work.workdate"
  ng-change="show_day()"
  class="trip-search-field"
  >
</datetimepicker>

<div ng-if="mystatswork" class="worklist">
  <table class="worktable">
    <caption ng-if="work.selectedworker"> Udført arbejde af {{work.selectedworker.name}}:  {{mystatswork|sumWork|number:1}} timer af {{work.selectedworker.requirement}}</caption>
    <caption ng-if="work.workdate"> Arbejde den {{work.workdate | date:'d/M yyyy'}}</caption>
    <thead>
      <tr>
        <th>roer</th>
        <th>tidsrum</th>
        <th>timer</th>
        <th>arbejde</th>
        <th>arbejdet på</th>
      </tr>
    </thead>
    <tbody ng-if="!current_user.is_winter_admin">
      <tr ng-repeat="work in mystatswork">
        <td>{{work.worker}}</td>
        <td>{{work.start_time | dsrtimeformat:true}}&mdash;{{work.end_time | dsrtimeformat}} </td>
        <td  class="rnum">{{work.hours}}</td>
        <td class="worktext">{{work.task}} {{work.work}}</td>
        <td>{{work.boat}}</td>
      </tr>
    </tbody>
    <tbody ng-if="current_user.is_winter_admin">
      <tr ng-repeat="work in mystatswork">
        <td>{{work.worker}}</td>
        <td><dsrinterval editstarttime="true" usestartdate="true" ng-model="work" ng-change="work.dirty=true"/></td>
        <td class="rnum"><input type="number" ng-model="work.hours" ng-change="work.dirty=true"></td>
        <td>{{work.task}} <textarea class="worktext" ng-model="work.work" ng-change="work.dirty=true"></textarea></td>
        <td><input ng-model="work.boat" ng-change="work.dirty=4747"></td>
        <td><i class="fa fa-trash" ng-click="rm_work(mystatswork,work)"></i> <button ng-show="work.dirty" ng-click="update_work(work)">opdater</button></td>
      </tr>
    </tbody>
  </table>
</div>

<ul>
  <li><button ng-click="get_report('rank','openworkstats')">statistik</button></li>
</ul>

<div ng-if="current_user.is_winter_admin">
  <h1>Administration</h1>
  <!--button ng-hide="workers.length" ng-click="generate_work()">Generer arbejdstimer</button>  <button ng-show="workers.length" ng-click="delete_work()">Slet alle arbejdstimer</button-->
  <h2>Tilføj ny roer til vintervedligehold</h2>
      <form>
        <input placeholder="vælg medlem" autocomplete="off" id="workeraddinput" name="aseexmberws" type="text"
               ng-model="workadmin.newworker"
               typeahead-editable="false"
               typeahead-select-on-blur="true"
               ng-model-options="{updateOn:'blur default',debounce: { 'default': 200, 'blur': 0 } }"
               typeahead-min-length="2" typeahead-select-on-exact="true"
               uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)"
               typeahead-on-select='onNewWorkerSelect($item, $model, $label)'
               typeahead-template-url="allmemberTemplate.html" required>
        <SELECT ng-model="workadmin.newworker.workertype" ng-show="workadmin.newworker.id">
          <option>Inrigger</option>
          <option>Kajakker</option>
          <option>Morgenroerne</option>
          <option>Coastal</option>
        </SELECT>
        <input type="number" class="rinum" size="8" step="0.5" maxlength="5" autocomplete="off" ng-model="workadmin.newworker.requirement" ng-change="workadmin.new=true">
        <button ng-show="workadmin.new && workadmin.newworker.requirement!=null" ng-click="create_worker(workadmin.newworker)">Sæt til arbejde</button>
      </form>
      <h2>Rediger deltager</h2>
      <form>
        <input placeholder="vælg medlem" autocomplete="off" id="workereditelect" name="asxyxmber" type="text"
               ng-model="workadmin.worker"
               typeahead-editable="false"
               typeahead-select-on-blur="true"
               typeahead-min-length="2" typeahead-select-on-exact="true"
               uib-typeahead="rower as rower.name for rower in getWorkersByName($viewValue,workers)"
               typeahead-template-url="memberTemplate.html" typeahead-on-select="edit_worker()" required>
        <input type="number" class="rnum" size="5" step="0.1" maxlength="5" autocomplete="off" ng-model="workadmin.worker.requirement"
               ng-change="workadmin.changed=true">

        <select ng-change="workadmin.changed=true" ng-model="workadmin.worker.workertype">
          <option value="Inrigger">Inrigger</option>
          <option value="Kajakker">Kajakker</option>
          <option value="Morgenroerne">Morgenroerne</option>
          <option value="Coastal">Coastal</option>
        </select>
        <button ng-show="workadmin.changed && workadmin.worker.requirement!=null" ng-click="update_work_req()">Opdater timer og type</button>
      </form>
      <h2>Rapporter</h2>
      <div  class="weekbar">
        <canvas id="bar" class="chart chart-bar"
                chart-dataset-override="weekwork.override"
                chart-data="weekwork.data"
                chart-labels="weekwork.labels"
                chart-series="weekwork.series"
                chart-options="weekwork.options" maintainAspectRatio="false">
        </canvas>
      </div>
      <ul>
        <li><button ng-click="get_report('all')">Timer på vintervedligehold</button> <a class="linkbtn" href="/backend/event/stats/workstats.php?q=all&format=xlsx">download</a></li>
        <li><button ng-click="get_report('day')">Timer pr dag vintervedligehold</button> <a class="linkbtn" href="/backend/event/stats/workstats.php?q=day&format=xlsx">download</a></li>
        <li><button ng-click="get_report('boat')">Timer pr båd vintervedligehold</button> <a class="linkbtn" href="/backend/event/stats/workstats.php?q=boat&format=xlsx">download</a></li>
        <li><button ng-click="get_report('weeks')">Timer pr uge</button> <a class="linkbtn" href="/backend/event/stats/workstats.php?q=weeks&format=xlsx">download</a></li>
        <li><button ng-click="get_report('resterende')">Timer roer</button> <a class="linkbtn" href="/backend/event/stats/workstats.php?q=resterende&format=xlsx">download</a></li>
        <li><button ng-click="get_report('nonstarters')">roere, mindst arbejdet</button>
          <button ng-click="get_report('nonstarters','workstats','Inrigger')">Inrigger</button>
          <button ng-click="get_report('nonstarters','workstats','Kajakker')">Kajak</button>
          <button ng-click="get_report('nonstarters','workstats','Morgenroerne')">morgen</button>
          <button ng-click="get_report('nonstarters','workstats','Coastal')">coastel</button>
          <a class="linkbtn" href="/backend/event/stats/workstats.php?q=nonstarters&format=xlsx">download</a>
        </li>
        <li><button ng-click="get_report('nonmembers')">udmeldte</button>
          <a class="linkbtn" href="/backend/event/stats/workstats.php?q=nonmembers&format=xlsx">download</a>
        </li>

        <li>Arbejdet mindre end <input type="number"  min="0" max="100" step="10" ng-model="workstat.workpercent" ng-change="workstat.mailto=null">
          <button ng-click="get_email_report('lesswork','workstats',workstat.workpercent)">Vis</button>
          <a class="linkbtn" ng-show="workstat.mailto" href='mailto:{{workstat.mailto}}?subject=Du%20er%20bagud%20med%20vintervedligehold&body=Du%20har%20lavet%20under%20{{workstat.workpercent}}%20procent%20af%20dit%20arbejde'>Lav email</a>
          <a class="linkbtn" href="/backend/event/stats/workstats.php?q=lesswork&a={{workstat.workpercent}}&format=xlsx">download</a>
        </li>

        <li>
          <button ng-click="get_report('rank')">Roertimer tilbage </button>
          <button ng-click="get_report('rank','workstats',10)"> &gt; 10</button>
          <button ng-click="get_report('rank','workstats',15)"> &gt; 15 </button>
          <button ng-click="get_report('rank','workstats',20)"> &gt; 20</button>
          <a class="linkbtn" href="/backend/event/stats/workstats.php?q=rank&format=xlsx">download</a></li>
        <li><button ng-click="get_report('overview')">Oversigt</button> <a class="linkbtn" href="/backend/event/stats/workstats.php?q=overview&format=xlsx">download</a></li>
      </ul>
</div>

<div ng-if="workreport">
  <table class="tlist">
          <caption>{{workreport.name}}</caption>
          <thead>
            <tr>
              <th ng-repeat="caption in workreport.captions">{{caption.name}}</th>
            </tr>
            <tbody>
              <tr ng-repeat="row in workreport.body" ng-class-odd="'odd'" ng-class-even="'even'" >
                <td ng-repeat="fl in row track by $index"  ng-class="{rnum:workreport.captions[$index].type=='d',hours:workreport.captions[$index].name=='timer'}"> {{fl}}</td>
              </tr>
            </tbody>
          </thead>
  </table>
</div>
