<div class="genericcategories">
  <div>
    <button class="statcat" ng-repeat="statcategory in ['any','rowboat', 'kayak', 'kaniner']"  ng-click="docats(statcategory)" >{{boatcat2dk[statcategory]}}
    </button>
    <select  ng-model="statseason" ng-change="changeSeason(ss)">
      <option ng-repeat="ss in seasons">{{ss}}</option>
    </select>
    <button ng-click="tableParams.sorting({}) && boattableParams.sorting({}) && (statseason=''+currentseason)" class="btn btn-default pull-right">Normal visning</button>
    <!--div>Søg efter roer: <input ng-model="filter"><button ng-click="tableParams.filter('')">Clear</button>FIXME </div-->
  </div>
  <div>
    <div class="rowerstat">
      <div class="stats">
	<table ng-table="tableParams" class="statlist" show-filter="true">
          <caption>Statistik for roere</caption>
	  <thead>
	    <tr>
	      <th class="text-center sortable"
		  ng-class="{'sort-asc': tableParams.isSortBy('rank', 'asc'),'sort-desc': tableParams.isSortBy('rank', 'desc')}"
		  ng-click="tableParams.sorting('rank', tableParams.isSortBy('rank', 'asc') ? 'desc' : 'asc')">nr <i class="fa fa-sort"></i>
	      </th>
	      <th ng-click="tableParams.sorting('id', tableParams.isSortBy('id', 'asc') ? 'desc' : 'asc')">Medlem# <i class="fa fa-sort"></th>
	      <th ng-click="tableParams.sorting('firstname', tableParams.isSortBy('firstname', 'asc') ? 'desc' : 'asc')">Roer <i class="fa fa-sort"></th>
	      <th  ng-class="{'sort-asc': tableParams.isSortBy('distance', 'asc'),'sort-desc': tableParams.isSortBy('distance', 'desc')}" ng-click="tableParams.sorting('distance', tableParams.isSortBy('distance', 'asc') ? 'desc' : 'asc')">Distance <i class="fa fa-sort"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="stat in $data" ng-class-odd="'oddstat'"> 
	      <td sortable="'rank'" data-title="'Nr'">{{stat.rank}} </td>
	      <td class="rnum" data-title="'Medlemsnummer'" sortable="'memberid'" filter="{'memberid':'text'}"><a href="#/rower/{{stat.id}}">{{stat.id}}</a> </td>
	      <td data-title="'Navn'" sortable="'name'" filter="{'firstname':'text'}"><i ng-show="stat.wrench" class="fa fa-wrench"></i> {{stat.firstname}} {{stat.lastname}}</td>
	      <td data-title="'Distance'" sortable="'distance'" class="rnum">{{stat.distance|mtokm}}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>

    
    <div class="boatstat"> 
      <div class="stats">
	<table ng-table="boattableParams" class="statlist" show-filter="true">
          <caption>Statistik for både</caption>
	  <thead>
	    <tr>
	      <th class="text-center sortable"
		  ng-class="{'sort-asc': boattableParams.isSortBy('rank', 'asc'),'sort-desc': boattableParams.isSortBy('rank', 'desc')}"
		  ng-click="boattableParams.sorting('rank', boattableParams.isSortBy('rank', 'asc') ? 'desc' : 'asc')">nr <i class="fa fa-sort">
	      </th>
	      <th ng-click="boattableParams.sorting('boatname', boattableParams.isSortBy('boatname', 'asc') ? 'desc' : 'asc')">  Navn <i class="fa fa-sort"></th>
	      <th ng-click="boattableParams.sorting('boat_type', boattableParams.isSortBy('boat_type', 'asc') ? 'desc' : 'asc')">Type <i class="fa fa-sort"></th>
	      <th ng-click="boattableParams.sorting('num_trips', boattableParams.isSortBy('num_trips', 'asc') ? 'desc' : 'asc')">ture <i class="fa fa-sort"></th>
	      <th  ng-class="{'sort-asc': boattableParams.isSortBy('distance', 'asc'),'sort-desc': boattableParams.isSortBy('distance', 'desc')}" ng-click="boattableParams.sorting('distance', boattableParams.isSortBy('distance', 'asc') ? 'desc' : 'asc')">Distance <i class="fa fa-sort"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="boatstat in $data" ng-class-odd="'oddstat'"> 
	      <td sortable="'rank'" data-title="'Nr'">{{boatstat.rank}} </td>
	      <td data-title="'boatname'" sortable="'boatname'"> {{boatstat.boatname}}</td>
	      <td data-title="'boat_type'" sortable="'boat_type'"> {{boatstat.boat_type}}</td>
	      <td class="rnum" data-title="'num_trips'" sortable="'num_trips'"> {{boatstat.num_trips}}</td>
	      <td data-title="'Distance'" sortable="'distance'" class="rnum">{{boatstat.distance|mtokm}}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>

  <div class="rowchart">
    <h3>Roede km per turtype hvert år</h3>
    <canvas id="tripdistancesyear" class="chart chart-bar"
            chart-data="triptypestat.distance" chart-labels="triptypestat.labels" chart-series="triptypestat.series" chart-legend="true">
    </canvas>
  </div>
  <div class="rowchart">
    <h3>Antal roture per turtype hvert år</h3>
    <canvas id="numtripsyear" class="chart chart-bar"
            chart-data="triptypestat.numtrips" chart-labels="triptypestat.labels" chart-series="triptypestat.series" chart-legend="true">
    </canvas>
  </div>  
</div>

<!--p><strong>data:</strong> {{data|json}}
    <p><strong>BS:</strong> {{boatdata|json}}
    <p><strong>Sorting:</strong> {{boattableParams.sorting()|json}}
    <p><strong>Filter:</strong> {{boattableParams.filter()}}
    <p><strong>cat:</strong> {{boattableParams.rowcategory|json}}-->
