<h1 class="error" ng-hide="dbready || dbgrace">Henter data<br>vær tålmodig</h1>

<h2>Holdaktivitet for
  <select name="teamactivitychooser" class="teamchoose" id="teamactivityselect"
          ng-model="teamactivity.team"
          ng-options="team.name as team.name for team in teams| orderBy: 'team'"
          ng-change="set_team(teamactivity.team)"
          >
  </select>:
</h2>

<table class="activitylist" ng-show="teamactivity.team">
  <thead>
  <tr>
    <th>Aktivitet</th> <th>Instruktør</th><th>Tid</th> <th>Båd</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="teamtrip in teamtrips" class="teamtrip" ng-class-odd="'oddstat'">
    <th class="comment">{{teamtrip.comment}}</th>
    <th>{{teamtrip.instructor}}</th>
    <th>{{teamtrip.outtime}}</th>
    <th>{{teamtrip.boat}}</th>
  </tr>
  </tbody>
</table>  




<h2>Log</h2>

<table class="coxlist">
  <thead>
  <tr>
    <th>Instruktør</th> <th>Tid</th>  <th>Handling</th><th>gjort</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="entry in coxlog" class="coxlog" ng-class-odd="'oddstat'">
    <th>{{entry.instructor_name}} ({{entry.instructor}})</th>
    <td>{{entry.timestamp}}</td>
    <td>{{entry.action}}</td>
    <td>{{entry.entry}}</td>
  </tr>
  </tbody>
</table>  

<pre>
  {{teams}}
  </pre>
