<script type="text/ng-template" id="memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>

<div>
  <ng-form name="coxAspirantLogin">
    <h2>Hvis du ikke har fået et password</h2>
    
    <div>
      <label for="cox.deltager">Mit medlemsnummer er</label>
      <input autocomplete="off" id="coxaspirant" name="coxaspirant" type="text" ng-model="login.aspirant"  required />
    </div>

    <br>
    <button class="login" ng-click="getpw()" class="green">Send mit password</button>
  </ng-form>
  
    <h2>Skift password</h2>
    <ng-form name="newpw">

    <input data-ng-model='login.pw' type="password" name='password' placeholder='password'>
    
    <button class="login" ng-click="setpw()" class="green">Skift password</button>
        
    <br>
    <button ng-click="logout()" class="red">log ud</button>
    {{loginstatus}}
     </ng-form>
</div>
