<script type="text/ng-template" id="memberTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>

<div>
<ng-form name="coxAspirant">
  <h2>Opskrivning på styrmandshold af {{webrower.name}} ({{webrower.member_id}})</h2>
  (Hvis du vil ændre noget, så bare udfyld det igen)
  <br>
    Jeg vil have

  <select name="intensitychooser" id="signupintensity" ng-model="signup.preferred_intensity"
          ng-options="intensity for intensity in intensities" required>
  </select>
intensitet.
  <br>
  Jeg foretrækker instruktion til 
  <select name="intensitychooser" id="signupintensity" ng-model="signup.preferred_time"
          ng-options="season for season in seasons" required>
  </select>

  <br>
  Jeg træner på:
  <ul>
    <li class="acts" ng-repeat="activity in activities">
      <input type="checkbox" checklist-model="signup.act" checklist-value="activity"> {{activity}}
    </li>
  <ul>
    <br>
    Ønske (fx holdnavn du har aftalt med andre aspiranter):
    <input autocomplete="off" ng-model="signup.wish" maxlength="15" class="ui-select-bootstrap" type="text" name="input" required ></input>

  <br>
  Mit telefonnummer er:
  <input autocomplete="off" ng-model="signup.phone" maxlength="15" class="ui-select-bootstrap" type="text" name="input" required ></input>

  Min email er:
  <input autocomplete="off" ng-model="signup.email" maxlength="255" class="ui-select-bootstrap" type="text" name="input" required ></input>

    <br>
Og desuden:
    <textarea placeholder="fri tekst, fx hvem du gerne vil på hold med"
              class="signuptext" autocomplete="off" id="signupcmt" name="cmt" type="text" ng-model="signup.comment" required>
    </textarea>
<br>
  <button class="green" ng-click="dosignup()">Registrer</button>
</ng-form>
</div>


<div>
  <h2>Styrmandsaspiranter</h2>

      <ng-form name="teamMembers">    
      <table class="coxlist genericlist">
        <thead>
          <th><button class="header" ng-click="sortAspirantBy('name')">Navn <i class="fa fa-sort"></i></button></th>
          <th><button class="header" ng-click="sortAspirantBy('wish')">Ønske  <i class="fa fa-sort"> </i> </button></th>
          <th>Telefon</th>
          <th>Email</th>
          <th><button class="header" ng-click="sortAspirantBy('preferred_time')">Sæsonprioritet  <i class="fa fa-sort"> </i></button></th>
          <th><button class="header" ng-click="sortAspirantBy('activities')">Aktiviteter  <i class="fa fa-sort"> </i></button></th>
      </thead>
      <tbody>
        <tr ng-repeat="aspirant in aspirants" ng-class-odd="'oddstat'">
          <td>{{aspirant.name}}</td>
          <td>{{aspirant.wish}}</td>
          <td>{{aspirant.phone}}</td>
          <td>{{aspirant.email}}</td>
          <td>{{aspirant.preferred_time}}</td>
          <td>{{aspirant.activities}}</td>
      </tbody>
    </table>
  </ng-form>

</div>
