<div class="baselayout">
<!--div class="rowerfunctions" ng-include="'templates/rowers/_rowerfunctions.html'"></div-->

  <script type="text/ng-template" id="taTemplate.html">
  <a>
  <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
  <i>({{match.model.id}})</i>
  </a>
  </script>

  <h2 class="prompt">Søg efter roer:</h2> <ng-form name="rowerFieldForm">
  <input autocomplete="off" id="findrower" ng-model="currentrower" name="name" type="text" typeahead-min-length="3" typeahead-on-select="updateRowerTrips($item)" ng-model="currentrower" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)" uibTypeahead-template-url="taTemplate.html" required />
  </ng-form>
  <br>
  <h2 class="prompt">Roer <div class="prompt" ng-model="currentrower"> {{currentrower.id}}:  {{currentrower.name}} </div></h2> 
<br>
<h3 class="prompt">Rettigheder:</h3>
<ul>
  <li ng-if="currentrower" ng-repeat="(right,arg) in currentrower.rights"> {{right}} {{arg}}</a>
  </li>
</ul>   

<h3>Ture og Turtyper</h3>
<table class="genericlist">
  <caption>Oversigt fordelt på turtyper</caption>
  <thead>
    <tr><th>Turtype</th><th>Antal ture</th><th>Rodistance</th><th>Gennemsnit</th></tr>
  </thead>
  <tr ng-repeat="ta in rowertripsaggregated">
    <td>{{ta.triptype}}</td><td class="rnum">{{ta.trip_count}}</td><td class="rnum">{{ta.distance}}</td><td class="rnum">{{ta.average}}</td>
  </tr>
</table>

<table class="genericlist">
  <caption>Turoversigt</caption>
  <thead>
    <tr><th>TurID</th><th>Båd</th><th>Destination</th><th>Oprettet</th><th>Turlængde</th></tr>
  </thead>
  <tr ng-repeat="trip in rowertrips" ng-click="tripselect(trip,$index)" ng-class='{selected: trip == currenttrip}' >
    <td class="selected">{{trip.id}}</td><td>{{trip.boat}}</td><td>{{trip.destination}}</td><td>{{trip.created}}</td><td class="rnum" >{{trip.distance}}</td>
  </tr>
</table>

<table class="genericlist">
  <caption>Tur {{trip.destination}}</caption>
  <thead>
    <tr><th>Roer</th><th>Medlemsnummer</th></tr>
  </thead>
  <tr ng-repeat="tripmember in tripmembers">
    <td >{{tripmember.MemberName}}</td><td class="rnum">{{tripmember.member_id}}</td></td>
  </tr>
</table>


</div>
<div>
