<div class="big">{{checkinmessage}}</div>

<div class="boatselection">
  <label for="select_boat">Båd</label>
  <input autocomplete="off" typeahead-editable="false" id="select_boat" name="name" type="text" ng-model="selectedboat" typeahead-min-length="1" uib-typeahead="boat as boat.name for boat in getMatchingBoats($viewValue)" typeahead-template-url="boatTemplate.html" required>
</div>


<div class="boattypesmenu" style="float:left">
  <h2>Vælg bådtype</h2>
  <ul>
    <li ng-repeat="boatcategory in boatcategories" "{selected: boatcategory == selectedBoatCategory}" ng-click="selectBoatCategory(boatcategory)">{{boatcategory.name}}</li>
    <li ng-click="selectedBoatCategory=null">Alle bådtyper</li>
  </ul>   
</div>

<script type="text/ng-template" id="boatTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.category}})</i>
  </a>
</script>

<div class="boatlist">
  <table class="boatlist" style="float:right">
    <thead>
      <tr>
        <th>Båd</th><th>Kategori</th><th>Placering</th><th>Status</th><th>Destination</th><th class="rnum">distance</th><th>Korr. distance</th><th>Check Ind</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="boat in allboats | filter: matchBoatId(selectedboat,true)" ng-model="item"
	  ng-class="{selected: boat == selectedboat}" 
	  ng-class-odd="'oddboat'" ng-class-even="'evenboat'" >
        <td ><div>
	    {{boat.name}}
	  </div>
	</td>
	<td>{{boat.category}}</td>
        <td>{{boat.location|nodsr}} {{boat.placement}}</td>
        <td ng-click="damagesForBoat=boat">
          <span ng-show="{{boat.damage==3}}">Svært skadet</span>
          <span ng-show="{{boat.damage==2}}">Middel skadet</span>
          <span ng-show="{{boat.damage==1}}">Let skadet</span>
	</td>
	<td>{{boat.destination}}</td>
	<td class="rnum" ng-bind-html="boat.meter|mtokm">km</td>
	<td class="colinput">
	  <input  autocomplete="off" maxlength="4" size="3" ng-model="boat.corrected_distance" class="ui-select-bootstrap" type="text" transformkm name="kminput"></input>
	  <!-- transformkm-->
	</td>
	<td class="colinput">
          <div class="checkinactions">
	    <button uib-tooltip="indskriv turen" ng-click="closetrip(boat,$index,item.km)" class="big"
                    confirm-if="date_diff(boat.outtime)<10"
                    confirm="Er du sikker på, at du vil indskrive denne tur. Den er meget kort ({{date_diff(boat.outtime)}} minutter). Slet turen, hvis båden ikke har været på vandet">
              Indskriv
            </button>
	    <button uib-tooltip="slet turen hvis båden ikke kom på vandet" ng-click="deleteopentrip(boat,$index)" class="minor">Slet</button>
	    <a href="#/ud?reuse={{boat.trip}}"><button uib-tooltip="genbrug turoplysinger fx til at skriv en anden båd ud med samme roere og destination" ng-click="reusetrip(boat,$index)" class="minor">Slet+Genbrug</button></a>
          </div>
	</td>	  
        </tr>
    </tbody>
  </table>
</div>

<br clear="all">
<h1 class="debug"ap>debug info</h1>
<pre>checkin = {{checkin | json}}</pre>
<pre>ab = {{allboats | json}}</pre>
<!--pre>allboats = {{allboats | json}}</pre>
<pre>selectedboat = {{selectedboat | json}}</pre>
<pre>checkin = {{checkin | json}}</pre>
<pre>selectedBoatCategory = {{selectedBoatCategory | json}}</pre-->
