<div class="checkoutmessage">{{checkinmessage}}</div>
<div class="boatselection">
  <label for="select_boat">Båd</label>
  <input autocomplete="off" typeahead-editable="false" id="select_boat" name="ci_name" type="text" ng-model="selectedboat" typeahead-min-length="1" uib-typeahead="boat as boat.name for boat in getMatchingBoats($viewValue) | filter: {outtime:''}" ng-change="selectedBoatCategory=null" typeahead-template-url="boatTemplate.html">
</div>
<div class="boattypesmenu" style="float:left">
  <h2>Vælg bådtype</h2>
  <ul>
    <li ng-repeat="boatcategory in boatcategories" ng-class="{selected: boatcategory == selectedBoatCategory}" ng-click="selectBoatCategory(boatcategory)">{{boatcategory.name}}</li>
    <li ng-click="selectedBoatCategory=null">Alle bådtyper</li>
  </ul>
</div>
<script type="text/ng-template" id="boatTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
    {{match.model.name}} <i>({{match.model.category}})</i>
  </a>
</script>
<div ng-if="checkin.update_destination_for" class="destinationlist">
  <table>
    <caption>Opdater destination<img class="chooser" ng-click="checkin.update_destination_for=null"  width="40px" src="media/popclose.svg" ></caption>
    <tr>
      <th>destination</th>
      <th>distance</th>
    </tr>
    <tr class="chooser" ng-repeat="destination in destinations" ng-click="update_checkin_destiation(destination)">
      <td>{{destination.name}}</td>
      <td>{{destination.distance|mtokm}}</td>
    </tr>
  </table>
</div>
<div class="boatlist">
  <table  style="float:right">
    <thead>
      <tr>
        <th>Båd</th>
        <th>Kategori</th>
        <th>Styrmand</th>
        <th>Hvor</th>
        <th>Status</th>
        <th>Destination</th>
        <th>Forventes</th>
        <th class="rnum">km</th>
        <th>Korr. dist</th>
        <th>Bemærkning</th><th>Check Ind</th>
      </tr>
    </thead>
    <tbody>
      <tr  ng-class-odd="'oddboat'" ng-class-even="'evenboat'" ng-repeat="boattrip in onwater | filter: matchType(selectedboat,selectedBoatCategory)" ng-model="item"  >
        <td class="boat">
            {{boattrip.boat}}
        </td>
        <td>{{boattrip.boat_type}}</td>
        <td class="cox">{{boattrip.rowers[0].name}}</td>
        <td>
          {{boattrip.location|nodsr}} <i uib-tooltip="på hylde" ng-show="boattrip.boat_placement_level" class="fa fa-level-up"></i> <small uib-tooltip="port {{boattrip.boat_placement_aisle}}" ng-show="boattrip.boat_placement_aisle">p{{boattrip.boat_placement_aisle}}</small>
        </td>
        <td ng-click="damagesForBoat=boat">
          <span ng-show="{{boattrip.damage==3}}">Svært skadet</span>
          <span ng-show="{{boattrip.damage==2}}">Middel skadet</span>
          <span ng-show="{{boattrip.damage==1}}">Let skadet</span>
        </td>
        <td class="destination" ng-click="checkin.update_destination_for=boattrip">
          <i class="fa fa-pencil"></i>
          {{boattrip.destination}}
        </td>
        <td ng-class="{datealert: critical_time(boattrip.expectedintime)}">{{boattrip.expectedintime| txttotime | date :"HH:mm d. MMM"}}</td>
        <td class="rnum">{{boattrip.distance|mtokm}} km</td>
        <td class="colinput">
          <input  autocomplete="off" min="0.1" step="0.1" maxlength="4" size="3" ng-model="boattrip.corrected_distance" class="ui-select-bootstrap" onlynumber type="text" transformkm
                  name="kminput">
        </td>
        <td class="colinput">
          <input  autocomplete="off" maxlength="200" size="3" ng-model="boattrip.comment" class="tripcomment" type="text" name="tripcomments">
        </td>
        <td class="colinput">
          <div class="checkinactions">
            <button uib-tooltip="indskriv turen" ng-click="closetrip(boattrip,$index,item.km)" class="big"
                    ng-disabled="boattrip.corrected_distance===0"
                    confirm-if="date_diff(boat.outtime)<10"
                    confirm="Er du sikker på, at du vil indskrive denne tur. Den er meget kort ({{date_diff(boat.outtime)}} minutter). Slet turen, hvis båden ikke har været på vandet"
                    confirm-ok="Ja, indskriv turen"
                    confirm-cancel="Nej, jeg fortryder"
                    >
              Indskriv
            </button>
            <button uib-tooltip="slet turen hvis båden ikke kom på vandet" ng-click="deleteopentrip(boattrip,$index)" class="minor">Slet</button>
            <a href="{{burl}}#!ud?reuse={{boattrip}}">
              <button uib-tooltip="genbrug turoplysinger fx til at skrive en anden båd ud med samme roere og destination" ng-click="reusetrip(boat,$index)" class="minor">
                <i class="fa fa-recycle"></i></button>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
