<div ng-init="cico=2" class="checkouts">
  <div class="boattypesmenu">
    <h2>bådtype</h2>
    <ul>
      <li ng-repeat="boatcategory in boatcategories" ng-class="{selected: boatcategory == selectedBoatCategory}"  ng-click="do_boat_category(boatcategory)">{{boatcategory.name}}</li>
      <!--li ng-click="selectedBoatCategory=null">Alle Bådtyper</li FIXME requires that we iterator over allboats and filter instead of using categories-->
    </ul>
  </div>
  
  <div class="boatlist">
    <table>
      <thead>
        <tr>
          <th>Båd</th><th>Placering</th><th>Niveau</th><th>Mærke</th><th>særligt</th> <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class-odd="'oddboat'" ng-class-even="'evenboat'" ng-click="checkoutBoat(boat)" ng-repeat="boat in selectedboats|filter: matchBoatId(selectedboat,false) " ng-class="{selected: boat == checkout.boat}">
          <td class="boatname"><div >
	      {{boat.name}}
	    </div>
	  </td>
          <td>{{boat.location|nodsr}}  <small uib-tooltip="port {{boat.placement_aisle}}" ng-show="boat.placement_aisle">p{{boat.placement_aisle}}</small>
            <i uib-tooltip="på hylde" ng-show="boat.placement_level" class="fa fa-level-up"></i>
          </td>
          <td>{{levels[boat.level]}} </td>
          <td>{{boat.brand}} </td>
          <td class="usage">{{boat.boatusage}} </td>
          <td ng-click="damagesForBoat=boat"><span ng-show="{{boat.trip}}">På vandet</span> 
            <span>{{boat.damage|damagedegreedk}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <script type="text/ng-template" id="rowersTemplate.html">
    <a>
      <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
      {{match.model.name}} <i>({{match.model.id}})</i>
    </a>
  </script>
  
  <script type="text/ng-template" id="reportdamage.html">
    <h1>Meld Skade</h1>
    <ng-form novalidate>
      <label for="damage_comments">Bemærkninger</label>
      <textarea id="damage_comments" type="text" ng-model="damagetext"></textarea>
      <button class="yellow" ng-click="savedamage(selectedboat.id,damagetext,1)"><i class="fa fa-exclamation-triangle"></i> Gem skade</button>
    </ng-form>
  </script>

  <div class="checkoutBoat">
  <div class="big message checkoutmessage">{{checkoutmessage}}</div>
  <div class="big rightsmessage" ng-show="!checkRights()">{{rightsmessage}}</div>
    <div class="checkout-form">
      <form name="checkoutForm" novalidate noautocomplete>
        <table>
          <caption>Udskrivning af: {{checkout.boat.name}}</caption>
	  <tbody>	  
	    <tr ng-repeat="rower in checkout.rowers track by $index">
              <td>
                <label for="checkout_rower{{$index}}">{{$first ? 'Styrmand' : 'Roer'}}</label>
                <label for="checkout_rower{{$index}}">{{rower.id}}</label>
              </td>
              <td>
                <ng-form name="rowerFieldForm">
		  <input  typeahead-no-results="norower[$index]"
		          typeahead-select-on-exact="true"
		          typeahead-is-open="checkout_open[$index]"
		          ng-model-options="{updateOn:'blur default',debounce: { 'default': 200, 'blur': 0 } }"
		          autocomplete="off"
		          id="checkout_rower{{$index}}"
		          typeahead-on-select="boatSync()"
		          name="name"
		          type="text"
		          ng-model="checkout.rowers[$index]"
		          typeahead-min-length="3"
                          ng-blur="co_rower_leave($index)"
		          uib-typeahead="rower as rower.name for rower in getRowersByName($viewValue)"
		          typeahead-template-url="rowersTemplate.html"
		          required ></input>
		  <span class="error" ng-show="rowerFieldForm.name.$error.required">Krævet</span>
                  <br>
		  <div class="guestpenguin" ng-show=" (checkout.rowers[$index].length > 4) && norower[$index]">
		    <button ng-click="createRower(checkout.rowers, $index,'rabbit')" tabindex="-1">Opret kaninroer</button>
		    <button ng-click="createRower(checkout.rowers, $index,'guest')" tabindex="-1">Gæst</button>
		  </div>
                </ng-form>
              </td>
	    </tr>	  
            <tr>
              <td>
                <label for="checkout_destination">Destination</label>
              </td>
              <td>
                <ui-select
                   class="checkout_destination"
		   ng-model="checkout.destination"
		   on-select="updateCheckout($item)"
                   ng-class="{uiselected: !checkout.destination}"
                   >
		  <ui-select-match placeholder="Vælg Destination">
                    {{$select.selected.name||"vælg destination"}}
                  </ui-select-match>
		  <ui-select-choices repeat="destination in destinations | filter: $select.search">
                    <span ng-bind-html="destination.name | highlight: $select.search"></span>
                    (<small ng-bind-html="destination.distance| mtokm : $select.search"></small>km ,
		    <small ng-bind-html="destination.duration | totime"></small>t)
		  </ui-select-choices>
                </ui-select>
                <input  autocomplete="off" min="0.1" maxlength="4" size="3" step="0.1" class="ui-select-bootstrap" type="text" onlynumber name="input" transformkm ng-model="checkout.distance" required ></input>km
              </td>
            </tr>
            <tr>
              <td>
	        <label for="checkout_starttime">Ud</label>
	      </td>	  
              <td>
	        <datetimepicker
                   date-format="dd-MMM-yyyy"
                   show-spinners="false"
                   current-text="i dag"
                   close-text="Vælg"
                   clear-text="Rens"
                   date-options="dateOptions"
                   show-meridian="false"
                   data-ng-model="checkout.starttime"
                   />
              </td>
	    </tr>
	    <tr>
              <td>
	        <label for="checkout_expectedtime">Forventet ind</label>
	      </td>
              <td>
	        <datetimepicker
                   date-format="dd-MMM-yyyy"
                   show-spinners="false"
                   date-options="dateOptions"
                   current-text="i dag"
                   close-text="Vælg"
                   clear-text="Rens"
                   show-meridian="false"
                   ng-model="checkout.expectedtime"
                   />
	      </td>
	    </tr>
	    <tr>
              <td>
                <label for="checkout_triptype">Turtype</label>
              </td>
              <td>
                <select name="triptypechooser" id="checkout_triptype" ng-model="checkout.triptype"
                        ng-options="item as item.name for item in triptypes|filter: {active:1} : true" ng-change="updateExpectedTime(checkout.destination)" required>
                </select>
              </td>    
	    </tr>	
	    <tr>
              <td>
                <label for="checkout_comments">Bemærkninger</label>
              </td>
              <td>
                <textarea id="checkout_comments" type="text" ng-model="checkout.comments"></textarea>
                <span class="error" ng-show="!checkout.comments && checkout.destination.name=='Øvrige [Skriv i kommentar]'">Krævet</span>

              </td>    
	    </tr>		
	    <!-- tr>
                 <td colspan="2">
                   < FIXME fixit button id="reportdamage_button" class="yellow" ng-click="reportdamage(checkout)"><i class="fa fa-exclamation-triangle"></i> Meld skade</button>
</td>    
</tr -->
            <tr><td>
                <button confirm-if="rightsmessage" confirm="{{rightsmessage}}. Vil du alligevel udskrive båden?"
                        confirm-ok="Udskriv båd"
                        confirm-cancel="fortryd"
                        id="createtrip_button"
                        class="big"
                        ng-if="checkout.distance >0 && checkout.starttime &&checkout.boat && checkout.triptype && checkout.destination.name && validRowers() && (checkout.comments || checkout.destination.name!='Øvrige [Skriv i kommentar]')"
                        ng-click="createtrip(checkout)">UDSKRIV {{checkout.boat.name}}</button>
</td></tr>
	  </tbody>
          
        </table>
      </form>    
      <button class="alert minor" ng-hide="checkout.expectedtime">husk at angive forventet ankomst</button>
      <button class="alert minor" ng-hide="checkout.boat || !checkout.destination.name || !checkout.rowers[0]">husk at vælge båd</button>
      <button class="alert minor" ng-hide="checkout.triptype || !checkout.destination.name || !checkout.rowers[0]">husk turtype</button>
      <button class="alert minor" ng-hide="checkout.destination || !checkout.triptype || !checkout.rowers[0]">vælg destination</button>
    </div>

    <div ng-show="checkout.boat.placement_aisle || checkout.boat.placement_level" class="damageslist">
      <h2>Find {{checkout.boat.name}} her</h2>
      {{checkout.boat.location}}, port {{checkout.boat.placement_aisle}}, {{checkout.boat.placement_row|rowtodk}},  {{checkout.boat.placement_side|sidetodk}}, {{checkout.boat.placement_level|leveltodk}}
    </div>

    <div ng-if="checkout.boat && (reservations | filter : {boat_id : checkout.boat.id}:true).length>0" class="reservations">
      <table class="reservationlist" >
        <caption>Resevationer af {{checkout.boat.name}}</caption>
        <thead>
          <tr>
            <th>ugedag</th>
            <th>start</th>
            <th>(dato)</th>
            <th>slut</th>
            <th>(dato)</th>
            <th>turtype</th>
            <th>formål</th>
            <!--th>bemærkninger</th-->
          </tr>
        </thead>
        <tbody>
          <tr ng-class-odd="'oddboat'" ng-class-even="'evenboat'" ng-repeat="rv in reservations | filter : {boat_id : checkout.boat.id}:true">
            <td>{{weekdays[rv.dayofweek].day}}</td>
            <td>{{rv.start_time}}</td>
            <td>
              <div ng-show="rv.dayofweek==0">{{rv.start_date}}
              </div>
            </td>
            <td>{{rv.end_time}}</td>          
            <td>
              <div ng-show="rv.end_date!='0000-00-00'">{{rv.end_date}}</div></td>
            <td>{{getTriptypeWithID(rv.triptype_id).name}}</td>        
            <td>{{rv.purpose}}</td>
            </td>
          </tr>
        </tbody>
      </table>    
    </div>


    <div ng-show="boatdamages" class="damageslist">
      <h2>Skader på {{checkout.boat.name}}</h2>
      <ul>
        <li ng-repeat="damage in boatdamages">
          <!--button class="green" ng-click="reportFixDamage(damage,boatdamages,$index)" class="fa fa-check">Klarmeld</button-->
          {{damage.description}}
        </li>
      </ul>   
    </div>
  </div>
  <!--img class="farvand" ng-src="media/DSRrofarvand.png"  alt="DSR rofarvand" height="800" width="500" align="right" -->
</div>
