a:link
{
	color: rgb(0,102,102); 
}
a:visited
{
	color: rgb(153,153,153); 
} 
a:active 
{
	color: rgb(0,204,51);
}
body
{
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
}
table
{
	table-border-color-light: rgb(102,102,102);
	table-border-color-dark: rgb(51,51,51); 
}
h1
{
	color: rgb(0,51,51);
}
h2
{
	color: rgb(0,102,102); 
}
h3
{
	color: rgb(0,51,0); 
}
h4
{
	color: rgb(102,102,102);
}
h5
{
	color: rgb(0,51,51);
}
h6
{
	color: rgb(102,102,0);
}
