<div class="boatcategories" ng-include="'templates/boat/_boatcategories.html'"></div>

<table class="boatlist">
    <thead>
        <tr>
            <th>Båd</th><th>Placering</th><th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="boat in selectedboats">
            <td><a href="#/boat/checkout/{{boat.id}}">{{boat.name}}</a></td>
            <td>{{boat.location|nodsr}} {{boat.placement}}</td>
            <td><span ng-show="{{boat.trip}}">På vandet</span>
                <span ng-show="{{boat.damage==3}}">Svært skadet</span>
                <span ng-show="{{boat.damage==2}}">Middel skadet</span>
                <span ng-show="{{boat.damage==1}}">Let skadet</span>
            </td>
        </tr>
    </tbody>
</table>

<pre> {{boat_category_id}} </pre>
