vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_cachedlinkinfo:VX|S|topband.gif S|topnavhd.gif S|topnavhs.gif S|tophomd.gif S|topnxtd.gif S|toppred.gif S|topupd.gif S|topglobd.gif S|topnavvd.gif S|topnavvs.gif S|topbul1d.gif S|topbul2d.gif S|topbul3d.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|28 Dec 2001 14:16:36 +0100
vti_filesize:IR|5892
vti_cacheddtm:TX|28 Dec 2001 12:16:38 -0000
vti_backlinkinfo:VX|testdsr/dsrtopmenu.html
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|09 Dec 2001 14:06:22 +0100
vti_extenderversion:SR|4.0.2.4022
vti_timelastmodified:TR|28 Dec 2001 12:16:38 -0000
vti_cachedsvcrellinks:VX|FSUS|_Themes/topo/topband.gif FSUS|_Themes/topo/topnavhd.gif FSUS|_Themes/topo/topnavhs.gif FSUS|_Themes/topo/tophomd.gif FSUS|_Themes/topo/topnxtd.gif FSUS|_Themes/topo/toppred.gif FSUS|_Themes/topo/topupd.gif FSUS|_Themes/topo/topglobd.gif FSUS|_Themes/topo/topnavvd.gif FSUS|_Themes/topo/topnavvs.gif FSUS|_Themes/topo/topbul1d.gif FSUS|_Themes/topo/topbul2d.gif FSUS|_Themes/topo/topbul3d.gif
