html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  background: #FFFFFF;
  color: #0088C0;
  font-weight: 400;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  width: auto;
  color: #0088C0;
  background:white;                     
  display:table;
  border-radius: 5px;
  padding: 2px;
}

pre.ng-binding {
    /* display: none; */
}

*:focus {
  outline: 0;
}

button {
  background: #bcffbd;
  border-radius: 5px;
  border: 0;
  padding: 4pt 10pt;
  margin-top: 5pt;
  border: 1px solid #ccc;
}

button:hover {
  /*    color: #23AEE2;*/
  /*    border: 1px solid #23AEE2;*/
}

button i {
  margin-right: 5pt;
}

button.red {   
  border: 1px solid #FF6C60;
  color: #FF6C60;
  background: #171717;
  font-size: 16pt;
}

button.submit, button.green, button.login {   
  border: 1px solid #3ECBBF;
  background: #028000;
  color: #FFFFFF;
  font-size: 16pt;
}

.chosenforum {
  background: #aaffaa;
}


button.bodycopy {
    vertical-align: text-bottom;
    border: 1px solid #3ECBBF;
    background: #b3fdb2;
    color: #000000;
    font-size: 12pt;
}

button.chooser {   
  border: 1px solid #3ECBBF;
  background: #5dff5a;
  color: black;
}

button.header, tr.header {   
  border: 1px solid #000000;
  color: #FFFFFF;
  background: #75c1be;
}

td.usage {
  max-width:14pt;
}

input {
  max-width:50em;
  //        background: ghostwhite;
        background: #fffed5;
        color: black;
}


input.filter {
  border-radius: 5px;
  max-width:40em;
  background: #fffed5;
  color: black;
}

fieldset {
  background: ghostwhite;
}

button.big,button.action,input.big {
  background: #D6FFB6; !important;
  border: 2px solid #000000;
  color: #000000;
  margin-top:0px;
}

button.action {
  color: #000000;
  padding: 0pt 8pt;
}

input.big {
  color: #000000;
}
.menuholder {
  margin: 0;
}
.menu li.logo {
  padding: 0;
  padding-top: 3pt;
  padding-left: 4pt;
}
.logo img {
  height: 30pt;
}
.menu {
  list-style: none;
  background: #0088C0;
  padding: 0 10pt;
  margin: 0;
  width: 100%
 }
.maxwidth {
  width: 100%
}

.description {
  width: 50em;
  background: ghostwhite;
}
.tripdescription {
  background: ghostwhite;
  white-space:pre-wrap;
}

.menu li {
  display: inline-block;
  padding: 4pt 4pt;
  margin: 0;
  cursor: pointer;
  vertical-align: top;
}
.menu li a {
  color: white;
  text-decoration: none;
}
.menu li:hover a {
  color: #d4d4c8;
}

.menu li i {
  font-size: 12pt;
  margin-right: 4pt;
}
.menu li:hover i {
  color: #ede511;
}

.main {
  margin: 0;   
  padding: 4pt 6pt;
}

.tablelayout {
  background: #0088C0;
  padding: 10pt;
  color: white;
  font-size: 10pt;
  font-weight: 400;
  cursor: pointer;
}


caption {
  min-width: 20em;
}

table {
  margin-top: 2em;
}

table caption {
  background:#2f5869;
  color: white;
  font-size: 12pt;
  border-radius: 7px 7px 0 0;
  text-align: center;
}

li.selected,button.selected {
  background: #50E663 !important;
}
.rnum {
  text-align: right!important;
  padding-right: 6px;
}
.togg {
  text-align: center;
  padding: 2px;
}

.selected td {
    background: #50E663;
}

.even {
  background: #ffffaa;
  color: #0088C0;
}

.odd {
  background: #FFDDAA;
  color: #0088C0;
}
.error {
  color: red;
}

.message {
}

.numin  {
  max-width: 5em;
  text-align: right!important;  
}

/* input[type=number]::-webkit-inner-spin-button {   */
/*   opacity: 1; */
/* } */

select  {
  border: 1px solid #ccc;
  padding: 3pt;
  margin-bottom: 0pt;
  background-color: #FFB992;
  border-radius: 5px;
}

button.deletealert {   
  border: 1px solid #3ECBBF;
  background: red;
  color: black;
}

.alert {
  color: #f00;
}

.debug {
  width:100%;
}

button[disabled], html input[disabled] {
  cursor: default;
  background: #808080 !important;
  pointer-events: none;
}
.ok {
  text-align:center;
}

textarea {
  resize: vertical;
  width: 35em;
}

.event_comment {
/*  width: 100%; */
  height: 8em;
}

.uib-time input {
  width: 2em;
}

.uib-timepicker tr td {
  padding : 0px;
}

.uib-timepicker {
  margin-top: 0em;
}

.form-control {
  padding: 0px;
}

.tbody {
  background : #FFD;
}
select.ng-invalid, input.ng-invalid, textarea.ng-invalid {
  background: #FCC;
}

datetimepicker.ng-empty ng-form div input {
  background: #FCC;
}

.ng-pristine {
  background: #fffed5;
}
.error {
  color: red;
  background:white;
}

.hours {
  margin-left: 4em;
  font-size: 1.0em;
}

.uib-datepicker tr td {
  background: #DAD3D3;
  padding: 0px;
}

.uib-datepicker button {
  margin: 0px;
  padding: 0px;
}
.uib-daypicker button {
  margin: 0px;
}

datetimepicker.trip-search-field ng-form div input {
  background: white;
}

.subscriptions caption {
  font-weight: bold;
  min-width:20em;
}

.topsel {
  background:#BFFFBF;
  border-radius: 0.8em;
  color: black !important;
  border: 1px solid yellow;
}

.topsel a {
  color: black !important;
}

.topsel i {
  color: black;
}

.eventdetails {
  display:inline-block;
  vertical-align:top;
  cursor: pointer;
  margin-left: 2em;
  padding:0.4em;
  border-radius: 0.8em;
  background: #76e093;
  color: black;
  max-width: 30em;
}

.leftlist {
  display:inline-block;
}

.newforum {
    background: white;
  display:inline-block;
}

tr td {
  padding: 0.2em;
}

.msgbody {
    min-height: 8em;
}

.forumselect {
  vertical-align: text-bottom;
  font-size: large;
  max-width:100%;
}

#messagesubject {
  vertical-align: text-bottom;
  font-size: x-large;
  max-width: 100%;                  
 }

.messagelist {
  display:inline-block;
    max-width: 100%
}
.rightcontainer {
    display:inline-block;
}

.popdown {
  border-bottom: 2px;
  border-left: 2px;
  border-right: 2px;
  border-top: 0px;                 
  border-radius:0.3em;         
  background: #d0f8d5;
  color: black;
  white-space: pre-wrap;
}

.popempty {
  background: white;
  background: #50E663;
}

.generate {
  background: #43d4eb;
}

.role {
  color: blue;
}

.selectedmessage {
  float:left;
  margin-left: 1em;
  border-radius: 5px;
  display:inline-block;
  border: 2px solid #ccc;
  background: #c6efd7;
  vertical-align: top;
}
 
.subscriptions {
  cursor: pointer;    
  border-radius: 1em;
  display:inline-block;
}

.remove{
  color: red;
}

.user {
  background:#d2f6d2;
} 

.forowner {
  background:#9ae4b6;
  color: black;
}

.iamin {
  background:#ffc107 !important;
  color: black;
}

.tooltiptext {
  visibility: hidden;
  width: 0em;
  position: absolute;
}

.tooltip .tooltip-inner{
    background-color: white;
    color: black;
    padding-left: 5em;
}

.iamin:hover .tooltiptext {
  visibility: visible;
  position: absolute;
  width: 8em ;
  background-color: #806;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  z-index: 1;
}

datetimepicker.ng-empty ng-form div input {
    background: #e9ff91;
}

.helpbox {
    padding: 1em;
    margin-left:5em;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #000000;
    background: #ddffe4;
    font-size: 10pt;

}
