<div class="menuholder">
  <button class="adminbut" ng-class="{selected: do=='boat'}" ng-click="do='boat'">Både</button>
  <button class="adminbut" ng-class="{selected: do=='user'}" ng-click="do='user'">Roere</button>
  <button class="adminbut" ng-class="{selected: do=='trip'}" ng-click="do='trip'">Ture</button>
  <button class="adminbut" ng-class="{selected: do=='correction'}" ng-click="do='correction'">Fejlrettelser</button>
  <button class="adminbut" ng-class="{selected: do=='events'}" ng-click="do='events'">Hændelser</button>
  <button class="adminbut" ng-class="{selected: do=='reservations'}" ng-click="do='reservations'">Reservationer</button>
  <button class="adminbut" ng-class="{selected: do=='misc'}" ng-click="do='misc'">Diverse</button>
  <input placeholder="admin kodeord" class="adminpw" type="password" ng-model="config.headers.password">
</div>

<div ng-if="do=='boat'">
  <div class="blok leftblock">
    <table class="boatlist" >
      <caption>Bådtyper</caption>
      <thead>
        <tr>
	  <th>Bådtype</th><th>Antal sæder</th><th>Robåd/kajak</th><th>rettighedsundertype</th><th>&nbsp</th><th>Rettighedskrav</th>
        </tr>	
      </thead>
      <tbody>
        <tr ng-repeat="bt in boatcategories">
	  <td >{{bt.name}}</td>
	  <td ><input type="number" class="seatcount" size="5" maxlength="5" autocomplete="off" ng-model="bt.seatcount" ng-change="bt.changed=true"></td>
	  <td ><select ng-change="bt.changed=true" ng-model="bt.category" ng-options="bk.id as bk.name for bk in boatkayakcategories"></select></td>
	  <td ><select ng-change="bt.changed=true" ng-model="bt.rights_subtype" ng-options="bk.name as bk.description for bk in rights_subtypes"></select></td>
	  <td><button ng-show="bt.changed" ng-click="boattype_update(bt)" class="action">Gem</button></td>
	  <td><button class="action" ng-click="doboatrights(bt.rights,bt)">{{bt.rights|rightreqs}}</button></td>
	</tr>
      </tbody>
    </table>
    
    <form name="boattypeform">
      <table class="boatlist blok newboattype" >
        <caption>Ny Bådtype</caption>
        <thead>
	  <tr>
	    <th>Bådtype</th><th>Antal sæder</th><th>Robåd/kajak</th><th>&nbsp;</th>
	  </tr>	
        </thead>
        <tbody>
	  <tr>
	    <td><input type="text" ng-model="newboattype.name"></td>
	    <td>
              <input class="seatcount" type="number" maxlength="5" min="1" size="5" autocomplete="off" ng-model="newboattype.seatcount">
            </td>
	    <td><select  ng-model="newboattype.category" ng-options="bk.id as bk.name for bk in boatkayakcategories"></select></td>
            <td><button class="big" ng-show="newboattype.name && newboattype.seatcount && newboattype.category" ng-click="create_boattype(newboattype)">Opret ny bådtype </button></td>
	    <!--td ><button class="action" ng-model="newboattype.rights" ng-click="currentboattype=newboattype"> {{newboattype.rights|rightreqs}}</button></td-->
	  </tr>
	  </tbody>
      </table>
    </form>

    <table class="boatlist blok boatadminap" >
      <caption>Både</caption>
      <thead>
	<tr>
	  <th>Båd</th><th>Kategori</th><th>Lokalitet</th><th>Port</th><th>Inderst/Yderst</th><th>Hylde</th><th>Side</th>
          <th>Niveau</th><th>Fabrikat</th><th>Særligt</th><th></th>
	</tr>	
      </thead>
      <tbody>
	<tr ng-repeat="boat in allboats">
	  <td>
	    <input type="text" ng-model="boat.name" ng_change="set_name_for_boat(boat)" ng-model-options="{updateOn:'blur'}">
	  </td>
	  <td><select ng-change="set_cat_for_boat(boat)" ng-model="boat.category" ng-options="cat.name as cat.name for cat in boatcategories"></select></td>
	  <td><select ng-change="set_loc_for_boat(boat)" ng-model="boat.location" ng-options="loc.name as loc.name for loc in locations">
	    </select>
	  </td>
          
          <td>
            <input  class="aisle" autocomplete="off" ng-change="set_aisle_for_boat(boat)" type="number" min="1" size="4" maxlength="5" ng-model="boat.placement_aisle">
          </td>
          <td>
            <select  ng-change="set_row_for_boat(boat)" ng-model="boat.placement_row"
                     ng-options="rw as rw|rowtodk for rw in [1,2]">
	    </select>
	  </td>

	  <td>
            <select  ng-change="set_level_for_boat(boat)" ng-model="boat.placement_level" ng-options="lvl as lvl|leveltodk for lvl in placementlevels" >
	    </select>
	  </td>
          <td>
            <select  ng-change="set_side_for_boat(boat)" ng-model="boat.placement_side"
                     ng-options="sd as sd|sidetodk for sd in ['left','center','right']">
	    </select>
	  </td>

          
	  <td><select ng-model="boat.level" ng-options="levelid*1 as level for (levelid,level) in levels" ng-change="update_level(boat)"> </select> </td>
	  <td><select ng-model="boat.brand" ng-options="brand.name as brand.name for brand in brands" ng-change="update_brand(boat)"> </select> </td>
          <td><select ng-model="boat.usage_id" ng-options="usage.id as usage.name for usage in usages" ng-change="update_usage(boat)"> </select> </td>
	  <!--td><input ng-model-options="{updateOn:'blur'}" autocomplete="off" id="boat.boatusage" name="boat.boatusage" type="text" ng-model="boat.boatusage" ng-change="update_usage(boat)"></td-->
	  
          <td><button ng-click="retire_boat(boat,$index)" class="action" confirm="Er du helt sikker på at du vil fjerne {{boat.name}}?" confirm-ok="ja, slet {{boat.name}}" confirm-cancel="nej">Slet/pensioner båd</button></td>
	</tr>
      </tbody>
    </table>

    <div class="blok">
      <form name="createnewboat" novalidate>
	<table>
          <caption>Ny båd</caption>
          <tbody>	  
            <tr><th>Navn</th><th>Kategori</th><th>Lokation</th></tr>
            <tr>
	      <td>
		<input type="text" ng-model="newboat.name">
	      </td>	
              <td><select  ng-model="newboat.category" ng-options="cat.name as cat.name for cat in boatcategories">
		</select>
              </td>
              <td><select  ng-model="newboat.location" ng-options="loc.name as loc.name for loc in locations">
		</select>
              </td>
            </tr>
            <tr><td>
		<button ng-click="create_boat(newboat)" ng-model="newboat.create" class="big" ng-show="newboat.category&&newboat.location&&newboat.name">Opret ny båd</button>
            </td></tr>
          </tbody>
	</table>      
      </form>
    </div>
    
    <div class="blok">
      <table>
	<caption>Anvendelser</caption>
	<tbody>	  
	  <tr><th>Anvendelse</th><th>Beskrivelse</th></tr>
	  <tr ng-repeat="usage in usages">
	    <td>
	      <input ng-model-options="{updateOn:'blur'}" type="text" ng-model="usage.name" ng_change="update_usage_name(usage)">
	    </td>
	    <td>
	      <input ng-model-options="{updateOn:'blur'}" type="text" ng-model="usage.description" ng_change="update_usage_description(usage)">
	    </td>
	  </tr>
	  <tr>
            <td>
	      <input type="text" ng-model="newusage.name">
            </td>
            <td>
              <input type="text" ng-model="newusage.description">
            </td>        
            <td>
	      <button  class="minor" ng-show="!newusage.name">Udfyld ny anvendelse her</button>
	      <button ng-click="create_usage(newusage)" ng-model="newusage.create" class="big" ng-show="newusage.name && newusage.name.length>0">Opret ny anvendelse</button>
            </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>

  <div class="blok">
    <table>
      <caption>Fabrikater</caption>
	<tbody>	  
	  <tr ng-repeat="brand in brands">
	    <td>{{brand.name}}</td>
	  </tr>
	  <tr>
            <td>
	      <input type="text" placeholder="nyt fabrikat" ng-model="newbrand.name">
            </td>
            <td>
	      <button ng-click="create_boat_brand(newbrand)" ng-model="newbrand.name" class="big" ng-show="newbrand.name && newbrand.name.length>0">Opret nyt fabrikat</button>
            </td>
	  </tr>
	</tbody>
    </table>
  </div>
</div>

<div ng-show="currentboattype" class="rightbox">
  <table>
    <caption>Administrer rettigheder for bådtypen {{currentboattype.name}}
      <img ng-click="currentboattype=null"  width="40px" src="media/popclose.svg" >
    </caption>
    <thead>
      <tr><th>Rettighed</th><th>kræves af</th><th></th></tr>	
    </thead>
    <tbody>
      <tr ng-repeat="(rt,subject) in requiredboatrights">
	<td>{{rt|righttodk}}</td>	  
	<td> <select ng-model="subject" ng-options="rt as rt|subjecttodk for rt in rightsubjects">{{subject}}</select></td>
        <td>
          <button class="action" ng-click="remove_boattype_requirement(rt,$index)">Fjern krav</button>
        </td>
      </tr>
      <tr>
        <td>
          <select ng-model="boattype.newright.right" ng-options="mrt.member_right as mrt.member_right|righttodk for mrt in memberrighttypes| filter: noreq(requiredboatrights)|unique:'member_right'">
          </select>
        </td>
	<td>
	  <select ng-model="boattype.newright.subject" ng-options="rt as rt|subjecttodk for rt in rightsubjects">
          </select>
	</td>	  
        <td>
          <button ng-show="boattype.newright.subject && boattype.newright.right" class="action" ng-click="add_boattype_requirement(boattype.newright,requiredboatrights)">Tilføj krav</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-if="do=='trip'">
  <div class="blok leftblock">
    <table class="boatlist" >
      <caption>Turtyper</caption>
      <thead>
        <tr>
          <th>Turtype</th><th>Beskrivelse</th><th>aktiv</th><th>Rettighedskrav</th>
        </tr>	
      </thead>
      <tbody>
        <tr ng-repeat="tt in DB('triptypes')" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
	  <td >{{tt.name}}</td>
	  <td >{{tt.description}}</td>
          <td><input type="checkbox" ng-model="tt.active" ng-true-value="1" ng-false-value="0" ng-change="dotripactive(tt)"></td>
	  <td><button class="action" ng-click="dotriprights(tt.rights,tt)">{{tt.rights|rightreqs}}</button></td>
        </tr>
        <tr>
          <td><input type="text" ng-model="newtriptype.name"></td>
          <td><input type="text" ng-model="newtriptype.description"></td>
          <td>ja</td>
          <td><button class="action" ng-click="create_triptype(newtriptype)">Opret ny turtype</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="currenttriptype" class="rightbox">
    <table>
      <caption>Administrer rettigheder for turtypen {{currenttriptype.name}}
        <img ng-click="currenttriptype=null"  width="40px" src="media/popclose.svg" >
      </caption>
      <thead>
        <tr>
          <th>Rettighed</th>
          <th>kræves af</th> <th></th>
        </tr>	
      </thead>
      <tbody>
        <tr ng-repeat="(rt,subject) in requiredtriprights" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
	  <td>{{rt| righttodk }}</td>	  
	  <td> <select ng-model="subject" ng-options="rt as rt|subjecttodk for rt in rightsubjects">{{subject}}</select></td>
          <td><button class="action" ng-click="remove_triptype_requirement(rt)">Fjern krav</button></td>
        </tr>
        <tr>
          <td>
            <select  ng-model="trip.newright.right" ng-options="mrt.member_right as mrt.member_right | righttodk for mrt in memberrighttypes| filter: noreq(requiredtriprights)|unique:'member_right'"></select>
          </td>
	  <td>
	    <select ng-model="trip.newright.subject" ng-options="rt as rt|subjecttodk for rt in rightsubjects">{{subject}}</select>
	  </td>	  
          <td>
            <button ng-show="trip.newright.subject && trip.newright.right" class="action" ng-click="add_triptype_requirement(trip.newright)">Tilføj krav</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="destinations">
    <table class="boatlist" >
      <caption>Destinationer</caption>
      <thead>
        <tr>
          <th>Destination</th><th>Distance</th><th>Varighed</th><th>Varighed for instruktion</th>
        </tr>	
      </thead>
      <tbody>
        <tr ng-repeat="ds in DB('destinations').DSR" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
	  <td >{{ds.name}}</td>
	  <td><input ng-change="set_distance(ds)" type="number" min="0" step="0.5" ng-model="ds.distance" transformkm></td>
	  <td><input ng-change="set_duration(ds)" type="number" min="0" step="0.1" ng-model="ds.duration"></td>
	  <td><input ng-change="set_duration(ds)" type="number" min="0.25" step="0.1" ng-model="ds.duration_instruction"></td>
        </tr>
      </tbody>
    </table>
  
    <table class="boatlist" >
      <caption>Destinationer fra Nordhavn</caption>
      <thead>
        <tr>
          <th>Destination</th><th>Distance</th><th>Varighed</th><th>Varighed for instruktion</th>
        </tr>	
      </thead>
      <tbody>
        <tr ng-repeat="ds in DB('destinations').Nordhavn" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
	  <td >{{ds.name}}</td>
	  <td><input ng-change="set_distance(ds)" type="number" min="0" step="0.5" ng-model="ds.distance" transformkm></td>
	  <td><input ng-change="set_duration(ds)" type="number" min="0" step="0.25" ng-model="ds.duration"></td>
	  <td><input ng-change="set_duration(ds)" type="number" min="0.25" step="0.25" ng-model="ds.duration_instruction"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div ng-show="do=='user'">
  <script type="text/ng-template" id="taTemplate.html">
    <a>
      <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
      {{match.model.name}} <i>({{match.model.id}})</i>
    </a>
  </script>
  <div class="adminrower">
    <h2 class="prompt">Roer:</h2>
    <form name="rowerFieldForm">
      <input autocomplete="off" id="findrower" ng-model="currentrower" name="name" type="text" typeahead-min-length="3" typeahead-on-select="alert($item)" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)" typeahead-template-url="taTemplate.html" required />
    </form>
    <div>
      <table class="boatlist" ng-show="currentrower.id">
        <caption>Rettigheder for {{currentrower.name}} ({{currentrower.id}})</caption>
        <thead>
          <tr> <th>Rettighed</th><th></th> </tr>	
        </thead>
        <tbody>
	  <tr ng-repeat="rr in currentrower.rights" ng-class-odd="'oddboat'" ng-class-even="'evenboat'">
            <td>{{rr |argrighttodk}}</td>
            <td>
              <button class="big" ng-click="remove_rower_right(rr,currentrower,$index)">inddrag rettighed</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="addright" ng-if="currentrower.id">
      <ui-select class="right_select" name="rower.addnewright" ng-model="rower.newright" on-select="add_rower_right(rower.newright,currentrower)">
        <ui-select-match class="newright" placeholder="tildel rettighed til {{currentrower.name}}" >Tildel ny rettighed til {{currentrower.name}}</ui-select-match>
        <ui-select-choices class="newright" position="down" repeat="rtt in DB('memberrighttypes')| filter:noright()" >{{rtt|argrighttodk}}</ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="adminconvertrower" ng-show="currentrower.id">
    <button  class="big" ng-click="rowerconvert(currentrower,converttorower)">Konverter roer {{currentrower.name}} til denne</button>
    <input autocomplete="off" id="findrower" name="name" type="text" typeahead-min-length="3" typeahead-on-select="alert($item)" ng-model="converttorower" uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)" typeahead-template-url="taTemplate.html" required />
  </div>
</div>

<div ng-show="do=='correction'">
  <table class="boatlist" >
    <caption>Turrettelser</caption>
    <thead>
      <tr> <th>Indberetter</th><th>grund</th><th>Gældende</th><th>ændret</th><th>ja/nej</th></tr>
      <tr ng-class-odd="'oddboat'" ng-class-even="'evenboat'" ng-repeat="et in ziperrors">
	<td>{{et.correction.Reporter}}</td>
        <td>{{et.correction.reason}}</td>
	<td class="currenttripdata">
	  <table>
	    <body>
	      <tr><td>Båd</td><td>{{et.current.boat}}</td></tr>
	       <tr><td>Destination</td><td>{{et.current.destination}}</td></tr>
	       <tr><td>Distance</td><td>{{et.current.distance}}</td></tr>
	       <tr><td>Ud</td><td>{{et.current.outtime}}</td></tr>
	       <tr><td>Ind</td><td>{{et.current.intime}}</td></tr>
	       <tr><td>Oprettet</td><td>{{et.current.created}}</td></tr>
	      <tr><td>Roere</td><td>
		<ul>
		  <li ng-repeat="(rower,rid) in et.current.rowers">{{rower}} ({{rid}}) </li>
		</ul>
	      </td></tr>
	    </body>
	  </table>
	</td>
        <td class="changedtripdata" ng-class="{deletion: et.correction.DeleteTrip}">
          <strong ng-if="et.correction.DeleteTrip">SLET TUR</strong>
          <ul>
            <li ng-repeat="(tg,dff) in et.diffs.diff"><strong>{{tg|dk_tags}}: </strong>
              {{dff.from}} &rarr; {{dff.to}}
              </li>
          </ul>
          <div ng-if="et.diffs.rowerdiff"><strong>Roere</strong>:
            <div class="rowerdiff">
              <ul>
                <li ng-repeat="(nm,rid) in et.diffs.rowerdiff.from"><strong>{{nm}} ({{rid}}) </strong></li>
              </ul>
              &darr;
              <ul>
                <li ng-repeat="(nm,rid) in et.diffs.rowerdiff.to"><strong>{{nm}} ({{rid}}) </strong></li>
              </ul>
            </div>                            
          </div>
          
        </td>
        <td>
          <button class="green" ng-click="approve_correction(et,$index)">Godkend</button>
          <button class="action " ng-click="reject_correction(et,$index)">Afvis</button>
        </td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>    
</div>  

<div ng-show="do=='reservations'">
  <form name="resv">
    <table class="genericlist" >
      <caption>Resevationer</caption>
      <thead>
        <tr>
          <th>Båd</th>
          <th>ugedag</th>
          <th>start</th>
          <th>(dato)</th>
          <th>slut</th>
          <th>(dato)</th>
          <th>turtype</th>
          <th>formål</th>
          <!--th>bemærkninger</th-->
          <th>gør</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class-odd="'oddboat'" ng-class-even="'evenboat'" ng-repeat="rv in reservations">
	  <td>{{iboats[rv.boat_id].name}}</td>
          <td>{{weekdays[rv.dayofweek].day}}</td>
          <td>{{rv.start_time}}</td>
          <td>
            <div ng-show="rv.dayofweek==0">{{rv.start_date}}</div>
          </td>
          <td>{{rv.end_time}}</td>          
          <td>
            <div ng-show="rv.end_date!='0000-00-00'">{{rv.end_date}}</div>
          </td>
          <td>{{getTriptypeWithID(rv.triptype_id).name}}</td>        
          <td>{{rv.purpose}}</td>
          <!--td>{{rv.description}}</td-->
          <td><button ng-click="cancel_reservation($index)" class="red">slet reservation</button></td>
        </tr>
        <tr>
	  <td><select ng-model="reservation.boat_id" ng-options="boat.id as boat.name for boat in allboats" required></select></td>
          <td><select ng-model="reservation.dayofweek" ng-options="dov.id as dov.day for dov in weekdays"
                      uib-tooltip="hvis det er en reservation på en fast ugedag. Ellers udfyld start- og slutdato"
                      ></select></td>
	  <td> 
            <uib-timepicker
               ng-model="reservation.start_time"
               show-spinners="false"
               show-meridian="false"
               required               
               />
          </td>            
	  <td>
            <fieldset ng-disabled="reservation.dayofweek>0">
              <datetimepicker               
                 uib-tooltip="startdato hvis det ikke er en fast ugedag"
                 popup="d MMM yyyy"
                 current-text="i dag"
                 close-text="vælg"
                 clear-text="rens"
                 date-format="yyyy-MM-dd"
                 hidden-time="true"
                 show-spinners="false"
                 date-options="dateOptions"
                 show-meridian="false"
                 ng-model="reservation.start_date"
                 />
              </fieldset>
          </td>
	  <td>
            <uib-timepicker
               ng-model="reservation.end_time"
               show-spinners="false"
               show-meridian="false"
               required
               />
          </td>
            
          <td>
            <fieldset ng-disabled="reservation.dayofweek>0">
	      <datetimepicker
                 uib-tooltip="slutdato hvis det ikke er en fast ugedag"
                 ng-disabled="reservation.dayofweek>0"
                 popup="d MMM yyyy"
                 close-text="vælg"
                 clear-text="rens"
                 current-text="i dag"
                 date-format="yyyy-MM-dd"
                 hidden-time="true"
                 show-spinners="false"
                 date-options="dateOptions"
                 show-meridian="false"
                 ng-model="reservation.end_date"
                 />
              </fieldset>
          </td>          
	  <td><select  ng-model="reservation.triptype_id" ng-options="tt.id as tt.name for tt in DB('triptypes')"
                       uib-tooltip="turtypen"
                       ></select></td>
          <td><input type="text" ng-model="reservation.purpose" required
                     uib-tooltip="Reservationsformål. Fx træning, navn på langtur, vedligehold"
                     ></td>
	  <!--td><input type="text" ng-model="reservation.description"></td-->
          <td><button ng-click="make_reservation(reservation)" class="green"
                      ng-disabled="resv.$invalid || (!reservation.dayofweek && !(reservation.start_date && reservation.end_date))"
                      >
              ny reservation</button></td>
        </tr>
        <tr><td colspan=8>en reservation skal have et start- og sluttidspunkt. Og <strong>enten</strong> en fast ugedag eller start og slutdatoer. Turtype og formål <strong>skal</strong> udfyldes</td></tr>

      </tbody>
    </table>    
  </form>
</div>  

<div ng-if="do=='events'">
  <table class="boatlist" >
    <caption>Hændelser</caption>
    <thead>
      <tr>
        <th>Tid</th>
        <th>Hændelse</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ev in DB('get_events')">
	<td>{{ev.event_time}}</td>	  
	<td>{{ev.event}} </td>
      </tr>
    </tbody>
  </table>    
</div>  

<div ng-if="do=='misc'">

  Denne terminal hedder  <input ng-model-options="{updateOn:'blur'}"
                                placeholder="Denne terminal hedder"
                                class="terminalnavn"
                                type="text"
                                ng-model="clientname"
                                ng_change="set_client_name()"
                                >

  <h2>andre sider</h2>

<p>  Her er sider til oversigter og eksport af data.</p>
  
<p> CSV filerne burde man kunne åbne og så gemme som regneark.</p>
<p>
  Reservationer og statistik for instruktion er offentlig tilgængeligt, så man ikke behøver at gå ned i klubben for at hente dem.
<p>
  De andre sider skal man enten bruge et password til eller man kan hente dem på en USB-stick fra terminalerne i bådhallen.
  </p>
</p>

  <ul class="tools">
    <li><a href="/backend/basic/current.php?returnlink">Dagens Ture.</a>
      <ul class="tools">
        <li>rød: skulle have været inde nu</li>
        <li>gul: på vandet</li>
        <li>grøn: turen afsluttet</li>        
      </ul>
    </li>
    
    <li><a href="/backend/stats/longdistancecoxes.php">Langdistancestyrmænd som CSV</a></li>
    <li><a href="http://roprotokol.danskestudentersroklub.dk/public/instruction_stat.php?returnlink=history">Antal instruktører, kaniner og både brugt til instruktion (eksternt link, offentlig adgang)</a></li>
    <li><a href="http://roprotokol.danskestudentersroklub.dk/public/reservations.php">Bådreservationer, som CVS, ekstern offentlig adgang</a></li>
    <li><a href="http://roprotokol.danskestudentersroklub.dk/public/reservationdays.php">Ugeskema for bådreservationer som CVS, ekstern offentlig adgang</a></li>
  </ul>
</div>

