<script type="text/ng-template" id="reporterTemplate.html">
  <a>
  <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
  {{match.model.name}} <i>({{match.model.id}})</i>
  </a>
</script>

<ng-form name="reportDamage">
  <label for="damages.anmelder">skademelder/klarmelder</label>
  <input ng-disabled="current_user"  placeholder="skriv dit navn her" autocomplete="off" id="anmelder" name="anmelder" type="text"
          ng-model="newdamage.reporter"
          uib-typeahead="rower as rower.name for rower in getRowerByName($viewValue)" typeahead-template-url="reporterTemplate.html"
          required />
  <label class="alert" ng-bind="damagesnewstatus"></label>

<br>

<script type="text/ng-template" id="boatTemplate.html">
  <a>
  <span bind-html-unsafe="match.label | uibTypeaheadHighlight:query"></span>
  {{match.model.name}} <i>({{match.model.category}})</i>
  </a>
</script>
<div class="report">
  <input placeholder="Vælg båd" autocomplete="off" id="select_boat" name="name" type="text" ng-model="newdamage.boat"
         typeahead-min-length="1" uib-typeahead="boat as boat.name for boat in getMatchingBoatsWithType($viewValue,boattype)"
         typeahead-template-url="boatTemplate.html" required>

  <select name="boattypechooser" id="boattypechooser" ng-model="boattype"
          ng-options="boatcategory.name for boatcategory in boatcategories">
    <option value="">alle typer</option>
  </select>

  
  <select name="damage" ng-model="newdamage.degree">
    <option value="" disabled default selected>grad?</option>
    <option value="1">1 let</option>
    <option value="2">2 middel</option>
    <option value="3">3 svær</option>
    <option value="4">4 Vedligehold</option>
  </select>
  <textarea placeholder="beskriv skaden" class="damagetext" autocomplete="off" id="damages.damage" name="skade" type="text"
            ng-model="newdamage.description" required></textarea>
  <button class="klar"
          ng-disabled="!(newdamage.reporter && newdamage.reporter.id && newdamage.boat.id && newdamage.description && newdamage.degree)"
          id="newdamagereport_button"
          ng-click="reportDamageForBoat(newdamage)">
    <i class="fa fa-thumbs-down"></i>Meld ny skade
  </button>
  <label class="alert" ng-show="newdamage.description && !newdamage.reporter">Skriv dit navn som skademelder</label>
  </div>
</ng-form>

<br>
<table class="genericlist">
  <thead>
    <tr><th>Båd</th><th ng-show="!boattype"></th><th>Skadeanmelder</th><th>Dato</th><th>Grad</th><th>Beskrivelse</th><th>klarmeld</th></tr>
  </thead>
  <tr ng-class-odd="'oddboat'" ng-class-even="'evenboat'" ng-repeat="bd in allboatdamages | filter: matchBoatAndType(newdamage.boat,boattype)">
    <td>{{bd.boat}}</td>
    <td ng-show="!boattype">{{bd.boattype}}</td>
    <td>{{bd.reporter}}</td>
    <td>{{bd.created| txttotime | date:"d. MMM yyyy"}}</td>
    <td class="degree">{{bd.degree|damagedegreedk}}</td>
    <td>{{bd.description}}</td>
    <td class="ok" ng-click="reportFixDamage(bd,newdamage.reporter,allboatdamages,$index)">
      <button ng-disabled="!(newdamage.reporter && newdamage.reporter.id)" class="klar"><i class="fa fa-thumbs-up"></i>
      </button>
    </td>
  </tr>
</table>
<!--pre>newdamage= {{newdamage | json}}</pre-->
