<div class="listsmenu onwater">
  <table class="genericlist">
    <caption>På vandet</caption>
    <thead>
      <tr><th>Båd</th><th>Tur start</th><th>Forventet inde</th><th>Destination</th><th>Tur ID</th><th>turtype</th><th>roere</th></tr>
    </thead>
    <tr ng-repeat="tw in onwater" ng-class-odd="'oddboat'" ng-class-even="'evenboat'" >
      <td >{{tw.boat}}</td><td>{{tw.outtime | txttotime | date :"HH:mm d. MMM"}}</td>
      <td ng-class="{datealert: critical_time(tw.expectedintime)}">{{tw.expectedintime | txttotime | date :"HH:mm d. MMM"}}</td>
      <td>{{tw.destination}}</td><td>{{tw.id}}</td><td>{{tw.triptype}}</td>
      <td>
	<ol>
	  <li ng-repeat="roer in tw.rowers">{{roer.name}}</li>
	</ol>
      </td>      
    </tr>
  </table>
</div>

<div class="todaystrips">
  <table class="genericlist">
    <caption>Dagens Ture</caption>
    <thead>
      <tr><th>Båd</th><th>Tur start</th><th>Inde</th><th>Destination</th><th>Tur ID</th><th>turtype</th><th>roere</th></tr>
    </thead>
    <tr ng-repeat="tt in tripstoday" ng-class-odd="'oddboat'" ng-class-even="'evenboat'" >
      <td>{{tt.boat}}</td><td>{{tt.outtime | txttotime | date :"HH:mm"}}</td>
      <td>{{tt.intime  | txttotime | date :"HH:mm d. MMM"}}</td>
      <td>{{tt.destination}}</td><td>{{tt.id}}</td><td>{{tt.triptype}}</td>
      <td>
	<ol>
	  <li ng-repeat="roer in tt.rowers"> {{roer.name}}</li>
	</ol>
      </td>
    </tr>
  </table>
</div>

<div class="setboats">
  <h2>Sæt både</h2>  
  <dl>
    <dt>2 åres Inrigger</dt><dd>{{available["Inrigger 2+"].amount}}: {{available["Inrigger 2+"].boats}}</dd>
    <dt>4 åres Inrigger</dt><dd>{{available["Inrigger 4+"].amount}}: {{available["Inrigger 4+"].boats}}</dd>   
  </dl>
  <div class="boatcrew">
    <table class="crewcount">
      <caption>mandskab Der kan komme {{maxcrew}} på vandet</caption>
      <body>
        <tr>
 	  <td align="right"><input class="numin" autocomplete="off" id="numcox" type="number" min="1" size="3" ng-model="coxs" ng-change="updatecrew()"></td>
	  <td align="right"><input class="numin" autocomplete="off" id="numrowers" type="number" min="0" size="3" ng-model="rowers" ng-change="updatecrew()"></td>
        </tr>
        <tr>
	  <td>styrmænd</td>
          <td>roere</td> 
        </tr>
        </body>
    </table>
    
    <table class="boatcombinations">
      <caption>Både</caption>
      <tr> <th>to+</th><th>fire+</th></tr>    
      <tr ng-class-odd="'oddboat'" ng-class-even="'evenboat'" ng-repeat="bc in boatcoms"><td >{{bc.i2}}</td><td>{{bc.i4}}</td>
      </tr>
    </table>
  </div>
</div>

<!--pre>tripstoday = {{tripstoday | json}}</pre>
<pre>onwater = {{onwater | json}}</pre-->
