/*// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);*/

/* Generic */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: #555;
    background: #F1F2F7;
    font-weight: 400;
}
button {
    border-radius: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    width: auto;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
pre.ng-binding {
    /* display: none; */
}
*:focus {
    outline: 0;
}

button {
    -webkit-appearance: none;
    background: none;
    border-radius: 5px;
    border: 0;
    padding: 4pt 10pt;
    margin-top: 5pt;
    border: 1px solid #ccc;
}

button:hover {
/*    color: #23AEE2;*/
/*    border: 1px solid #23AEE2;*/
}
button i {
    margin-right: 5pt;
}
button.red {   
    border: 1px solid #FF6C60;
    color: #FF6C60;
}
button.green {   
    border: 1px solid #3ECBBF;
    color: #3ECBBF;
}
button.klar {   
    border: 1px solid #3ECBBF;
    color: #000000;
    background:#F1FFEF;
    padding: 1pt 3pt;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}


button.yellow {
    color: #f0ce4e;
    border: 1px solid #f0ce4e;
}

td.usage {
    max-width:14pt;
}

td.boatname {
    max-width:6em;
}

button.big {
    color: #000000;
    background: #ff8866; !important;
    border: 2px solid #000000;
}

button.minor {
    color: #000000;
    font-size: 8pt;
    background: #C76D6B; !important;
    border: 1px solid #000000;
    padding 4px;
    margin-left: 4px;
}


button.action {
    color: #000000;
    background: #ff8866; !important;
    border: 1px solid #000000;
    padding: 0pt 8pt;
    margin-top:0pt;
}

input.big {
    color: #000000;
    background: #ff8866; !important;
    border: 2px solid #000000;
}


button#createtrip_button[disabled] {
  color: gray;
  border: 1px solid blue;
}

/* Custom */
.menuholder {
    margin: 0;
}
.menu li.logo {
    padding: 0;
    padding-top: 3pt;
    padding-left: 4pt;
}
.logo img {
    height: 30pt;
}
.menu {
    list-style: none;
    background: #0088C0;
    padding: 0 10pt;
    margin: 0;
    width: 70%
}
.menu li {
    display: inline-block;
    padding: 4pt 4pt;
    margin: 0;
    cursor: pointer;
    vertical-align: top;
}
.menu li a {
    color: white;
    text-decoration: none;
}
.menu li:hover a {
    color: #d4d4c8;
}
.menu li i {
    font-size: 12pt;
    margin-right: 4pt;
}
.menu li:hover i {
    color: #ede511;
}

.main {
    margin: 0;   
    padding: 4pt 6pt;
}

.prompt {
  display:inline-block;
}
button.statcat, button.adminbut {
    background: #ED5D92;
    margin: 3pt;
}


.boatlist,
.statlist,
.genericlist,
.rower,
.boatcategories,
.genericcategories,
.stats,
.baselayout,
.setboats {
    display: inline-block;
    vertical-align: top;
    margin-right: 3pt;
    margin-left: 3pt;
}

.boatlist {
    float:left;
}

.adminrower,.adminconvertrower {
    float:left;
    width: 100%;
}

.checkout_destination {
    min-width : 200px;
}

.checkout-form {
    display: inline-block;
    vertical-align: top;
    margin-right: 1pt;
    margin-left: 1pt;
    float:left;
    border: 4px solid red;
    border-style: solid;
    border-color: red;
    border-radius: 1.5em;
    padding: 1em;
}


.boatdamages {
    display: inline-block;
    vertical-align: top;
    margin-right: 10pt;
    display: inline-block;
    padding: 8px;
}

.genericmenu h2,.boattypesmenu h2,.setboats h2,.seasonschart h2 {
    background: #23aee2;
    padding: 10pt;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    border-radius: 5px 5px 0 0;
}
.genericmenu ul {
    background: white;
}
.genericmenu ul li {
    cursor: pointer;
}

.genericmenu ul li:hover {
    background: #57C8F2;
}

.genericmenu {
	     width: auto;
}

.boattypesmenu {
    margin-left=1%;
    margin-right=1%;
    float:left;
}

.boatstat {
    float:left;
}
.rowerstat {
    float:left;
    margin-bottom: 2em;
}

.triptypeview {
    float:left;
}

.tripview {
    float:right;
    right:0px;
    margin-top: 0.5em;
    bottom:0px;
    top:0px;
    width: 29%;
    position :fixed;
}

.listmenu,.boattypesmenu caption{
    background: #23aee2;
    padding: 10pt;
    font-size: 10pt;
    font-weight: 400;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.listmenu,.boattypesmenu table caption {
    background: #23aee2;
    padding: 10pt;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}

table caption {
    background: #23aee2;
    color: white;
    font-size: 12pt;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid white;
    text-align: center;
}

.correction {
    border-style: solid;
    border-color: #ff0000;
    border-radius: 5px 5px 5px 5px;
    display:inline-block;
}

.rightbox {
    float:right;
    border-style: solid;
    border-color: #ff0000;
    border-radius: 5px 5px 5px 5px;
    width:auto;
//    display: inline-block;
    padding: 5px;
    right : 0px;
    margin-top: 3em;
    top:0px;
    max-width: 32%;
    position :fixed;
}

.blok, .destinations {
    display: inline-block;
    float: left;
}
.rowchart {
    display: inline-block;
    width : 100%;
}

.newboattype {
    margin-top: 2em;
}

.listmenu,.boattypesmenu ul {
    background: white;
}
.boattypesmenu ul li {
    cursor: pointer;
    background: #C6EFFF;
    padding-left:0.5em;
}

.boattypesmenu ul li:last-child {
    border-radius: 0 0 1em 1em;
    padding-bottom: 0.5em;
}


li.selected {
    background: #EBA5C1;
}

.listmenu,.boattypesmenu ul li:hover {
    background: #57C8F2;
}
.listmenu,.boattypesmenu ul li:hover a {
    color: white;
}

.leftblock,.boatadmin {
    max-width:67%;
}

.boatadminap {
    font-size: 8pt;
}

.boatlist,.statlist,.genericlist {
    border-radius: 5px;
    overflow: visible;
    float:left;
    margin-bottom: 2em;

}


.boatlist thead th {
    background: #3ECBBF;
    color: white;
    padding: 9pt 10pt 9pt 10pt;
    font-weight: 400;
    border-right: 1px solid white;
}

.genericlist thead th {
    background: #3ECBBF;
    color: white;
    padding: 9pt 10pt 9pt 10pt;
    font-weight: 400;
    border-right: 1px solid white;
}

.statlist thead th {
    background: #3ECBBF;
    color: white;
    padding: 9pt 10pt 9pt 10pt;
    font-weight: 400;
    border-right: 1px solid white;
}

.boatlist thead th:first-child {
    border-radius: 5px 0 0 0;
}


.boatlist thead th:last-child {
    border-radius: 0 5px 0 0 0;
    background: #3ECBBF;
}

.boatlist thead th:last-child {
    border-radius: 0 5px 0 0 !important;
}

.genericlist td {
    padding: 0 0 0 0;
    border-right: 1px solid #F1F2F7;
    border-bottom: 1px solid #F1F2F7;
}

.rnum {
    text-align: right!important;
    padding-right: 6px;
}

.selected td {
    padding: 0 0 0 0;
    border-right: 1px solid #F1F2F7;
    border-bottom: 1px solid #F1F2F7;
    background: #EBA5C1;
}

.boatlist tr td {
    padding: 2pt 4pt 2pt 6pt;
}

.boatlist tr td.colinput {
    text-align:center;
}

.deletion  {
    background: #F5B8B8;
}

.boatlist tr:hover {
    background: #6ad7ce;
}
.boatlist tr td {
    cursor: pointer;
/*    cursor: url('btc.png'),pointer; */
}
.statlist td {
    padding: 6pt 10pt 6pt 10pt;
    border-right: 1px solid #F1F2F7;
    border-bottom: 1px solid #F1F2F7;
}

.checkout-form h2 {
    background: #3ECBBF;
    padding: 10pt;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    border-bottom: 1px solid white;
    border-radius: 1.5em 1.5em 0 0;
}
.checkout-form form {
    padding: 1pt;
    background: white;
}
.checkout-form label {
    font-weight: 400;
    color: #555;
}
.checkout-form td > input,
.checkout-form select,
.checkout-form textarea {
    border-radius: 1.5empx;
    border: 1px solid #ccc;
    padding: 3pt;
    margin-bottom: 0pt;
}
.checkout-form .dropdown {
    margin-bottom: 10pt;
}
.checkout-form td > input,
.checkout-form select,
.checkout-form .quickdate,
.checkout-form .dropdown,
.checkout-form textarea {
    margin-right: 2pt;
    margin-left: 0pt;
}
    
.damageslist h2 {
    background: #f0ce4e;
    padding: 10pt;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}
.damageslist ul {
    background: white;
    padding: 10pt;
}
.damageslist {
    display: inline-block;
    float:left;
    clear:left;
    max-width: 30em;
    margin-top: 1em;    
}

.checkoutBoat{
    display: inline-block;
    float:left;
}

.oddstat {
    background: #FFAA88;
}
.oddboat {
    background: #E8F2F3;
}

.evenboat {
    background: #DBC4BB;
}


.stattypesmenu h2 {
    background: #23aee2;
    padding: 10pt;
    color: white;
    font-size: 10pt;
    font-weight: 400;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}
.stattypesmenu ul li {
    padding: 5pt 10pt;
    cursor: pointer;
}
.stattypesmenu ul {
    background: white;
}

.error {
  color: red;
}

.oauth,.farvand {
    float:left;
    margin-left: 1em;
    margin-top: 1em;
}

.turoversigt,.boattrips {
    display:inline-block;
    float:left;
    vertiacal-align:top;
}

.seasonschart {
    display:inline-block;
    float:left;
    width:70%;
}

textarea.damagetext {
    width:50%;
    vertical-align: top;
}

div.report {
    margin-top: 1.5em;
}

div.guestpenguin {
  margin: 0em 1em 2em 0em !important;
}


.newright {
    background: #9BDDEF;
}

.right_select {
    border-radius: 5px;
    height: 2em;
    min-width : 10em;
    display: inline-block;
        
}

input.adminpw {
    border-radius: 5px;
    background: yellow;
}

.setboats table {
    min-width: 42em;
}

.setboats dl dd {
    min-width: 20em;
}

.setboats table {
    min-width: 2em;
    margin: 1em;
    border-left: 2px solid #23aee2;
    border-right: 2px solid #23aee2;
    border-bottom: 2px solid #23aee2;
    border-radius: 1.5em;
    padding: 1em;
}


.boatcrew table {
    float:left;
}

.onwater,.todaystrips {
    float:left;
    margin-right:1.5%;
    margin-bottom:2%;
}

.setboats {
    float:left;
    max-width:25%;
    margin-bottom:2%;
}


.boatcrew table td{
  padding: 0.7em;
}

.numin  {
    max-width: 3em;
    text-align: right!important;
    
}

input[type=number]::-webkit-inner-spin-button {  
   opacity: 1;
}

.boatcombinations tr th {
    min-width:4em;
}

select  {
    border-radius: 1.5empx;
    border: 1px solid #ccc;
    padding: 3pt;
    margin-bottom: 0pt;
    background-color: #FFB992;
    border-radius: 5px;
}

.boattypeform {
    margin-top: 2em;

}

.leftpane {
    float:left;
    width:70%;
}

.alert {
    color: #f00;
}

.uib-datepicker-popup {
    top :0px!important;
}

.debug {
    width:100%;
}

.checkinactions {
    display: flex;
}
